{% import "common.html" as common %}

<!-- TODO Drawer filters -->

<div class="flex items-start">
  <!-- Filters -->
  <div id="explore-filters" class="relative hidden w-1/4 lg:block bg-white border rounded-lg">
    {% block filters %}
      <div></div>
    {% endblock %}
  </div>
  <!-- End filters -->

  <div id="explore-cards" class="relative w-full lg:w-3/4 lg:pl-10 self-stretch">
    <div class="relative flex flex-col bg-white border rounded-lg pt-5 md:pt-7 h-full">
      <div class="flex items-center mb-10 px-5 md:px-7">
        <!-- Mobile filters button -->
        <div class="flex lg:hidden">
          <button
            class="h-10 w-10 mr-5 inline-flex justify-center items-center bg-primary-500 text-white text-lg rounded-full p-2 hover:bg-primary-700"
            onclick="openFilters()"
          >
            <svg
              class="w-4 h-4"
              stroke="currentColor"
              fill="none"
              stroke-width="2"
              viewBox="0 0 24 24"
              stroke-linecap="round"
              stroke-linejoin="round"
              height="1em"
              width="1em"
              xmlns="http://www.w3.org/2000/svg"
            >
              <polygon points="22 3 2 3 10 12.46 10 19 14 21 14 12.46 22 3"></polygon>
            </svg>
          </button>
        </div>
        <!-- End mobile filters button -->

        <div class="grow flex items-center justify-center">
          <!-- Searchbar -->
          <div class="w-full">
            {% block searchbar %}{% endblock %}
          </div>
          <!-- End searchbar -->
        </div>
      </div>
      <div class="flex items-end justify-between px-5 md:items-center md:px-7">
        <!-- Results -->
        <div id="results" class="hidden font-semibold text-sm text-black w-[175px] md:flex">{% block results %}{% endblock %}</div>
        <!-- End results -->

        <!-- Sort by -->
        <div class="flex flex-col items-start sm:items-center sm:flex-row">
          <label
            for="sort_by"
            class="font-semibold text-filterTitle text-black leading-6 me-3"
            >Sort by</label
          >

          <select
            id="sort_by"
            name="sort_by"
            class="block w-40 py-2 px-3 text-sm text-gray-900 bg-white border border-gray-300 rounded-full focus:outline-none focus:ring-0 focus:border-gray-300 hover:border-primary-500 focus:hover:border-primary-500"
            onchange="triggerChangeOnForm('{% block section %}{% endblock %}-form')"
          >
          {% if let Some(sort_by) = filters.sort_by %}
            <option value="date" {% if sort_by == "date" %}selected{% endif %}>Date</option>
            {% if filters.longitude.is_some() && filters.latitude.is_some() %}
              <option value="distance" {% if sort_by == "distance" %}selected{% endif %}>Distance</option>
            {% endif %}
          {% else %}
            <option value="date" selected>Date</option>
            {% if filters.longitude.is_some() && filters.latitude.is_some() %}
              <option value="distance">Distance</option>
            {% endif %}
          {% endif %}
          </select>
        </div>
        <!-- End sort by -->

        <!-- View mode -->
        <div class="flex flex-col items-start sm:items-center sm:flex-row">
          <label
            for="view_mode"
            class="font-semibold text-filterTitle text-black leading-6 me-3"
            >View mode</label
          >
          <select
            id="view_mode"
            name="view_mode"
            class="block w-40 py-2 px-3 text-sm text-gray-900 bg-white border border-gray-300 rounded-full focus:outline-none focus:ring-0 focus:border-gray-300 hover:border-primary-500 focus:hover:border-primary-500"
          >
            <option value="grid" selected>Grid</option>
            {% if filters.longitude.is_some() && filters.latitude.is_some() %}
              <option value="map">Map</option>
            {% endif %}
            <option value="calendar">Calendar</option>
          </select>
        </div>
        <!-- End view mode -->
      </div>

      <!-- Results mobile -->
      <div id="results-mobile" class="flex justify-end mt-3 font-semibold text-sm text-black px-5 md:px-7 md:hidden md:mt-0">{% block results %}{% endblock %}</div>
      <!-- End results mobile -->

      <!-- Cards -->
      <div id="cards-list" class="flex flex-col justify-between grow">
        {% block content %}
          <div></div>
        {% endblock %}
      </div>
      <!-- End cards -->
    </div>
  </div>
</div>
