{% import "common.html" as common %}
{% extends "community/explore/base.html" %}

{% block filters %}
  {% include "community/explore/filters.html" %}
{% endblock %}

{% block content %}
  <div class="bg-white border rounded-lg mb-10 pt-5 md:pt-7">
    <div class="flex items-center mb-10 px-5 md:px-7">
      <!-- Mobile filters button -->
      <div class="flex lg:hidden">
        <button
          class="h-10 w-10 mr-5 inline-flex justify-center items-center bg-primary-500 text-white text-lg rounded-full p-2 hover:bg-primary-700"
          onclick="openFilters()"
        >
          <svg
            class="w-4 h-4"
            stroke="currentColor"
            fill="none"
            stroke-width="2"
            viewBox="0 0 24 24"
            stroke-linecap="round"
            stroke-linejoin="round"
            height="1em"
            width="1em"
            xmlns="http://www.w3.org/2000/svg"
          >
            <polygon points="22 3 2 3 10 12.46 10 19 14 21 14 12.46 22 3"></polygon>
          </svg>
        </button>
      </div>
      <!-- End mobile filters button -->

      <div class="grow flex items-center justify-center">
        <div class="w-full">
          {% call common::search_bar("", "w-full mx-auto md:w-3/4") %}
        </div>
      </div>
    </div>
    <div class="flex items-end justify-between px-5 md:items-center md:px-7">
      <div class="hidden font-semibold text-sm text-black md:flex">1 - {{ groups.len() }} of {{ groups.len() }} results</div>
      <div class="flex flex-col items-start sm:items-center sm:flex-row">
        <label
          for="sort"
          class="font-semibold text-filterTitle text-black leading-6 me-3"
          >Sort by</label
        >
        <select
          id="sort"
          class="block w-40 py-2 px-3 text-sm text-gray-900 bg-white border border-gray-300 rounded-full focus:ring-primary-500 focus:border-primary-500"
        >
          <option value="date" selected>Date</option>
        </select>
      </div>
      <div>
        {% call common::secondary_button("<span class='hidden md:block'>Browse in map</span><span class='block md:hidden'>Map</span>", "map", "() => console.log('hola')", "") %}
      </div>
    </div>
    <div class="flex justify-end mt-3 font-semibold text-sm text-black px-5 md:px-7 md:hidden md:mt-0">1 - {{ groups.len() }} of {{ groups.len() }} results</div>

    <!-- Cards -->
    <div class="flex flex-col divide-y mt-5 border-t border-gray-100 md:mt-7">
      {% for group in groups %}
        {% call group_card(group) %}
      {% endfor %}
    </div>
    <!-- End cards -->
  </div>
{% endblock %}

<!-- Group card -->
{% macro group_card(group) %}
  <div class="flex flex-1 flex-row items-stretch p-5 md:p-7">
    <!-- Group icon -->
    <div
      class="h-24 min-w-24 md:h-[140px] md:min-w-[140px] my-auto bg-no-repeat bg-center bg-cover rounded-lg border"
      style="
        background-image: url({% if let Some(icon_url) = group.icon_url %}{{ icon_url }}{% else %}https://raw.githubusercontent.com/cncf/artwork/refs/heads/main/other/cncf/icon/color/cncf-icon-color.png{% endif %});
      "
    ></div>
    <!-- End group icon -->

    <div class="min-w-0 pl-4 content-center">
      <div class="flex flex-col justify-between h-full">
        <div>
          <!-- Group region -->
          <div class="truncate leading-3">
            <span class="text-xs font-semibold tracking-wide text-gray-400 uppercase">{{ group.region_name }}</span>
          </div>
          <!-- End group region -->

          <!-- Group name -->
          <h2 class="font-semibold truncate">{{ group.name }}</h2>
          <!-- End group name -->
        </div>

        <!-- Group description -->
        <div class="relative text-xs text-gray-500 leading-[1.2rem] line-clamp-2 h-[36px] md:my-2">
          {{ group.description|safe }}
        </div>
        <!-- End group description -->

        <!-- Group location -->
        <div class="flex flex-row leading-4 pt-1 lg:pt-2">
          {% if let Some(city) = group.city %}
            <svg class="mt-0.5 w-3 h-3 me-2" stroke="currentColor" fill="currentColor" stroke-width="0" viewBox="0 0 384 512" height="1em" width="1em" xmlns="http://www.w3.org/2000/svg"><path d="M215.7 499.2C267 435 384 279.4 384 192C384 86 298 0 192 0S0 86 0 192c0 87.4 117 243 168.3 307.2c12.3 15.3 35.1 15.3 47.4 0zM192 128a64 64 0 1 1 0 128 64 64 0 1 1 0-128z"></path></svg>
            <div class="truncate text-gray-700 text-xs uppercase">
                {{ city }}{% if let Some(state) = group.state %}, {{ state }} {% endif %}
              {% if let Some(country) = group.country %}
                  , {{ country }}
              {% endif %}
            </div>
          {% endif %}
        </div>
        <!-- End group location -->
      </div>
    </div>
  </div>
{% endmacro %}
<!-- End group card -->
