@import "tailwindcss";

@plugin "@tailwindcss/forms";

@source "static/js";
@source "templates";

@theme {
  --font-inter: Inter, sans-serif;
  --font-sans:
    "Inter", -apple-system, BlinkMacSystemFont, "Segoe UI", Helvetica,
    Arial, sans-serif, Roboto, Ubuntu, "Apple Color Emoji", "Segoe UI Emoji",
    "Segoe UI Symbol";
  --color-primary-50: #FDF4FA;
  --color-primary-100: #FBE9F4;
  --color-primary-200: #F5C8E4;
  --color-primary-300: #EB90C9;
  --color-primary-400: #E059AE;
  --color-primary-500: #D62293;
  --color-primary-600: #C11F84;
  --color-primary-700: #AB1B76;
  --color-primary-800: #8B1660;
  --color-primary-900: #6B114A;
  --color-primary-950: #4C0D34;
}

@layer components {
  .btn-primary {
     @apply py-1.5 px-5 h-10 text-sm text-center text-white rounded-full bg-primary-500 transition-colors enabled:hover:bg-primary-700 enabled:focus:ring-4 enabled:focus:ring-primary-300 enabled:active:ring-4 enabled:active:ring-primary-300 enabled:focus:bg-primary-700 enabled:focus:text-white relative overflow-hidden;
  }

  .btn-primary-anchor {
    @apply py-2 px-5 inline-block text-sm text-center text-white rounded-full bg-primary-500 transition-colors hover:bg-primary-700 focus:ring-4 focus:ring-primary-300 active:ring-4 active:ring-primary-300 focus:bg-primary-700 focus:text-white relative overflow-hidden;
  }

  .btn-secondary {
    @apply py-1.5 px-5 h-10 bg-white items-center text-sm text-center text-primary-500 rounded-full border border-primary-500 transition-colors enabled:hover:bg-primary-500 enabled:hover:text-white enabled:focus:ring-4 enabled:focus:ring-primary-300 enabled:active:ring-4 enabled:active:ring-primary-300 enabled:focus:bg-primary-700 enabled:focus:text-white relative overflow-hidden;
  }

  .btn-secondary-anchor {
    @apply py-2 px-5 inline-block bg-white items-center text-sm text-center text-primary-500 rounded-full border border-primary-500 transition-colors hover:bg-primary-500 hover:text-white focus:ring-4 focus:ring-primary-300 active:ring-4 active:ring-primary-300 focus:bg-primary-700 focus:text-white relative overflow-hidden;
  }

  .btn-tertiary {
    @apply enabled:cursor-pointer text-center text-sm/6 text-stone-900 px-5 py-2 border-transparent transition-colors rounded-full focus:ring-0 focus:outline-none focus:ring-transparent hover:enabled:bg-stone-50 hover:enabled:border-stone-50 relative overflow-hidden;
  }

  .btn-tertiary-anchor {
    @apply cursor-pointer text-center text-sm/6 text-stone-900 px-5 py-2 border-transparent transition-colors rounded-full focus:ring-0 focus:outline-none focus:ring-transparent hover:bg-stone-50 hover:border-stone-50 relative overflow-hidden;
  }

  .btn-tertiary .svg-icon,
  .btn-tertiary-anchor .svg-icon {
    @apply bg-stone-900;
  }

  .btn-primary-outline {
    @apply enabled:cursor-pointer text-center text-primary-500 border border-primary-500 transition-colors bg-white rounded-full hover:enabled:text-white hover:enabled:bg-primary-500 hover:enabled:border-primary-500 focus:ring-0 focus:outline-none focus:ring-transparent text-sm px-5 py-2 relative overflow-hidden;
  }

  .btn-primary-outline-anchor {
    @apply cursor-pointer text-center text-primary-500 border border-primary-500 bg-white transition-colors rounded-full hover:text-white hover:bg-primary-500 hover:border-primary-500 focus:ring-0 focus:outline-none focus:ring-transparent text-sm px-5 py-2 relative overflow-hidden;
  }

  .btn-primary-outline .svg-icon,
  .btn-primary-outline-anchor .svg-icon {
    @apply bg-current;
  }

  .btn-mini {
    @apply py-1 px-3 text-xs;
  }

  .icon-text {
    @apply flex flex-row items-center leading-4;
  }

  .icon-text img {
    @apply -mt-0.5 w-3 h-3;
  }

  .icon-text span {
    @apply text-xs text-stone-700 uppercase truncate;
  }

  .event-badge {
    @apply -mt-px border border-stone-200 text-stone-500 text-[10px] text-nowrap uppercase font-medium px-1.5 rounded-full;
  }

  .event-badge.canceled {
    @apply border-red-300 text-red-500;
  }

  .card {
    @apply flex flex-1 flex-row items-center;
  }

  .card-logo {
    @apply relative;
  }

  .card-content {
    @apply min-w-0 pl-4 content-center h-full w-full;
  }

  .card-body {
    @apply flex flex-col justify-between w-full h-full;
  }

  .card-header {
    @apply truncate leading-3 text-stone-400;
  }

  .card-header span {
    @apply text-xs font-semibold tracking-wide uppercase;
  }

  .card-title {
    @apply font-semibold text-wrap text-black line-clamp-1 text-[0.9rem] lg:line-clamp-2 lg:h-[41px] mb-2 mt-1;
  }

  .card-meta {
    @apply flex items-center leading-4 pt-1 lg:pt-2;
  }

  .card-meta + .card-meta {
    @apply pt-1.5;
  }

  .input-primary {
    @apply block w-full rounded-md bg-white px-3 py-1.5 text-base text-stone-900 border border-stone-200 placeholder:text-stone-500/75 focus:outline-2 focus:-outline-offset-2 focus:outline-primary-700 focus:ring-transparent sm:text-sm/6;
  }

  .select-primary {
    @apply relative col-start-1 row-start-1 w-full appearance-none rounded-md bg-white py-1.5 pl-3 pr-8 text-base text-stone-900 border border-stone-200 focus:outline-2 focus:-outline-offset-2 focus:outline-primary-700 focus:ring-transparent sm:text-sm/6;
  }

  .radio-primary {
    @apply size-4 text-primary-700 border border-stone-200 bg-stone-50 checked:border-primary-500 checked:bg-primary-500 cursor-pointer focus:ring-0 focus:ring-transparent;
  }

  .checkbox-primary {
    @apply size-4 rounded-sm text-primary-700 border border-stone-200 bg-stone-50 checked:border-primary-500 checked:bg-primary-500 cursor-pointer focus:ring-0 focus:ring-transparent;
  }

  .asterisk {
    @apply font-bold text-stone-900 text-lg/4;
  }

  .form-label {
    @apply block text-sm/6 font-medium text-stone-900;
  }

  .form-legend {
    @apply mt-1 text-xs/6 text-stone-600;
  }

  /* Shared empty state for dashboard charts */
  .chart-empty-state {
    @apply flex items-center justify-center bg-stone-50 rounded-lg text-stone-500 text-sm p-4 min-h-[220px];
  }

  .featured-speakers-grid:empty {
    display: none;
    margin: 0;
  }

  .featured-speakers-grid:not(:empty) + .regular-speakers-grid {
    margin-top: 1.5rem;
  }

  .featured-sessions-grid:empty {
    display: none;
    margin: 0;
  }

  .featured-sessions-grid:not(:empty) + .regular-sessions-speakers {
    margin-top: 0.75rem;
  }
}

:root {
  /* Full Calendar */
  --fc-small-font-size: .7em;
  --fc-event-bg-color: rgb(229, 231, 235);
  --fc-event-border-color: rgb(209, 213, 219);
  --fc-today-bg-color: color-mix(in oklab, var(--ocg-primary) 5%, white);
  --fc-event-text-color: black;
}

.svg-icon {
  /* Important for Edge browser */
  -webkit-mask-size: 100%;
  mask-size: 100%;
  -webkit-mask-repeat: no-repeat;
  mask-repeat: no-repeat;
  -webkit-mask-position: center;
  mask-position: center;
}

.placeholder-logo {
  mask-image: url(/static/images/placeholder_cncf.png);
  mask-mode: alpha;
  mask-size: cover;
}

button:enabled {
  cursor: pointer;
}

button:disabled {
  opacity: 0.5;
}

/* Generic styles */
button:focus-visible, input:focus-visible, select:focus-visible, textarea:focus-visible {
  outline: 0;
}
/* End generic styles */

@supports (font-size: 1cap) {
  .caps {
    /* Cut descenders “air” */
    padding-block: calc((1em - 1cap) / 2);
  }
}

/* Footer */
.copyright a {
  color: white;
  font-weight: 600;
}

/* Jumbotron */
.jumbotron-description a, .new-group-content a {
  color: var(--ocg-primary);
  font-weight: 600;
}

/* Input */
input:placeholder-shown {
  text-overflow: ellipsis;
}

/* Full calendar */
.fc-view-harness {
  height: 816px !important;
}

.fc-col-header-cell-cushion {
  color: rgb(75 85 99);
}

.fc-event-title {
  border-radius: 9999px;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}

/* Prevent browser tooltip on over when text overflows */
.fc-event-title::after {
  content: '';
  display: block;
}

.fc-daygrid-event {
  padding: 0 0.25rem;
  border-radius: 999px;
}

.fc-daygrid-event-harness:hover div[data-popover] {
  opacity: 1;
  visibility: visible;
}

.fc-daygrid-day-frame {
  height: 130px;
}

.fc-daygrid-more-link {
  font-size: 0.75rem;
  line-height: 1rem;
  font-weight: 500;
  margin-top: 0.5rem !important;
  color: rgb(107, 114, 128);
}

.fc-daygrid-more-link:hover {
  background-color: transparent !important;
  color: rgb(55, 65, 81);
}
/* End full calendar */

/* Leaflet */
.leaflet-touch .leaflet-bar a {
  height: 35px !important;
}

.leaflet-tooltip {
  font-family: "Clarity City", -apple-system, BlinkMacSystemFont, "Segoe UI", Helvetica, Arial, sans-serif, Roboto, Ubuntu, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
  box-shadow: rgba(0, 0, 0, 0) 0px 0px 0px 0px, rgba(0, 0, 0, 0) 0px 0px 0px 0px, rgba(0, 0, 0, 0.1) 0px 10px 15px -3px, rgba(0, 0, 0, 0.1) 0px 4px 6px -4px;
  border: 1px solid rgb(209, 213, 219);
  border-radius: 0.5rem;
}

.leaflet-tooltip > div {
  width: 370px !important;
}

.leaflet-container a {
  color: inherit !important;
}
/* End Leaflet */

/* Marker cluster */
.marker-cluster-small, .marker-cluster-medium, .marker-cluster-large {
  background-color: color-mix(in oklab, var(--ocg-primary) 50%, white) !important;
}

.marker-cluster-small div, .marker-cluster-medium div, .marker-cluster-large div {
  background-color: var(--ocg-primary) !important;
  color: white;
  font-weight: 700;
}
/* End marker cluster */

/* Tooltip */
.tooltip-with-arrow::after {
  border: 5px solid #0000;
  content: "";
  display: block;
  height: 0;
  position: absolute;
  width: 0;
}

.tooltip-with-arrow:not(.end-0)::after {
  left: 20px;
  right: auto;
}

.tooltip-with-arrow.end-0::after {
  left: auto;
  right: 20px;
}

.tooltip-with-arrow:not(.top-0)::after {
  border-bottom: 5px solid rgb(209, 213, 219);
  bottom: auto;
  top: -4px;
}

.tooltip-with-arrow.top-0::after {
  border-top: 5px solid rgb(209, 213, 219);
  bottom: -4px;
  top: auto;
}
/* End tooltip */

/* Icons */
[class*="icon-"] {
  mask-image: var(--icon-url);
  -webkit-mask-image: var(--icon-url);
}

.icon-arrow-left-double { --icon-url: url('/static/images/icons/arrow_left_double.svg'); }
.icon-arrow-left { --icon-url: url('/static/images/icons/arrow_left.svg'); }
.icon-arrow-right-double { --icon-url: url('/static/images/icons/arrow_right_double.svg'); }
.icon-arrow-right { --icon-url: url('/static/images/icons/arrow_right.svg'); }
.icon-attendees { --icon-url: url('/static/images/icons/attendees.svg'); }
.icon-buildings { --icon-url: url('/static/images/icons/buildings.svg'); }
.icon-handshake { --icon-url: url('/static/images/icons/handshake.svg'); }
.icon-calendar { --icon-url: url('/static/images/icons/calendar.svg'); }
.icon-cancel { --icon-url: url('/static/images/icons/cancel.svg'); }
.icon-caret-down { --icon-url: url('/static/images/icons/caret_down.svg'); }
.icon-eraser { --icon-url: url('/static/images/icons/eraser.svg'); }
.icon-caret-up { --icon-url: url('/static/images/icons/caret_up.svg'); }
.icon-charts { --icon-url: url('/static/images/icons/charts.svg'); }
.icon-check { --icon-url: url('/static/images/icons/check.svg'); }
.icon-check-in { --icon-url: url('/static/images/icons/check_in.svg'); }
.icon-clock { --icon-url: url('/static/images/icons/clock.svg'); }
.icon-close { --icon-url: url('/static/images/icons/close.svg'); }
.icon-date { --icon-url: url('/static/images/icons/date.svg'); }
.icon-event { --icon-url: url('/static/images/icons/event.svg'); }
.icon-events { --icon-url: url('/static/images/icons/events.svg'); }
.icon-external-link { --icon-url: url('/static/images/icons/external_link.svg'); }
.icon-facebook { --icon-url: url('/static/images/icons/facebook.svg'); }
.icon-filter { --icon-url: url('/static/images/icons/filter.svg'); }
.icon-flickr { --icon-url: url('/static/images/icons/flickr.svg'); }
.icon-gears { --icon-url: url('/static/images/icons/gears.svg'); }
.icon-github { --icon-url: url('/static/images/icons/github.svg'); }
.icon-groups { --icon-url: url('/static/images/icons/groups.svg'); }
.icon-groups-add { --icon-url: url('/static/images/icons/groups_add.svg'); }
.icon-home { --icon-url: url('/static/images/icons/home.svg'); }
.icon-image { --icon-url: url('/static/images/icons/image.svg'); }
.icon-in-person { --icon-url: url('/static/images/icons/in_person.svg'); }
.icon-instagram { --icon-url: url('/static/images/icons/instagram.svg'); }
.icon-lfx { --icon-url: url('/static/images/icons/lfx.svg'); }
.icon-lines { --icon-url: url('/static/images/icons/lines.svg'); }
.icon-link { --icon-url: url('/static/images/icons/link.svg'); }
.icon-linkedin { --icon-url: url('/static/images/icons/linkedin.svg'); }
.icon-list { --icon-url: url('/static/images/icons/list.svg'); }
.icon-list-magnifying-glass { --icon-url: url('/static/images/icons/list_magnifying_glass.svg'); }
.icon-location { --icon-url: url('/static/images/icons/location.svg'); }
.icon-login { --icon-url: url('/static/images/icons/login.svg'); }
.icon-logout { --icon-url: url('/static/images/icons/logout.svg'); }
.icon-magnifying-glass { --icon-url: url('/static/images/icons/magnifying_glass.svg'); }
.icon-map { --icon-url: url('/static/images/icons/map.svg'); }
.icon-marker { --icon-url: url('/static/images/icons/marker.svg'); }
.icon-meetup { --icon-url: url('/static/images/icons/meetup.svg'); }
.icon-members { --icon-url: url('/static/images/icons/members.svg'); }
.icon-meeting { --icon-url: url('/static/images/icons/meeting.svg'); }
.icon-next { --icon-url: url('/static/images/icons/next.svg'); }
.icon-pencil { --icon-url: url('/static/images/icons/pencil.svg'); }
.icon-pending-invitation { --icon-url: url('/static/images/icons/pending_invitation.svg'); }
.icon-people { --icon-url: url('/static/images/icons/people.svg'); }
.icon-plus-top { --icon-url: url('/static/images/icons/plus_top.svg'); }
.icon-plus-bottom { --icon-url: url('/static/images/icons/plus_bottom.svg'); }
.icon-power { --icon-url: url('/static/images/icons/power.svg'); }
.icon-presentation { --icon-url: url('/static/images/icons/presentation.svg'); }
.icon-prev { --icon-url: url('/static/images/icons/prev.svg'); }
.icon-question-mark { --icon-url: url('/static/images/icons/question_mark.svg'); }
.icon-recording { --icon-url: url('/static/images/icons/recording.svg'); }
.icon-search { --icon-url: url('/static/images/icons/search.svg'); }
.icon-slack { --icon-url: url('/static/images/icons/slack.svg'); }
.icon-star { --icon-url: url('/static/images/icons/star.svg'); }
.icon-team { --icon-url: url('/static/images/icons/team.svg'); }
.icon-trash { --icon-url: url('/static/images/icons/trash.svg'); }
.icon-twitter { --icon-url: url('/static/images/icons/twitter.svg'); }
.icon-user { --icon-url: url('/static/images/icons/user.svg'); }
.icon-user-plus { --icon-url: url('/static/images/icons/user_plus.svg'); }
.icon-user-small { --icon-url: url('/static/images/icons/user_small.svg'); }
.icon-vertical-dots { --icon-url: url('/static/images/icons/vertical_dots.svg'); }
.icon-virtual { --icon-url: url('/static/images/icons/virtual.svg'); }
.icon-warning { --icon-url: url('/static/images/icons/warning.svg'); }
.icon-website { --icon-url: url('/static/images/icons/website.svg'); }
.icon-wechat { --icon-url: url('/static/images/icons/wechat.svg'); }
.icon-youtube { --icon-url: url('/static/images/icons/youtube.svg'); }
/* End icons */


/* Font family */

@font-face {
  font-family: "Inter";
  font-style: normal;
  font-weight: 300 800;
  font-display: fallback;
  src: url(/static/vendor/fonts/inter-latin-ext.woff2) format("woff2");
  unicode-range:
    U+0100-02BA, U+02BD-02C5, U+02C7-02CC, U+02CE-02D7, U+02DD-02FF, U+0304,
    U+0308, U+0329, U+1D00-1DBF, U+1E00-1E9F, U+1EF2-1EFF, U+2020, U+20A0-20AB,
    U+20AD-20C0, U+2113, U+2C60-2C7F, U+A720-A7FF;
}

@font-face {
  font-family: "Inter";
  font-style: normal;
  font-weight: 300 800;
  font-display: fallback;
  src: url(/static/vendor/fonts/inter-latin.woff2) format("woff2");
  unicode-range:
    U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC,
    U+0304, U+0308, U+0329, U+2000-206F, U+20AC, U+2122, U+2191, U+2193, U+2212,
    U+2215, U+FEFF, U+FFFD;
}

/* End font family */

/* Markdown */

.markdown ul li {
  list-style-type: disc;
  list-style-position: outside;
  margin-left: 1.5rem;
}

.markdown ol li {
  list-style-type: decimal;
  list-style-position: outside;
  margin-left: 1.5rem;
}

.markdown h1,
.markdown h2,
.markdown h3,
.markdown h4,
.markdown h5,
.markdown h6 {
  color: var(--color-stone-500);
  font-size: 1.075rem;
  font-weight: 600;
  margin-bottom: 0.5rem;
  margin-top: 1rem;
}

.markdown h1 {
  font-size: 1.15rem;
}

.markdown p:not(:last-child),
.markdown ul:not(:last-child),
.markdown ol:not(:last-child),
.markdown pre:not(:last-child),
.markdown table:not(:last-child) {
  margin-bottom: 1rem;
}

.markdown blockquote {
  margin: 1.5rem 0;
  padding: 0.5rem 1rem;
  border-left: 3px solid #e7e5e4;
  background-color: #f5f5f4;
  font-style: italic;
}

.markdown table {
  max-width: 100%;
  border-collapse: collapse;
  margin: 1rem 0;
}

.markdown table td,
.markdown table th {
  border: 1px solid #e2e8f0;
  padding: 0.5rem;
}

.markdown a {
  text-decoration: none;
  word-break: break-word;
}

.markdown a:hover {
  text-decoration: underline;
}

.markdown img {
  display: none;
}

.markdown hr {
  margin: 1rem 0;
}

.markdown strong {
  font-weight: 600 !important;
}

.markdown pre {
  overflow-x: auto;
}

.markdown code {
  text-wrap: auto;
}

.markdown * {
  max-width: 100%;
  white-space: normal;
  overflow-wrap: break-word;
  word-wrap: break-word;
}

/* End markdown */


/* EasyMD Editor */

.EasyMDEContainer .editor-toolbar {
  border-top-left-radius: 0.375rem;
  border-top-right-radius: 0.375rem;
  border-color: var(--color-stone-200) !important;
  background-color: var(--color-stone-50) !important;
}

.EasyMDEContainer .CodeMirror {
  height: 220px;
  border-bottom-left-radius: 0.375rem;
  border-bottom-right-radius: 0.375rem;
  border-color: var(--color-stone-200) !important;
}

.EasyMDEContainer .CodeMirror-scroll {
  max-height: 180px;
  min-height: 180px !important;
}

.mini .EasyMDEContainer .CodeMirror {
  height: 140px;
}

.mini .EasyMDEContainer .CodeMirror-scroll {
  max-height: 100px;
  min-height: 100px !important;
}

.EasyMDEContainer button {
  color: rgb(17 24 39 / var(--tw-text-opacity, 1));
}

.EasyMDEContainer .editor-toolbar button.active,
.EasyMDEContainer .editor-toolbar button:hover {
  background-color: white;
}

.EasyMDEContainer .CodeMirror .cm-spell-error:not(.cm-url):not(.cm-comment):not(.cm-tag):not(.cm-word) {
  background: transparent !important;
}

.EasyMDEContainer .cm-s-easymde .cm-header-1 {
  font-size: var(--text-lg) !important;
}

.EasyMDEContainer .cm-s-easymde .cm-header-2, .EasyMDEContainer .cm-s-easymde .cm-header-3, .EasyMDEContainer .cm-s-easymde .cm-header-4, .EasyMDEContainer .cm-s-easymde .cm-header-5, .EasyMDEContainer .cm-s-easymde .cm-header-6 {
  font-size: var(--text-base) !important;
}

.EasyMDEContainer .editor-preview-active {
  background-color: white;
  padding: 1rem;
}

/* Hide separator when empty block of icons */
.EasyMDEContainer .editor-toolbar .separator + .separator {
  display: none;
}

/* End EasyMD Editor */

/* Spinner */

.hx-spinner {
  display: none;
}
.htmx-request .hx-spinner {
  display: inline;
}
.htmx-request.hx-spinner {
  display: inline;
}

/* End spinner */

