<!DOCTYPE html>
<html lang="en" class="h-full min-h-screen">
  <head>
    <title>Community groups</title>
    <meta name="description" content="Community groups">
    <meta name="keywords" content="community, groups, events">

    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <style>
      :root {
        --ocg-primary: #D62293;
      }
    </style>

    {# Styles -#}
    <link rel="stylesheet" href="/static/vendor/css/leaflet.v1.9.4.min.css" />
    <link rel="stylesheet"
          href="/static/vendor/css/leaflet.markercluster.v1.5.3.min.css" />
    <link rel="stylesheet" href="/static/css/styles.css" />
    {# End styles -#}

    {# Scripts -#}
    <script type="text/javascript" src="/static/vendor/js/htmx.v2.0.4.min.js"></script>
    <script type="module" src="/static/js/common/images-gallery.js"></script>
    <script type="module"
            src="/static/js/community/explore/collapsible-filter.js"></script>
    {# End scripts -#}

    <script type="text/javascript">
      // htmx extension to remove empty values from the parameters
      htmx.defineExtension("no-empty-vals", {
        encodeParameters: (xhr, parameters, elt) => {
          const currentParameters = new URLSearchParams(parameters);

          for (const key of [...currentParameters.keys()]) {
            const value = currentParameters.get(key).trim();
            // Remove empty values or "0"
            if (value === "" || value === "0") {
              parameters.delete(key);
            }
          }

          // Let HTMX encode the parameters
          return null;
        }
      });
    </script>
  </head>
  {# djlint:off #}
  <body class='h-full bg-stone-100'>
    <div class="min-h-full flex flex-col">
      <div>
        {# Header -#}
        {% include "group/header.html" -%}
        {# End header -#}

        {# Jumbotron -#}
        {% block jumbotron -%}
        {% endblock jumbotron -%}
        {# End jumbotron -#}
      </div>

      {# Content -#}
      <main class="grow z-[1]">
        {% block content -%}
        {% endblock content -%}
      </main>
      {# End content -#}
    </div>
  </body>
  {# djlint:on #}
</html>
