{% extends "common/base.html" -%}
{% import "macros/ui.html" as ui -%}
{% import "macros/badges.html" as badges -%}
{% import "macros/maps.html" as maps -%}
{% import "macros/social.html" as social -%}

{% block scripts -%}
  <script type="module" src="/static/js/common/images-gallery.js"></script>
  <script type="module" src="/static/js/common/people-list.js"></script>
  <script type="module" src="/static/js/common/user-chip.js"></script>
  <script type="module" src="/static/js/common/user-info-modal.js"></script>
{% endblock scripts -%}

{% block content -%}
  {% let has_social_links = group.website_url.is_some() || group.twitter_url.is_some() || group.facebook_url.is_some() || group.linkedin_url.is_some() || group.github_url.is_some() || group.instagram_url.is_some() || group.youtube_url.is_some() || group.slack_url.is_some() || group.wechat_url.is_some() || group.flickr_url.is_some() || group.extra_links.is_some() -%}

  {# Site title -#}
  <div class="text-center pt-2 xl:pt-5">
    <h1 class="mb-2 xl:mb-6 mx-3 md:mx-5 text-[1.4rem] font-semibold tracking-tight leading-8 sm:leading-none md:text-2xl lg:text-4xl xl:text-5xl">
      {{ site_settings.title }}
    </h1>
  </div>
  {# End site title -#}
  <div class="relative container mx-auto max-w-7xl p-4 sm:p-6 lg:p-8 pb-8 md:pb-10 lg:pb-16 flex grow h-full">
    <div class="bg-white border border-stone-200 rounded-lg flex flex-col pt-3 pb-4 sm:py-8 w-full">
      <div class="flex gap-y-5 sm:gap-y-7 lg:gap-y-10 flex-col px-4 sm:px-6 lg:px-8">
        {# Group header with name and region -#}
        <div>
          {# Main flex container for logo, name/region, and social networks -#}
          <div class="flex flex-1 flex-row items-stretch gap-6">
            {# Group logo -#}
            {{ ui::logo(logo_url = group.logo_url, classes = "hidden md:block size-24 md:size-28", size = 112, color = group.color, name = Some(group.name) ) -}}
            {# End group logo -#}

            <div class="flex-1 flex flex-col justify-between">
              <div class="flex-1 flex justify-between">
                <div class="flex flex-col justify-between">
                  <div>
                    {# Region/Category legend -#}
                    <div>
                      <span class="text-sm font-semibold tracking-wide uppercase text-stone-400">
                        {% if let Some(region) = &group.region -%}
                          {{ region.name }}
                        {% else -%}
                          {{ group.category.name }}
                        {% endif -%}
                      </span>
                    </div>
                    {# End region/category legend -#}

                    {# Group name -#}
                    <h1 class="text-[1.05rem]/6 xl:text-[1.65rem]/[1.2] font-semibold text-stone-900 line-clamp-2 mt-2 md:mt-1 xl:mt-0">
                      {{ group.name|demoji }}
                    </h1>
                    {# End group name -#}
                  </div>
                </div>

                {# Social networks -#}
                {% if has_social_links -%}
                  <div class="hidden md:flex flex-col items-end gap-2">
                    <div class="flex flex-wrap gap-2">{% include "group/social_networks.html" -%}</div>
                  </div>
                {% endif -%}
                {# End social networks -#}
              </div>

              <div class="mt-2 md:mt-auto flex flex-col md:flex-row md:items-center md:justify-between w-full">
                {# Members count and founded date -#}
                <div class="flex items-center gap-4 text-stone-600">
                  <div class="flex items-center">
                    <div class="svg-icon size-4 mr-2 bg-stone-600 icon-people"></div>
                    <span class="text-sm">{{ group.members_count }} members</span>
                  </div>
                  <div class="flex items-center">
                    <div class="svg-icon size-4 mr-2 bg-stone-600 icon-date"></div>
                    <span class="text-sm">{{ group.created_at.format("%B %Y") }}</span>
                  </div>
                </div>
                {# End members count and founded date -#}

                {# Social networks (mobile only) -#}
                {% if has_social_links -%}
                  <div class="md:hidden mt-4 md:mb-0">
                    <div class="flex flex-wrap gap-2">{% include "group/social_networks.html" -%}</div>
                  </div>
                {% endif -%}
                {# End social networks (mobile) -#}

                <div class="mt-4 md:mt-0 flex flex:row md:flex-col items-end md:ml-auto">
                  {# Membership button section -#}
                  {% include "group/membership_button.html" %}
                  {# End membership button section -#}
                </div>
              </div>
            </div>
          </div>
          {# End main flex container -#}

        </div>
        {# End group header -#}

        {# Next event and location -#}
        <div>
          <div class="grid md:grid-cols-2 gap-5 sm:gap-8 md:gap-5 lg:gap-8 mt-3 lg:mt-0">
            {# Next event section -#}
            <div class="border border-stone-200 rounded-lg">
              <div class="p-4">
                <div class="text-base/3 uppercase font-semibold text-stone-400 mb-4">Next event</div>
                {% let next_event = upcoming_events.first() -%}

                <div class="rounded-lg border border-dashed border-stone-200 bg-white p-4 text-stone-400">
                  {% if let Some(next_event_card) = &next_event -%}
                    {% if let Some(starts_at) = &next_event_card.event.starts_at -%}
                      <div class="flex items-start gap-3">
                        <div class="svg-icon size-4 xl:size-5 bg-stone-800 icon-date mt-1 sm:mt-1.5 xl:mt-2"></div>
                        <div class="flex-grow">
                          {% if let Some(starts_at) = &next_event_card.event.starts_at -%}
                            <div class="text-lg sm:text-xl xl:text-3xl font-semibold text-stone-800">
                              {{ starts_at.with_timezone(next_event_card.event.timezone).format("%B %e, %G") }}
                            </div>
                            <div class="flex items-center justify-between mt-1.5 w-full">
                              <div class="text-base text-stone-600">
                                {{ starts_at.with_timezone(next_event_card.event.timezone).format("%I:%M %p %Z") }}
                              </div>
                              <div class="flex justify-end">
                                <a href="/group/{{ next_event_card.event.group_slug }}/event/{{ next_event_card.event.slug }}"
                                   class="btn-secondary-anchor btn-mini ml-auto"
                                   hx-boost="true"
                                   hx-target="body">See details</a>
                              </div>
                            </div>
                          {% endif -%}
                        </div>
                      </div>
                    {% else -%}
                      <div class="flex items-start gap-3">
                        <div class="svg-icon size-5 bg-stone-800 icon-date mt-2"></div>
                        <div>
                          <div class="text-xl xl:text-3xl font-semibold text-stone-800 truncate">
                            {{ next_event_card.event.name|demoji }}
                          </div>
                          <div class="flex items-center justify-end mt-1.5 w-full">
                            <a href="/group/{{ next_event_card.event.group_slug }}/event/{{ next_event_card.event.slug }}"
                               class="btn-secondary-anchor btn-mini ml-auto"
                               hx-boost="true"
                               hx-target="body">See details</a>
                          </div>
                        </div>
                      </div>
                    {% endif -%}

                  {% else -%}
                    <div class="flex flex-col gap-3 relative">
                      <div class="h-4 w-3/5 rounded bg-stone-100"></div>
                      <div class="h-2 w-1/2 rounded bg-stone-100"></div>
                      <div class="flex justify-end mt-2">
                        <div class="h-3 w-1/5 rounded bg-stone-100"></div>
                      </div>

                      <div class="absolute inset-0 flex items-center justify-center">
                        <div class="text-xl font-semibold text-stone-700 text-center">No upcoming events scheduled</div>
                      </div>
                    </div>
                  {% endif -%}
                </div>
              </div>
            </div>

            {# Location and event section -#}
            <div class="border border-stone-200 rounded-lg flex flex-col">
              {# Location details -#}
              <div class="flex flex-col p-4 h-full">
                <div class="text-base/3 uppercase font-semibold text-stone-400 mb-4">Location</div>
                <div class="relative rounded-lg border border-dashed border-stone-200 bg-white overflow-hidden flex-grow min-h-25">
                  {% if let Some(lat) = &group.latitude %}
                    {% if let Some(lng) = &group.longitude %}
                      {% let location_text = self.group.location(70) -%}
                      {% let location_text_small = self.group.location(35) -%}
                      {{ maps::map_with_modal(base_id = "group", lat = lat, lng = lng, overlay_text = location_text, small_overlay_text = location_text_small, modal_title = group.name|demoji) -}}
                    {% else -%}
                      <div class="relative flex min-h-25 h-full w-full items-center justify-center p-4 text-center text-sm text-stone-500">
                        <div class="absolute inset-0 bg-[url('/static/images/map.png')] bg-cover bg-center bg-no-repeat opacity-30">
                        </div>
                        <div class="relative flex w-full items-center justify-center">
                          <div class="text-xl font-semibold text-stone-700">Location not provided</div>
                        </div>
                      </div>
                    {% endif -%}
                  {% else -%}
                    <div class="relative flex min-h-25 h-full w-full items-center justify-center p-4 text-center text-sm text-stone-500">
                      <div class="absolute inset-0 bg-[url('/static/images/map.png')] bg-cover bg-center bg-no-repeat opacity-30">
                      </div>
                      <div class="relative flex w-full items-center justify-center">
                        <div class="text-xl font-semibold text-stone-700">Location not provided</div>
                      </div>
                    </div>
                  {% endif -%}
                </div>
              </div>
              {# End location details -#}
            </div>

            {# End location and map section -#}
          </div>
        </div>
        {# End next event and location -#}

        {# Group description -#}
        {% if let Some(description) = &group.description -%}
          <div>
            <div class="uppercase text-lg lg:text-2xl tracking-wide font-bold leading-10 pb-4 lg:pb-10">
              About this group
            </div>
            <div class="text-stone-500 text-sm/6 markdown">{{ description|md_to_html|safe }}</div>
          </div>
        {% endif -%}
        {# End group description -#}

        {# Tags if available -#}
        {% if let Some(tags) = &group.tags -%}
          {% if !tags.is_empty() -%}
            <div>
              <div class="uppercase text-lg lg:text-2xl tracking-wide font-bold leading-10 pb-6 lg:pb-10">Topics</div>
              <div class="flex flex-wrap gap-2">
                {% for tag in tags -%}
                  <span class="inline-block px-3 py-1 bg-stone-50 text-stone-700 text-sm rounded-full uppercase">{{ tag }}</span>
                {% endfor -%}
              </div>
            </div>
          {% endif -%}
        {% endif -%}
        {# End tags -#}

        {# Next events section -#}
        {% if !upcoming_events.is_empty() -%}
          <div>
            <div class="uppercase text-lg lg:text-2xl tracking-wide font-bold leading-10 pb-6 lg:pb-10">
              Upcoming Events
            </div>
            <div class="grid grid-cols-1 lg:grid-cols-2 gap-6 md:gap-8">
              {% for event in upcoming_events -%}
                {% if loop.index0 < 6 -%}
                  {{ event|safe }}
                {% endif -%}
              {% endfor -%}
            </div>
          </div>
        {% endif -%}
        {# End next events section -#}

        {# Past events section -#}
        {% if !past_events.is_empty() -%}
          <div>
            <div class="uppercase text-lg lg:text-2xl tracking-wide font-bold leading-10 pb-6 lg:pb-10">Past Events</div>
            <div class="grid grid-cols-1 gap-6 md:gap-8 md:grid-cols-2 xl:grid-cols-3">
              {% for event in past_events -%}
                {% if loop.index0 < 6 -%}
                  {{ event|safe }}
                {% endif -%}
              {% endfor -%}
            </div>
          </div>
        {% endif -%}
        {# End past events section -#}

        {# Organizers section - Full width -#}
        {% if !group.organizers.is_empty() -%}
          <div>
            <div class="uppercase text-lg lg:text-2xl tracking-wide font-bold leading-10 pb-6 lg:pb-10">Organizers</div>
            <div class="grid grid-cols-1 md:grid-cols-2 lg:grid-cols-3 gap-4">
              {% for organizer in group.organizers -%}
                {% if organizer.name.is_some() -%}
                  <user-chip user='{{ organizer|json }}'></user-chip>
                {% endif -%}
              {% endfor -%}
            </div>
          </div>
        {% endif -%}
        {# End organizers section -#}

        {# Sponsors section -#}
        {% if !group.sponsors.is_empty() -%}
          <div>
            <div class="uppercase text-lg lg:text-2xl tracking-wide font-bold leading-10 pb-6 lg:pb-10">Sponsors</div>
            <div class="grid grid-cols-1 md:grid-cols-2 lg:grid-cols-3 gap-4">
              {% for sponsor in group.sponsors -%}
                {{ badges::sponsor_badge(name = sponsor.name, logo_url = sponsor.logo_url, website_url = sponsor.website_url) -}}
              {% endfor -%}
            </div>
          </div>
        {% endif -%}
        {# End sponsors section -#}

        {# Photo gallery -#}
        {% if let Some(photos_urls) = &group.photos_urls -%}
          {% if !photos_urls.is_empty() -%}
            <div>
              <div class="uppercase text-lg lg:text-2xl tracking-wide font-bold leading-10 pb-6 lg:pb-10">Gallery</div>
              <images-gallery title="Gallery" altImage="Group {{ group.name }}" images="{{ photos_urls|json }}"></images-gallery>
            </div>
          {% endif -%}
        {% endif -%}
        {# End photo gallery -#}

      </div>
    </div>
  </div>

  {# User info modal -#}
  <user-info-modal></user-info-modal>
{% endblock content -%}
