{% import "common.html" as common %}

{# Group card -#}
<div class="p-5 md:p-7">
  <div class="flex flex-1 flex-row items-stretch">
    {# Group icon -#}
    {% call common::logo(logo_url = logo_url, classes = "hidden md:block h-[140px] w-[140px] min-w-[140px]", size = 140, color = color, name = Some(name)) %}
    {% call common::logo(logo_url = logo_url, classes = "block h-14 w-14 min-w-14 md:hidden", size = 60, color = color) %}
    {# End group icon -#}

    <div class="min-w-0 pl-4 content-center">
      <div class="flex flex-col justify-between h-full">
        <div>
          {# Group region -#}
          <div class="truncate leading-3 text-gray-400">
            <span class="text-xs font-semibold tracking-wide uppercase">
              {% if let Some(region_name) = region_name %}
                {{ region_name }}
              {% else %}
                {{ category_name }}
              {% endif %}
            </span>
          </div>
          {# End group region -#}

          {# Group name -#}
          <div class="line-clamp-2 text-[0.9rem] md:text-base font-semibold md:mt-1 md:line-clamp-1">
            {{ name|demoji }}
          </div>
          {# End group name -#}
        </div>

        {% if let Some(description) = description %}
          {# Group description -#}
          <div class="hidden relative text-[0.8rem] text-gray-500 leading-[1.2rem] line-clamp-2 h-[36px] md:my-2 md:block">
            {{ description|demoji }}
          </div>
          {# End group description -#}
        {% endif %}

        <div class="hidden md:block">
          {# Group location -#}
          <div class="flex flex-row items-center leading-4 pt-1 lg:pt-2 h-[32px]">
            {% if let Some(location) = self.location(48) %}
              <img class="mt-0.5 w-3 h-3 me-2"
                   height="12"
                   width="12"
                   src="/static/images/icons/location.svg"
                   alt="Location icon" />
              <div class="hidden truncate text-gray-700 text-xs uppercase xl:block">
                {{ self.location(67).expect("location to exist") }}
              </div>
              <div class="block truncate text-gray-700 text-xs uppercase xl:hidden">{{ location }}</div>
            {% endif %}
          </div>
          {# End group location -#}

          {# Group creation date -#}
          <div class="flex items-center pt-0.5">
            <div class="flex flex-row items-center leading-4">
              <img class="-mt-[2px] w-3 h-3 me-2"
                   height="12"
                   width="12"
                   src="/static/images/icons/date.svg"
                   alt="Date icon" />
              <span class="truncate text-gray-700 text-xs uppercase">{{ created_at.format("%B %e · %Y") }}</span>
            </div>
          </div>
          {# End group creation date -#}
        </div>
      </div>
    </div>
  </div>

  <div class="block md:hidden">
    {# Group location -#}
    <div class="flex flex-row items-center mt-3 h-[21px]">
      {% if let Some(location) = self.location(40) %}
        <img class="mt-0.5 w-3 h-3 me-2"
             height="12"
             width="12"
             src="/static/images/icons/location.svg"
             alt="Location icon" />
        <div class="block truncate text-gray-700 text-xs uppercase xl:hidden">{{ location }}</div>
      {% endif %}
    </div>
    {# End group location -#}

    {# Group creation date -#}
    <div class="flex items-center pt-1">
      <div class="flex flex-row items-center leading-4">
        <img class="-mt-[2px] w-3 h-3 me-2"
             height="12"
             width="12"
             src="/static/images/icons/date.svg"
             alt="Date icon" />
        <span class="truncate text-gray-700 text-xs uppercase">{{ created_at.format("%B %e · %Y") }}</span>
      </div>
    </div>
    {# End group creation date -#}
  </div>

  {% if let Some(description) = description %}
    {# Mobile group description -#}
    <div class="block md:hidden">
      <p class="text-xs text-gray-500 leading-[1.2rem] line-clamp-2 mt-3">{{ description|demoji }}</p>
    </div>
    {# End mobile group description -#}
  {% endif %}
</div>
{# End group card -#}
