{% import "common.html" as common -%}
{% extends "community/explore/entity_section_base.html" -%}

{# Filters -#}
{% block filters -%}
  {% include "community/explore/groups/filters.html" -%}
{% endblock filters -%}
{# End filters -#}

{# Current page status -#}
{% block current_page -%}
  {% if results_section.groups.len() > 0 -%}
    {% call common::current_page(total = results_section.total, items_number = results_section.groups.len(), offset_value = filters.offset) -%}
  {% endif -%}
{% endblock current_page -%}
{# End current page status -#}

{# Search bar -#}
{% block search_bar -%}
  {% call common::search_bar(placeholder = "Search groups by name, location or tags", input_styles = "w-full md:w-3/4", container_styles = "justify-center", with_help = true, value = filters.ts_query) -%}
  <script type="module">
    import {
      cleanInputField,
      searchOnEnter,
      triggerChangeOnForm
    } from '/static/js/community/explore/filters.js';

    const searchBtn = document.getElementById('search-btn');
    if (searchBtn) {
      searchBtn.addEventListener('click', () => triggerChangeOnForm("groups-form", true));
    }

    const searchInput = document.getElementById('ts_query');
    if (searchInput) {
      searchInput.addEventListener('keydown', () => searchOnEnter(event, "groups-form"));
    }

    const cleanSearch = document.getElementById('clean-search');
    if (cleanSearch) {
      cleanSearch.addEventListener('click', () => cleanInputField('ts_query', 'groups-form'));
    }
  </script>
{% endblock search_bar -%}
{# End search bar -#}

{# Main content -#}
{% block content -%}
  {{ results_section|safe }}
{% endblock content -%}
{# End main content -#}
