apiVersion: v1
kind: Secret
metadata:
  name: {{ include "chart.resourceNamePrefix" . }}server-config
type: Opaque
stringData:
  server.yml: |-
    db:
      host: {{ default (printf "%s-postgresql.%s" .Release.Name .Release.Namespace) .Values.db.host }}
      port: {{ .Values.db.port }}
      dbname: {{ .Values.db.dbname }}
      user: {{ .Values.db.user }}
      password: {{ .Values.db.password }}
    email:
      from_address: {{ .Values.email.fromAddress }}
      from_name: {{ .Values.email.fromName }}
      rcpts_whitelist: {{ .Values.email.rcptsWhitelist }}
      smtp:
        host: {{ .Values.email.smtp.host }}
        port: {{ .Values.email.smtp.port }}
        username: {{ .Values.email.smtp.username }}
        password: {{ .Values.email.smtp.password }}
    images:
      provider: {{ .Values.images.provider }}
{{- if eq .Values.images.provider "s3" }}
      access_key_id: {{ .Values.images.s3.accessKeyId | quote }}
      secret_access_key: {{ .Values.images.s3.secretAccessKey | quote }}
      bucket: {{ .Values.images.s3.bucket | quote }}
      region: {{ .Values.images.s3.region | quote }}
{{- if .Values.images.s3.endpoint }}
      endpoint: {{ .Values.images.s3.endpoint | quote }}
{{- else }}
      endpoint: null
{{- end }}
      force_path_style: {{ .Values.images.s3.forcePathStyle }}
{{- end }}
    log:
      format: {{ .Values.log.format }}
{{- if .Values.meetings.provider }}
    meetings:
      provider: {{ .Values.meetings.provider }}
{{- if eq .Values.meetings.provider "zoom" }}
      account_id: {{ .Values.meetings.zoom.accountId | quote }}
      client_id: {{ .Values.meetings.zoom.clientId | quote }}
      client_secret: {{ .Values.meetings.zoom.clientSecret | quote }}
      webhook_secret_token: {{ .Values.meetings.zoom.webhookSecretToken | quote }}
{{- end }}
{{- else }}
    meetings: null
{{- end }}
    server:
      addr: {{ .Values.server.addr }}
      base_url: {{ .Values.server.baseUrl }}
      cookie:
        secure: {{ .Values.server.cookie.secure }}
      disable_referer_checks: {{ .Values.server.disableRefererChecks }}
      login:
        email: {{ .Values.server.login.email }}
        github: {{ .Values.server.login.github }}
        linuxfoundation: {{ .Values.server.login.linuxfoundation }}
      oauth2:
        github:
          auth_url: {{ .Values.server.oauth2.github.authUrl }}
          client_id: {{ .Values.server.oauth2.github.clientId | quote }}
          client_secret: {{ .Values.server.oauth2.github.clientSecret | quote }}
          redirect_uri: {{ .Values.server.oauth2.github.redirectUri }}
          scopes: {{ .Values.server.oauth2.github.scopes }}
          token_url: {{ .Values.server.oauth2.github.tokenUrl }}
      oidc:
        linuxfoundation:
          client_id: {{ .Values.server.oidc.linuxfoundation.clientId | quote }}
          client_secret: {{ .Values.server.oidc.linuxfoundation.clientSecret | quote }}
          issuer_url: {{ .Values.server.oidc.linuxfoundation.issuerUrl }}
          redirect_uri: {{ .Values.server.oidc.linuxfoundation.redirectUri }}
          scopes: {{ .Values.server.oidc.linuxfoundation.scopes }}
