{# Search bar -#}
{% macro search_bar(placeholder, input_styles, container_styles, with_help, value = None) -%}
  {% let value_ = value.clone().unwrap_or("".to_string()) -%}

  <div class="flex items-center {{ container_styles }}">
    <div class="relative {{ input_styles }}
                {% if with_help -%}
                  md:-ml-[0.75rem]{%- endif -%}">
      <input type="text"
             id="ts_query"
             name="ts_query"
             value="{{ value_ }}"
             class="peer w-[100%] rounded-full border border-stone-200 text-stone-900 placeholder-stone-400 focus:ring-transparent focus:border-primary-500 focus:ring block flex-1 min-w-0 w-60 text-md p-2.5 ps-4 pe-14"
             placeholder="{{ placeholder }}"
             autocomplete="off" />
      <div class="absolute right-[40px] top-[10px] block peer-placeholder-shown:hidden">
        <button id="clean-search"
                class="mr-2 mt-[2px] block peer-placeholder-shown:hidden">
          <div class="svg-icon h-5 w-5 bg-stone-400 hover:bg-stone-700 icon-close"></div>
        </button>
      </div>
      <div class="absolute right-[6px] top-[5px]">
        <button id="search-btn"
                class="btn-secondary group p-1.5 h-[30px] w-[30px] mt-[3px] mr-[3px]">
          <div class="svg-icon h-4 w-4 mx-auto bg-primary-500 group-hover:bg-white icon-magnifying-glass"></div>
        </button>
      </div>

      {% if with_help -%}
        <div class="absolute hidden -right-[1.5rem] top-0 md:block">
          <button id="open-search-tips-modal">
            <div class="svg-icon w-4 h-4 bg-stone-300 hover:bg-stone-700 icon-question-mark"></div>
          </button>
        </div>

        {# Search tips modal -#}
        <div id="search-tips"
             tabindex="-1"
             aria-hidden="true"
             class="hidden overflow-y-auto overflow-x-hidden fixed top-0 right-0 left-0 z-50 justify-center items-center w-full md:inset-0 max-h-full flex z-1000">
          <div id="overlay-search-tips"
               class="modal-overlay absolute w-full h-full bg-black opacity-75"></div>
          <div class="relative p-4 w-full max-w-2xl max-h-full">
            <div class="relative bg-white rounded-lg shadow">
              {# Modal header -#}
              <div class="flex items-center justify-between p-4 md:p-5 border-b border-stone-200 rounded-t">
                <h3 class="text-xl font-semibold text-stone-900">Search tips</h3>
                <button id="close-search-tips-modal"
                        type="button"
                        class="group text-stone-400 bg-transparent hover:bg-stone-200 hover:text-stone-900 rounded-lg text-sm w-8 h-8 ms-auto inline-flex justify-center items-center">
                  <div class="svg-icon w-5 h-5 bg-stone-500 group-hover:bg-stone-900 icon-close"></div>
                  <span class="sr-only">Close modal</span>
                </button>
              </div>
              {# End modal header -#}
              {# Modal content -#}
              <div class="p-4 md:p-5 space-y-4">
                <ul class="list-disc text-sm ps-8 pe-4 py-6 leading-8">
                  <li>Use multiple words to refine your search. Example: budapest meeting</li>
                  <li>Use - to exclude words from your search. Example: austin -virtual</li>
                  <li>Put a phrase inside double quotes for an exact match. Example: "Community Group"</li>
                  <li>Use or to combine multiple searches. Example: webAssembly or wasm</li>
                </ul>
              </div>
              {# End modal content -#}
            </div>
          </div>
        </div>
        {# End search tips modal -#}

        <script type="module">
          import {
            toggleModalVisibility
          } from '/static/js/common/common.js';

          const openSearchTipsModal = document.getElementById('open-search-tips-modal');
          if (openSearchTipsModal) {
            openSearchTipsModal.addEventListener('click', () => toggleModalVisibility('search-tips'));
          }

          const overlaySearchTips = document.getElementById('overlay-search-tips');
          if (overlaySearchTips) {
            overlaySearchTips.addEventListener('click', () => toggleModalVisibility('search-tips'));
          }

          const closeSearchTipsModal = document.getElementById('close-search-tips-modal');
          if (closeSearchTipsModal) {
            closeSearchTipsModal.addEventListener('click', () => toggleModalVisibility('search-tips'));
          }
        </script>
      {% endif -%}
    </div>
  </div>
{% endmacro search_bar -%}
{# End search bar -#}

{# Alert -#}
{% macro alert(title, content) -%}
  <div class="p-10 md:p-14">
    <div class="border border-primary-300 p-10 text-sm text-stone-800 rounded-lg bg-primary-50 text-center"
         role="alert">
      <div class="text-xl mb-6">{{ title }}</div>
      {{ content }}
    </div>
  </div>
{% endmacro alert -%}
{# End alert -#}

{# Current page -#}
{% macro current_page(total, items_number, offset_value) -%}
  {%- if let Some(offset) = offset_value -%}
    {{ offset + 1 }} - {{ items_number + offset }}
  {%- else -%}
    1 - {{ items_number }}
  {%- endif -%}
  {{ "" }} of {{ total }} results
{%- endmacro current_page -%}
{# End current page -#}

{# Logo -#}
{% macro logo(logo_url, classes, size, color, name = None) -%}
  {% if let Some(logo_url) = logo_url -%}
    {% let bg_image = logo_url.replace("c_fill,dpr_2,f_auto,g_center,q_auto:good", &format!("c_scale,w_{}", *size * 2) ) -%}

    <div class="md:my-auto bg-white rounded-lg outline outline-1 outline-stone-300 border border-stone-200 border-[5px] border-white overflow-hidden bg-no-repeat bg-center bg-contain {{ classes }}"
         style="background-image: url('{{ bg_image }}')"></div>
  {% else -%}
    <div class="relative md:my-auto bg-white rounded-lg outline outline-1 outline-stone-300 border border-stone-200 border-[5px] border-white overflow-hidden bg-no-repeat bg-center bg-contain {{ classes }}">
      <div class="relative h-full w-full flex place-items-center p-2 text-[0.78rem] text-stone-600 font-bold leading-5 capitalize z-10">
        <p class="w-full text-ellipsis overflow-hidden text-center">{{ name.unwrap_or(&"".to_string() ) }}</p>
      </div>
      <div class="absolute w-full h-full top-0 placeholder-logo"
           style="background-color: {{ color }}"></div>
    </div>
  {% endif -%}
{% endmacro logo -%}
{# End logo -#}

{# Small spinner -#}
{% macro small_spinner() -%}
  <div role="status" class="hidden group-[.is-loading]:block">
    <svg aria-hidden="true"
         class="w-6 h-6 text-stone-200 animate-spin fill-primary-500"
         viewBox="0 0 100 101"
         fill="none"
         xmlns="http://www.w3.org/2000/svg">
      <path d="M100 50.5908C100 78.2051 77.6142 100.591 50 100.591C22.3858 100.591 0 78.2051 0 50.5908C0 22.9766 22.3858 0.59082 50 0.59082C77.6142 0.59082 100 22.9766 100 50.5908ZM9.08144 50.5908C9.08144 73.1895 27.4013 91.5094 50 91.5094C72.5987 91.5094 90.9186 73.1895 90.9186 50.5908C90.9186 27.9921 72.5987 9.67226 50 9.67226C27.4013 9.67226 9.08144 27.9921 9.08144 50.5908Z" fill="currentColor" />
      <path d="M93.9676 39.0409C96.393 38.4038 97.8624 35.9116 97.0079 33.5539C95.2932 28.8227 92.871 24.3692 89.8167 20.348C85.8452 15.1192 80.8826 10.7238 75.2124 7.41289C69.5422 4.10194 63.2754 1.94025 56.7698 1.05124C51.7666 0.367541 46.6976 0.446843 41.7345 1.27873C39.2613 1.69328 37.813 4.19778 38.4501 6.62326C39.0873 9.04874 41.5694 10.4717 44.0505 10.1071C47.8511 9.54855 51.7191 9.52689 55.5402 10.0491C60.8642 10.7766 65.9928 12.5457 70.6331 15.2552C75.2735 17.9648 79.3347 21.5619 82.5849 25.841C84.9175 28.9121 86.7997 32.2913 88.1811 35.8758C89.083 38.2158 91.5421 39.6781 93.9676 39.0409Z" fill="currentFill" />
    </svg>
    <span class="sr-only">Loading...</span>
  </div>
{% endmacro small_spinner -%}
{# End small spinner -#}

{# Main loading -#}
{% macro main_loading() -%}
  <div class="w-20 h-20 text-stone-200 animate-spin">
    <img src="/static/images/icons/main_loading.svg"
         height="20"
         width="20"
         alt="Loading icon"
         class="w-full h-full object-contain" />
  </div>
{% endmacro main_loading -%}
{# End main loading -#}

{# Icon text -#}
{% macro icon_text(icon_name, text, extra_styles = None) -%}
  {% let extra_styles_ = extra_styles.unwrap_or("") -%}

  <div class="icon-text {{ extra_styles_ }}">
    <img height="12"
         width="12"
         src="/static/images/icons/{{ icon_name }}.svg"
         alt="{{ icon_name | capitalize }} icon"
         class="mr-2" />
    <span>{{ text }}</span>
  </div>
{% endmacro icon_text -%}
{# End icon text -#}

{# Event badge -#}
{% macro event_badge(kind, canceled = false, extra_styles = None) -%}
  {% let extra_styles_ = extra_styles.unwrap_or("") -%}

  {% if canceled -%}
    <span class="event-badge canceled {{ extra_styles_ }}">Canceled</span>
  {% else -%}
    <span class="event-badge {{ extra_styles_ }}">{{ kind }}</span>
  {% endif -%}
{% endmacro event_badge -%}
{# End event badge -#}

{# Social network link -#}
{% macro social_link(url, icon_name, platform_name) -%}
  <a href="{{ url }}"
     target="_blank"
     rel="noopener noreferrer"
     class="group btn-secondary-anchor p-1.5 h-[30px] w-[30px] flex items-center justify-center"
     title="{{ platform_name }}">
    <div class="svg-icon size-4 bg-primary-500 group-hover:bg-white icon-{{ icon_name }}"></div>
  </a>
{% endmacro social_link -%}
{# End social network link -#}

{# Avatar -#}
{% macro avatar(avatar_url, first_name, last_name, size = 40, extra_styles = None) -%}
  {% let extra_styles_ = extra_styles.unwrap_or("") -%}

  <div class="relative avatar-container flex-shrink-0 {{ extra_styles_ }}"
       style="width: {{ size }}px;
              height: {{ size }}px">
    {# Initials placeholder (visible by default) -#}
    <div class="avatar-initials absolute inset-0 flex items-center justify-center rounded-full bg-stone-400 border-2 border-gray-400 text-white font-semibold">
      {% if let Some(first_name) = first_name -%}
        {% if let Some(last_name) = last_name -%}
          {{ first_name.chars().next().unwrap_or('?').to_uppercase() }}{{ last_name.chars().next().unwrap_or('?').to_uppercase() }}
        {% else -%}
          {{ first_name.chars().next().unwrap_or('?').to_uppercase() }}
        {% endif -%}
      {% else if let Some(last_name) = last_name -%}
        {{ last_name.chars().next().unwrap_or('?').to_uppercase() }}
      {% else -%}
        -
      {% endif -%}
    </div>
    {# End initials placeholder -#}

    {# Avatar image (hidden initially) -#}
    {% if let Some(url) = avatar_url -%}
      <img class="avatar-image hidden absolute inset-0 w-full h-full rounded-full border-2 border-gray-400 object-cover"
           data-src="{{ url }}"
           alt="Avatar"
           height="{{ size }}"
           width="{{ size }}" />
    {% endif -%}
    {# End avatar image -#}
  </div>
{% endmacro avatar -%}
{# End avatar -#}
