{% import "common.html" as common %}
{% extends "community/explore/entity_section_base.html" %}

{% block filters %}
  {% include "community/explore/groups/filters.html" %}
{% endblock %}

{% block current_page %}
  {% if results_section.groups.len() > 0 %}
    {% call common::current_page(results_section.total, results_section.groups.len(), filters.offset) %}
  {% endif %}
{% endblock %}

{% block searchbar %}
  {% set ts_query = filters.ts_query.clone().unwrap_or_default() %}
  {% call common::search_bar("Search groups by name, location or tags", ts_query, "w-full md:w-3/4", "justify-center", true) %}
  <script type="module">
    import { triggerChangeOnForm } from '/static/js/community/explore/filters.js';
    import { cleanInputField, searchOnEnter } from '/static/js/community/explore/filters.js';

    const searchBtn = document.querySelector('#search-btn');
    searchBtn.addEventListener('click', () => triggerChangeOnForm("groups-form", true));

    const searchInput = document.querySelector('#ts_query');
    searchInput.addEventListener('keydown', () => searchOnEnter(event, "groups-form"));

    const cleanSearch = document.querySelector('#clean-search');
    cleanSearch.addEventListener('click', () => cleanInputField('ts_query', 'groups-form'));
  </script>
{% endblock %}

{% block content %}
  {{ results_section|safe }}
{% endblock %}

