{% import "common.html" as common %}
{% extends "community/explore/base.html" %}

{% block filters %}
  {% include "community/explore/groups/filters.html" %}
{% endblock %}

{% block results %}
  {% call common::results_legend(results_section.total, results_section.groups.len(), filters.offset) %}
{% endblock %}

{% block searchbar %}
  {% if let Some(ts_query) = filters.ts_query %}
    {% call common::search_bar("Search groups by name, location or tags", ts_query, "groups-form", "w-full md:w-3/4", "justify-center") %}
  {% else %}
    {% call common::search_bar("Search groups by name, location or tags", "", "groups-form", "w-full md:w-3/4", "justify-center") %}
  {% endif %}
{% endblock %}

{% block content %}
  {{ results_section|safe }}
{% endblock %}

