{% extends "common/card_small_base.html" -%}
{% import "macros/ui.html" as ui -%}

{% block href -%}
  /{{ group.community_name }}/group/{{ group.slug }}
{% endblock href %}

{% block logo -%}
  {{ ui::logo(logo_url = group.logo_url, classes = "h-[60px] w-[60px] min-w-[60px]", size = 60) -}}
{% endblock logo %}

{% block content_stack_classes -%}
  justify-between
{% endblock content_stack_classes %}

{% block title_classes -%}
  !mt-0.5 !leading-[1.4rem] md:!leading-[1.4rem]
{% endblock title_classes %}

{% block preheader -%}
  <span>
    {% if let Some(region) = &group.region -%}
      {{ region.name }}
    {% else -%}
      {{ group.category.name }}
    {% endif -%}
  </span>
{% endblock preheader %}

{% block title -%}
  {{ group.name|demoji }}
{% endblock title %}

{% block footer -%}
  <div class="flex items-center gap-3 md:gap-4">
    <div class="w-[60px] min-w-[60px] shrink-0 text-center">
      <div class="text-[0.7rem] font-bold tracking-[0.04em] text-stone-900">
        {{ group.created_at.format("%Y") }}
      </div>
      <div class="mt-0.5 text-[1rem]/5 font-bold uppercase text-stone-900">
        {{ group.created_at.format("%b") }}
      </div>
    </div>

    <div class="min-w-0 flex-1">
      <div class="card-meta !pt-0">
        {% if let Some(location) = &self.group.location(32) -%}
          {{ ui::icon_text(icon_name = "location", text = location, extra_styles = Some("flex-1") ) -}}
        {% else -%}
          {{ ui::icon_text(icon_name = "location", text = "No location provided", extra_styles = Some("flex-1") ) -}}
        {% endif -%}
      </div>

      <div class="card-meta !pt-1.5">
        {{ ui::icon_text(icon_name = "date", text = group.created_at.format("%b %-e, %Y") , extra_styles = Some("flex-1"), icon_extra_styles = Some("-top-px") ) -}}
      </div>
    </div>
  </div>
{% endblock footer %}
