{% extends "common/base.html" -%}
{% import "macros/feedback.html" as feedback -%}
{% import "macros/search.html" as search -%}
{% import "macros/ui.html" as ui -%}

{% block scripts -%}
  <script type="module" src="/static/js/common/breadcrumb-nav.js"></script>
  <script type="module" src="/static/js/common/images-gallery.js"></script>
{% endblock scripts -%}

{% block content -%}
  {# Breadcrumb -#}
  <breadcrumb-nav banner-url="{{ community.banner_url }}" items='[{"label": "Home", "href": "/", "icon": "home"}, {"label": {{ community.display_name|json }}, "icon": "community"}]'></breadcrumb-nav>

  {% if !community.description.is_empty() -%}
    <div class="container mx-auto max-w-7xl px-4 pb-6 lg:pb-12 sm:px-6 lg:px-8 pt-12">
      <div class="font-normal text-stone-600">{{ community.description|md_to_html|safe }}</div>
    </div>
  {% endif -%}
  {# End breadcrumb -#}

  {# Main content -#}
  <div class="bg-white">
    <div class="container mx-auto max-w-7xl px-4 pb-6 lg:pb-12 sm:px-6 lg:px-8 pt-10">
      {# Stats -#}
      {{ stats|safe }}
      {# End stats -#}

      <div class="pt-3 xl:pt-8">
        {# Events in-person -#}
        {% let in_person_link = "/explore?entity=events&kind[0]=in-person&community[0]=".to_owned() + &community.name -%}
        {{ ui::events_list(title = "upcoming in-person events", link = &in_person_link, events = upcoming_in_person_events) -}}
        {# End events in-person -#}

        {# Events online -#}
        {% let virtual_link = "/explore?entity=events&kind[0]=virtual&community[0]=".to_owned() + &community.name -%}
        {{ ui::events_list(title = "upcoming virtual events", link = &virtual_link, events = upcoming_virtual_events) -}}
        {# End events online -#}

        {# Banner -#}
        {% if let Some(ad_banner_url) = &community.ad_banner_url -%}
          <div class="hidden pb-2 lg:pb-8 xl:pb-16 md:flex">
            {% if let Some(ad_banner_link_url) = &community.ad_banner_link_url -%}
              <a rel="noopener noreferrer"
                 href="{{ ad_banner_link_url }}"
                 target="_blank"
                 aria-label="Open external link">
              {% endif -%}
              <div class="mx-auto my-4 lg:my-8 border-4 border-stone-100 w-[85%] lg:[w-80%] xl:w-[70%]">
                <img class="h-auto max-w-full"
                     height="auto"
                     width="auto"
                     alt="Decorator"
                     src="{{ ad_banner_url }}"
                     title="Banner">
              </div>
              {% if let Some(ad_banner_link_url) = &community.ad_banner_link_url -%}
              </a>
            {% endif -%}
          </div>
        {% endif -%}
        {# End banner -#}

        {# Latest groups added -#}
        <div class="flex items-center justify-between mb-2 md:mb-6">
          <div class="uppercase text-lg lg:text-2xl tracking-wide font-bold leading-10">Latest groups added</div>
          {# See all groups on desktop -#}
          <div class="hidden justify-self-end md:flex">
            <a href="/explore?entity=groups&community[0]={{ community.name }}"
               hx-boost="true"
               hx-target="body"
               class="btn-secondary-anchor ms-4">See all groups</a>
          </div>
          {# End see all groups on desktop -#}
        </div>
        <div class="mt-5 mb-3 lg:mt-10 lg:mb-10">
          {# Groups cards -#}
          {% if recently_added_groups.len() > 0 -%}
            <div class="grid-1 grid gap-8 lg:gap-12 md:grid-cols-2 [&>a:nth-child(n+6)]:hidden md:[&>a:nth-child(n+6)]:flex md:[&>a:nth-child(n+8)]:hidden]:flex">
              {% for group in recently_added_groups -%}
                {{ group|safe }}
              {% endfor -%}
            </div>
          {% else -%}
            {{ feedback::placeholder(title = "Groups coming soon",
                        content = "Community organizers are still setting this up, check back soon for new groups.") -}}
          {% endif -%}
          {# End groups cards -#}
          {# See all groups mobile button -#}
          <div class="flex mt-9 justify-self-center md:hidden md:mt-0">
            <a href="/explore?entity=groups&community[0]={{ community.name }}"
               hx-boost="true"
               hx-target="body"
               class="btn-secondary-anchor">See all groups</a>
          </div>
          {# End see all groups mobile button -#}
        </div>
        {# End latest groups added -#}
      </div>
    </div>
  </div>
  {# End main content -#}

  {# Gallery -#}
  {% if let Some(photos_urls) = &community.photos_urls -%}
    {% if !photos_urls.is_empty() -%}
      <div class="bg-stone-100 pt-2 lg:pt-10 pb-6 lg:pb-12">
        <div class="container mx-auto max-w-7xl px-4 py-3 lg:py-10 lg:px-6">
          <!-- Title -->
          <div class="uppercase text-lg lg:text-2xl tracking-wide font-bold leading-10 pb-6 lg:pb-10">Gallery</div>
          <!-- End title -->
          <images-gallery title="Gallery" altImage="Community {{ community.display_name }}" images="{{ photos_urls|json }}"></images-gallery>
        </div>
      </div>
    {% endif -%}
  {% endif -%}
  {# End gallery -#}

  {# Community social links and extra links -#}
  {% let has_social_links = community.twitter_url.is_some() || community.github_url.is_some() || community.linkedin_url.is_some() || community.instagram_url.is_some() || community.wechat_url.is_some() || community.youtube_url.is_some() || community.flickr_url.is_some() || community.facebook_url.is_some() || community.slack_url.is_some() -%}
  {% let has_extra_links = community.extra_links.is_some() -%}
  {% if has_social_links || has_extra_links -%}
    <div class="bg-stone-900 text-white py-8 lg:py-12">
      <div class="container mx-auto max-w-7xl px-4 sm:px-6 lg:px-8">
        {# Social network links -#}
        {% if has_social_links -%}
          <nav class="flex flex-wrap justify-center gap-4 mb-8"
               aria-label="Social media links">
            {{ ui::social_icon_link(kind = "twitter", url = &community.twitter_url) -}}
            {{ ui::social_icon_link(kind = "github", url = &community.github_url) -}}
            {{ ui::social_icon_link(kind = "linkedin", url = &community.linkedin_url) -}}
            {{ ui::social_icon_link(kind = "instagram", url = &community.instagram_url) -}}
            {{ ui::social_icon_link(kind = "wechat", url = &community.wechat_url) -}}
            {{ ui::social_icon_link(kind = "youtube", url = &community.youtube_url) -}}
            {{ ui::social_icon_link(kind = "flickr", url = &community.flickr_url) -}}
            {{ ui::social_icon_link(kind = "facebook", url = &community.facebook_url) -}}
            {{ ui::social_icon_link(kind = "slack", url = &community.slack_url) -}}
          </nav>
        {% endif -%}
        {# End social network links -#}

        {# Extra links -#}
        {% if let Some(extra_links) = &community.extra_links -%}
          <div class="text-center">
            <div class="font-bold text-sm uppercase text-stone-300 mb-2">Quick links</div>
            <div class="text-sm/6 md:text-base">
              {% for (name, url) in extra_links -%}
                {% if !loop.first -%}
                  <span class="px-2 text-stone-300 md:px-3">·</span>
                {% endif -%}
                <a href="{{ url }}"
                   class="tracking-wider text-sm text-white hover:text-primary-500 transition-colors"
                   target='{%- if url.starts_with("/") -%}_self{%- else -%}_blank{%- endif -%}'
                   rel="noopener noreferrer">{{ name }}</a>
              {% endfor -%}
            </div>
          </div>
        {% endif -%}
        {# End extra links -#}
      </div>
    </div>
  {% endif -%}
  {# End community social links and extra links -#}
{% endblock content -%}
