{% import "macros/stats.html" as stats_macros -%}

{# Stats -#}
{# Desktop -#}
<div class="hidden lg:flex w-full flex-row justify-around items-center mx-auto border border-dashed border-stone-200 p-10 rounded-lg bg-white">
  {# Group stats -#}
  {{ stats_macros::stat_block(kind = "groups", title = "Groups", value = groups) -}}
  {# End group stats -#}

  <div class="inline-block h-[50px] min-h-[1em] w-0.5 self-stretch bg-neutral-200"></div>

  {# Members stats -#}
  {{ stats_macros::stat_block(kind = "members", title = "Members", value = groups_members) -}}
  {# End members stats -#}

  <div class="inline-block h-[50px] min-h-[1em] w-0.5 self-stretch bg-neutral-200"></div>

  {# Events stats -#}
  {{ stats_macros::stat_block(kind = "events", title = "Events", value = events) -}}
  {# End events stats -#}

  <div class="inline-block h-[50px] min-h-[1em] w-0.5 self-stretch bg-neutral-200"></div>

  {# Attendees stats -#}
  {{ stats_macros::stat_block(kind = "attendees", title = "Attendees", value = events_attendees) -}}
  {# End attendees stats -#}
</div>
{# End desktop -#}

{# Mobile -#}
<div class="grid grid-cols-2 gap-x-0 gap-y-8 justify-around lg:hidden w-full mx-auto border border-dashed border-stone-200 rounded-lg py-6 bg-white">
  {# Group stats -#}
  {{ stats_macros::stat_block(kind = "groups", title = "Groups", value = groups, extra_styles = Some("place-self-center w-[130px] -ms-4") ) -}}
  {# End group stats -#}

  {# Members stats -#}
  {{ stats_macros::stat_block(kind = "members", title = "Members", value = groups_members, extra_styles = Some("place-self-center w-[130px]") ) -}}
  {# End members stats -#}

  {# Events stats -#}
  {{ stats_macros::stat_block(kind = "events", title = "Events", value = events, extra_styles = Some("place-self-center w-[130px] -ms-4") ) -}}
  {# End events stats -#}

  {# Attendees stats -#}
  {{ stats_macros::stat_block(kind = "attendees", title = "Attendees", value = events_attendees, extra_styles = Some("place-self-center w-[130px]") ) -}}
  {# End attendees stats -#}
</div>
{# End mobile -#}
{# End stats -#}
