# Open Community Groups chart default configuration values

imagePullSecrets: []
imageTag: ""
nameOverride: ""
pullPolicy: IfNotPresent

# Enable dynamic resource name prefix
#
# Enabling the dynamic resource name prefix ensures that the resources are named dynamically based on the Helm
# installation's name. This allows multiple installations of this chart in a single Kubernetes namespace. The prefix
# can be defined by using the `fullnameOverride`.
dynamicResourceNamePrefixEnabled: false

# Overwrites the installation's fullname generation (used for the dynamic resource name prefix)
fullnameOverride: ""

# Directory path where the configuration files should be mounted
configDir: "/home/ocg/.config/ocg"

# Check database readiness init container configuration
checkDbIsReadyInitContainer:
  securityContext: {}

# Database configuration
db:
  host: ""
  port: 5432
  dbname: ocg
  user: ocg
  password: ocg

# Email configuration
email:
  # From address used in emails
  fromAddress: ""
  # From name used in emails
  fromName: ""
  # Whitelisted recipient addresses (null allows all, empty list blocks all)
  rcptsWhitelist: null
  # SMTP server configuration
  smtp:
    # Hostname
    host: ""
    # Port
    port: 587
    # Username
    username: ""
    # Password
    password: ""

# Image storage configuration
images:
  # Storage provider [db|s3]
  provider: db

  # S3 provider configuration (used when provider is set to s3)
  s3:
    accessKeyId: ""
    secretAccessKey: ""
    bucket: ""
    region: ""
    endpoint: null
    forcePathStyle: true

# Log configuration
log:
  # Output format [json|pretty]
  format: json

# Meetings providers configuration (multiple providers can be enabled simultaneously)
meetings:
  # Zoom provider configuration (set enabled to true to enable)
  zoom:
    enabled: false
    accountId: ""
    clientId: ""
    clientSecret: ""
    maxParticipants: 100
    webhookSecretToken: ""

# Database migrator configuration
dbmigrator:
  job:
    containerSecurityContext: {}
    image:
      # Database migrator image repository (without the tag)
      repository: ocg/dbmigrator
    podSecurityContext: {}

# Server configuration
server:
  # Address to listen on
  addr: 0.0.0.0:9000

  # Base URL
  baseUrl: "https://{YOUR_OCG_HOSTNAME}"

  # Cookie configuration
  cookie:
    secure: false

  # Disable referer checks on image endpoints
  disableRefererChecks: false

  # Login options enabled
  login:
    # Enable email login
    email: true
    # Enable GitHub login
    github: false
    # Enable Linux Foundation login
    linuxfoundation: false

  # OAuth2 configuration
  oauth2:
    # GitHub provider configuration
    github:
      # Auth URL
      authUrl: https://github.com/login/oauth/authorize
      # Client ID
      clientId: ""
      # Client secret
      clientSecret: ""
      # Redirect URI
      redirectUri: "https://{YOUR_OCG_HOSTNAME}/log-in/oauth2/github/callback"
      # Scopes
      scopes:
        - "read:user"
        - "user:email"
      # Token URL
      tokenUrl: https://github.com/login/oauth/access_token

  # OIDC configuration
  oidc:
    # Linux Foundation SSO provider configuration
    linuxfoundation:
      # Client ID
      clientId: ""
      # Client secret
      clientSecret: ""
      # Issuer URL
      issuerUrl: https://{YOUR_OIDC_PROVIDER_ISSUER_URL}
      # Redirect URI
      redirectUri: "https://{YOUR_OCG_HOSTNAME}/log-in/oidc/linuxfoundation/callback"
      # Scopes
      scopes:
        - openid
        - profile
        - email

  # Ingress configuration
  ingress:
    enabled: true
    annotations:
      kubernetes.io/ingress.class: nginx
    backendServicePort: 80
    rules: []
    tls: []

  # Service configuration
  service:
    allocateLoadBalancerNodePorts: true
    annotations: {}
    ports:
      - name: http
        port: 80
        protocol: TCP
        targetPort: 9000
    type: NodePort

  # Deployment configuration
  deploy:
    containerSecurityContext: {}
    image:
      # Database migrator image repository (without the tag)
      repository: ocg/server
    podSecurityContext: {}
    replicaCount: 1
    resources: {}

# Values for postgresql chart dependency
postgresql:
  enabled: true
  auth:
    database: ocg
    password: ocg
    username: ocg
  global:
    security:
      allowInsecureImages: true
  image:
    registry: docker.io
    repository: artifacthub/postgres
    tag: latest
  persistence:
    mountPath: /data
  primary:
    extraVolumes:
      - name: run
        emptyDir: {}
    extraVolumeMounts:
      - name: run
        mountPath: /var/run/postgresql
