{% extends "dashboard/dashboard_base.html" -%}
{% import "common.html" as common -%}
{% import "dashboard/dashboard_macros.html" as dashboard_macros -%}

{% block scripts -%}
  <script type="module" src="/static/js/common/markdown-editor.js"></script>
  <script type="module" src="/static/js/common/multiple-inputs.js"></script>
  <script type="module" src="/static/js/common/key-value-inputs.js"></script>
  <script type="module" src="/static/js/dashboard/event/sessions.js"></script>
  <script type="module" src="/static/js/dashboard/event/sponsors.js"></script>
  <script type="module" src="/static/js/dashboard/community/team-add-member.js"></script>
  <script type="module" src="/static/js/dashboard/group/group-selector.js"></script>
  <script type="module" src="/static/js/dashboard/group/event-selector.js"></script>
  <script type="module" src="/static/js/dashboard/group/attendees.js"></script>
  <script type="module" src="/static/js/dashboard/group/members.js"></script>
  <script type="module" src="/static/js/common/image-field.js"></script>
  <script type="module" src="/static/js/common/gallery-field.js"></script>
{% endblock scripts -%}

{% block menu -%}
  <div class="flex justify-between items-center mt-3 mb-6 px-3 lg:px-5">
    <div class="font-semibold text-stone-900 text-sm lg:text-lg">Group Dashboard</div>
    <div id="dashboard-spinner" class="hx-spinner -mt-0.5 relative">
      {% call common::spinner(size = "size-5") -%}
    </div>
  </div>

  <div class="max-h-full w-full flex flex-col flex-1 space-y-5 mb-5 overflow-y-auto px-3 lg:px-5">
    {# Groups -#}
    <div>
      {% call dashboard_macros::menu_title(text = "Group", extra_styles = "py-1.5") -%}
      <div class="mt-2">
        <group-selector groups="{{ groups|json }}" selected-group-id="{{ selected_group_id }}" search-delay="250"></group-selector>
      </div>
      {% for group in groups -%}
        {% if group.group_id == selected_group_id && !group.active -%}
          <div class="mt-2 text-xs text-orange-700 bg-orange-50 border border-orange-200 rounded px-3 py-2">
            This group has been deactivated. Please contact to a community admin.
          </div>
        {% endif -%}
      {% endfor -%}
      {% if !groups.is_empty() -%}
        <div class="mt-3 grid gap-y-0.5">
          {% call dashboard_macros::menu_item(name = "Settings", icon = "gears", is_active = content.is_settings(), href = "/dashboard/group?tab=settings") -%}
          {% call dashboard_macros::menu_item(name = "Team", icon = "team", is_active = content.is_team(), href = "/dashboard/group?tab=team") -%}
        </div>
      {% endif -%}
    </div>
    {# End groups -#}

    {# Events -#}
    <div class="leading-10 pt-6 border-t border-stone-200 grid gap-y-0.5">
      {% call dashboard_macros::menu_title(text = "Events", extra_styles = "py-1.5") -%}
      {% call dashboard_macros::menu_item(name = "Events", icon = "calendar", is_active = content.is_events(), href = "/dashboard/group?tab=events") -%}
      {% call dashboard_macros::menu_item(name = "Attendees", icon = "attendees", is_active = content.is_attendees(), href = "/dashboard/group?tab=attendees") -%}
    </div>
    {# End events -#}

    {# Members and sponsors -#}
    <div class="leading-10 pt-6 border-t border-stone-200 grid gap-y-0.5">
      {% call dashboard_macros::menu_title(text = "Members and sponsors", extra_styles = "py-1.5") -%}
      {% call dashboard_macros::menu_item(name = "Members", icon = "members", is_active = content.is_members(), href = "/dashboard/group?tab=members") -%}
      {% call dashboard_macros::menu_item(name = "Sponsors", icon = "handshake", is_active = content.is_sponsors(), href = "/dashboard/group?tab=sponsors") -%}
    </div>
    {# End members and sponsors -#}

    {# Analytics -#}
    <div class="leading-10 pt-6 border-t border-stone-200 grid gap-y-0.5">
      {% call dashboard_macros::menu_title(text = "Analytics", extra_styles = "py-1.5") -%}
      {% call dashboard_macros::menu_item(name = "Analytics", icon = "charts", is_active = false, href = "#", disabled = true) -%}
    </div>
    {# End analytics -#}
  </div>
{% endblock menu -%}

{% block dashboard_main -%}
  <div id="dashboard-content"
       hx-get="/dashboard/group/{%- if content.is_team() -%}team{%- else if content.is_settings() -%}settings{%- else if content.is_sponsors() -%}sponsors{%- else -%}events{%- endif -%}"
       hx-trigger="refresh-group-dashboard-table"
       hx-swap="innerHTML show:window:top"
       class="p-4 sm:p-6 lg:p-12">
    {# Content -#}
    {{ content|safe }}
    {# End Content -#}
  </div>

  {# Messages -#}
  {% if !messages.is_empty() -%}
    {% call common::alerts(messages) -%}
  {% endif -%}
  {# End messages -#}
{% endblock dashboard_main -%}
