{% import "common.html" as common -%}
{% import "dashboard/dashboard_macros.html" as macros -%}

{# Members header -#}
{% call macros::form_title(title = "Members") -%}

<div class="flex text-sm text-stone-600 mb-5 justify-end">
  <div>Total members:</div>
  <div class="font-semibold ms-1 text-end">
    {% if members.is_empty() -%}
      -
    {% else %}
      {{ members.len() }}
    {% endif -%}
  </div>
</div>

{# Members table -#}
<div class="relative overflow-visible">
  <table class="table-fixed w-full text-xs lg:text-sm text-left rtl:text-right text-stone-500"
         role="table"
         aria-label="Members list">
    <thead class="text-xs text-stone-700 uppercase bg-stone-100 border-b border-stone-200"
           role="rowgroup">
      <tr>
        <th scope="col" class="px-3 xl:px-5 py-3">Member</th>
        <th scope="col" class="px-3 xl:px-5 py-3">Position</th>
        <th scope="col" class="hidden xl:table-cell px-3 xl:px-5 py-3 w-40">Joined</th>
      </tr>
    </thead>
    <tbody id="members-list" role="rowgroup">
      {% if members.is_empty() -%}
        <tr class="bg-white border-b border-stone-200">
          <td class="px-8 py-12 text-center" colspan="3">
            <div class="flex flex-col items-center justify-center min-h-[125px]">
              <div class="text-xl lg:text-2xl mb-6">No members yet.</div>
              <p class="text-sm lg:text-md text-stone-700">Members of this group will appear here once users join.</p>
            </div>
          </td>
        </tr>
      {% else -%}
        {% for member in members -%}
          <tr class="odd:bg-white even:bg-stone-50/50 border-b border-stone-200">
            {# Member -#}
            <td class="px-3 xl:px-5 py-4">
              <div class="flex items-center space-x-5">
                <avatar-image
                {% if let Some(photo_url) = member.photo_url -%}
                  image-url="{{ photo_url }}"
                {% endif -%}
                size="size-10" placeholder="{{ self::user_initials(member.name.as_deref() , member.username.as_str()) }}">
                </avatar-image>
                <div class="min-w-0">
                  <div class="font-medium text-stone-900 truncate mb-1">
                    {{ member.name|display_some_or(member.username) }}
                  </div>
                  {% if member.name.is_some() -%}
                    <div class="text-xs text-stone-600 truncate">{{ member.username }}</div>
                  {% endif -%}
                </div>
              </div>
            </td>
            {# End member -#}

            {# Position -#}
            <td class="px-3 xl:px-5 py-4">
              <div class="flex flex-col space-y-1">
                <div class="font-medium text-stone-900 truncate">{{ member.company|display_some_or("-") }}</div>
                {% if let Some(title) = member.title -%}
                  <div class="text-xs text-stone-600 truncate">{{ title }}</div>
                {% endif -%}
              </div>
            </td>
            {# End Position -#}

            {# Joined -#}
            <td class="hidden xl:table-cell px-3 xl:px-5 py-4 whitespace-nowrap w-40">
              {{ member.created_at.format("%b %d, %Y") }}
            </td>
            {# End joined -#}
          </tr>
        {% endfor -%}
      {% endif -%}
    </tbody>
  </table>
  {# End table -#}
</div>
