{% import "macros/dashboard.html" as dashboard -%}
{% import "macros/sponsor.html" as sponsor_fields -%}

{# Add Sponsor form -#}
<form id="sponsor-form"
      hx-post="/dashboard/group/sponsors/add"
      hx-ext="no-empty-vals"
      hx-target="#dashboard-content"
      hx-history="false"
      hx-indicator="#dashboard-spinner, #group-sponsor-create-spinner"
      hx-disabled-elt="button[type=submit], #cancel-button"
      data-htmx-response
      data-success-message="You have successfully added the sponsor."
      data-error-message="Something went wrong adding the sponsor. Please try again later.">
  <div class="space-y-12">
    <div class="border-b border-stone-900/10 pb-12">
      {{ dashboard::page_title(title = "Sponsor Details", description = "Please provide the sponsor information.") -}}

      <div class="mt-10 grid grid-cols-1 gap-x-6 gap-y-8 md:grid-cols-6 max-w-4xl">
        {{ sponsor_fields::details_fields() -}}
      </div>
    </div>
  </div>

  {{ dashboard::form_actions(cancel_href = "/dashboard/group?tab=sponsors", spinner_id = "group-sponsor-create-spinner", submit_label = "Add Sponsor") -}}
</form>

{# End Add Sponsor form -#}
