<!-- Primary button -->
{% macro primary_button(content, onclick, extra_styles, rounded) %}
  <button
    class="{% if rounded %}p-2.5 h-[44px] w-[44px]{% else %}py-1.5 px-5 h-[40px]{% endif %} text-base font-medium text-center text-white rounded-full bg-primary-500 hover:bg-primary-700 focus:ring-4 focus:ring-primary-300 active:ring-4 active:ring-primary-300 focus:bg-primary-700 focus:text-white {{ extra_styles }}"
    onclick="{{ onclick }}"
  >
    {{ content|safe }}
  </button>
{% endmacro %}
<!-- End primary button -->

<!-- Primary link -->
{% macro primary_link(content, href, extra_styles, rounded) %}
  <a
    class="{% if rounded %}p-2.5 h-[44px] w-[44px]{% else %}py-2 px-5{% endif %} inline-block text-base font-medium text-center text-white rounded-full bg-primary-500 hover:bg-primary-700 focus:ring-4 focus:ring-primary-300 active:ring-4 active:ring-primary-300 focus:bg-primary-700 focus:text-white {{ extra_styles }}"
    href="{{ href }}"
  >
    {{ content|safe }}
</a>
{% endmacro %}
<!-- End primary link -->

<!-- Secondary button -->
{% macro secondary_button(content, icon, onclick, extra_styles, rounded) %}
  <button
    class="{% if rounded %}p-1.5 h-[30px] w-[30px]{% else %}py-1.5 px-5 h-[40px]{% endif %} bg-white items-center text-base font-medium text-center text-primary-500 rounded-full border border-primary-500 hover:bg-primary-500 hover:text-white hover:bg-gray-100 focus:ring-4 focus:ring-primary-300 active:ring-4 active:ring-primary-300 focus:bg-primary-700 focus:text-white {{ extra_styles }}"
    onclick="{{ onclick }}"
  >
    <div class="flex items-center justify-center">
      {% match icon %}
        {% when "map" %}
        <svg class="me-2" stroke="currentColor" fill="currentColor" stroke-width="0" viewBox="0 0 576 512" height="1em" width="1em" xmlns="http://www.w3.org/2000/svg"><path d="M408 120c0 54.6-73.1 151.9-105.2 192c-7.7 9.6-22 9.6-29.6 0C241.1 271.9 168 174.6 168 120C168 53.7 221.7 0 288 0s120 53.7 120 120zm8 80.4c3.5-6.9 6.7-13.8 9.6-20.6c.5-1.2 1-2.5 1.5-3.7l116-46.4C558.9 123.4 576 135 576 152V422.8c0 9.8-6 18.6-15.1 22.3L416 503V200.4zM137.6 138.3c2.4 14.1 7.2 28.3 12.8 41.5c2.9 6.8 6.1 13.7 9.6 20.6V451.8L32.9 502.7C17.1 509 0 497.4 0 480.4V209.6c0-9.8 6-18.6 15.1-22.3l122.6-49zM327.8 332c13.9-17.4 35.7-45.7 56.2-77V504.3L192 449.4V255c20.5 31.3 42.3 59.6 56.2 77c20.5 25.6 59.1 25.6 79.6 0zM288 152a40 40 0 1 0 0-80 40 40 0 1 0 0 80z"></path></svg>
        {% else %}
          <span></span>
      {% endmatch %}
      {{ content|safe }}
    </div>
  </button>
{% endmacro %}
<!-- End secondary button -->

<!-- Secondary link -->
{% macro secondary_link(content, href, extra_styles, rounded) %}
  <a
    class="{% if rounded %}p-2 h-[44px] w-[44px]{% else %}py-2 px-5{% endif %} inline-block bg-white items-center text-base font-medium text-center text-primary-500 rounded-full border border-primary-500 hover:bg-primary-500 hover:text-white focus:ring-4 focus:ring-primary-300 active:ring-4 active:ring-primary-300 focus:bg-primary-700 focus:text-white {{ extra_styles }}"
    href="{{ href }}"
  >
    {{ content|safe }}
</a>
{% endmacro %}
<!-- End secondary link -->

<!-- Search bar -->
{% macro search_bar(placeholder, value, form, input_styles, container_styles, home) %}
  <div class="flex items-center {{ container_styles }}">
    <div class="relative {{ input_styles }} {% if !home %}md:-ml-[0.75rem]{% endif %}">
      <input
        type="text"
        id="ts_query"
        name="ts_query"
        value="{{ value }}"
        class="peer w-[100%] rounded-full border border-gray-300 text-gray-900 placeholder-gray-400 focus:ring-transparent focus:border-primary-500 focus:ring block flex-1 min-w-0 w-60 text-md p-2.5 ps-4"
        placeholder="{{ placeholder}}"
        autocomplete="off"
        onkeydown="onSearchKeyDown(event, '{{ form }}')"
      />
      <div class="absolute right-[40px] top-[10px] block peer-placeholder-shown:hidden">
        <button onclick="cleanInputField('ts_query', 'events-form')" class='mr-2 mt-[2px] text-xl text-gray-400 hover:text-current block peer-placeholder-shown:hidden'>
          <svg stroke="currentColor" fill="currentColor" stroke-width="0" viewBox="0 0 24 24" height="1em" width="1em" xmlns="http://www.w3.org/2000/svg"><path fill="none" d="M0 0h24v24H0z"></path><path d="M19 6.41 17.59 5 12 10.59 6.41 5 5 6.41 10.59 12 5 17.59 6.41 19 12 13.41 17.59 19 19 17.59 13.41 12z"></path></svg>
        </button>
      </div>
      <div class="absolute right-[8px] top-[5px]">
        {% if form == "" %}
          {% call secondary_button("<svg class='w-3.5 h-3.5' aria-hidden='true' stroke='currentColor' fill='currentColor' stroke-width='0' viewBox='0 0 512 512' height='1em' width='1em' xmlns='http://www.w3.org/2000/svg'><path d='M416 208c0 45.9-14.9 88.3-40 122.7L502.6 457.4c12.5 12.5 12.5 32.8 0 45.3s-32.8 12.5-45.3 0L330.7 376c-34.4 25.2-76.8 40-122.7 40C93.1 416 0 322.9 0 208S93.1 0 208 0S416 93.1 416 208zM208 352a144 144 0 1 0 0-288 144 144 0 1 0 0 288z'></path></svg>", "", "loadExplorePageWithTsQuery()", "", true) %}
        {% else %}
          {% call secondary_button("<svg class='w-3.5 h-3.5' stroke='currentColor' fill='currentColor' stroke-width='0' viewBox='0 0 512 512' height='1em' width='1em' xmlns='http://www.w3.org/2000/svg'><path d='M416 208c0 45.9-14.9 88.3-40 122.7L502.6 457.4c12.5 12.5 12.5 32.8 0 45.3s-32.8 12.5-45.3 0L330.7 376c-34.4 25.2-76.8 40-122.7 40C93.1 416 0 322.9 0 208S93.1 0 208 0S416 93.1 416 208zM208 352a144 144 0 1 0 0-288 144 144 0 1 0 0 288z'></path></svg>", "", "triggerChangeOnForm('{}')"|format(form), "", true) %}
        {% endif %}
      </div>
      {% if !home  %}
        <div class="absolute hidden -right-[1.5rem] top-0 md:block">
          <button class="text-gray-300" onclick="updateModalStatus('search-tips')">
            <svg class='w-4 h-4' stroke="currentColor" fill="currentColor" stroke-width="0" viewBox="0 0 512 512" height="1em" width="1em" xmlns="http://www.w3.org/2000/svg"><path d="M256 8C119.043 8 8 119.083 8 256c0 136.997 111.043 248 248 248s248-111.003 248-248C504 119.083 392.957 8 256 8zm0 448c-110.532 0-200-89.431-200-200 0-110.495 89.472-200 200-200 110.491 0 200 89.471 200 200 0 110.53-89.431 200-200 200zm107.244-255.2c0 67.052-72.421 68.084-72.421 92.863V300c0 6.627-5.373 12-12 12h-45.647c-6.627 0-12-5.373-12-12v-8.659c0-35.745 27.1-50.034 47.579-61.516 17.561-9.845 28.324-16.541 28.324-29.579 0-17.246-21.999-28.693-39.784-28.693-23.189 0-33.894 10.977-48.942 29.969-4.057 5.12-11.46 6.071-16.666 2.124l-27.824-21.098c-5.107-3.872-6.251-11.066-2.644-16.363C184.846 131.491 214.94 112 261.794 112c49.071 0 101.45 38.304 101.45 88.8zM298 368c0 23.159-18.841 42-42 42s-42-18.841-42-42 18.841-42 42-42 42 18.841 42 42z"></path></svg>
          </button>
        </div>
        <!-- Search tips modal -->
        <div id="search-tips" tabindex="-1" aria-hidden="true" class="hidden overflow-y-auto overflow-x-hidden fixed top-0 right-0 left-0 z-50 justify-center items-center w-full md:inset-0 max-h-full flex">
          <div class="modal-overlay absolute w-full h-full bg-black opacity-75" onclick="updateModalStatus('search-tips')"></div>
          <div class="relative p-4 w-full max-w-2xl max-h-full">
            <div class="relative bg-white rounded-lg shadow">
              <!-- Modal header -->
              <div class="flex items-center justify-between p-4 md:p-5 border-b rounded-t">
                <h3 class="text-xl font-semibold text-gray-900">
                  Search tips
                </h3>
                <button type="button" class="text-gray-400 bg-transparent hover:bg-gray-200 hover:text-gray-900 rounded-lg text-sm w-8 h-8 ms-auto inline-flex justify-center items-center" onclick="updateModalStatus('search-tips')">
                  <svg class="w-3 h-3" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 14 14">
                    <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="m1 1 6 6m0 0 6 6M7 7l6-6M7 7l-6 6"/>
                  </svg>
                  <span class="sr-only">Close modal</span>
                </button>
              </div>
              <!-- End modal header -->

              <!-- Modal content -->
              <div class="p-4 md:p-5 space-y-4">
                <ul class="list-disc text-sm ps-8 pe-4 py-6 leading-8">
                  <li>Use multiple words to refine your search. Example: budapest meeting</li>
                  <li>Use - to exclude words from your search. Example: austin -virtual</li>
                  <li>Put a phrase inside double quotes for an exact match. Example: "Community Group"</li>
                  <li>Use or to combine multiple searches. Example: webAssembly or wasm</li>
                </ul>
              </div>
              <!-- End modal content -->
            </div>
          </div>
        </div>
        <!-- End search tips modal -->
      {% endif %}
    </div>
  </div>
{% endmacro %}
<!-- End search bar -->

<!-- Alert -->
{% macro alert(title, content) %}
  <div class="p-10 md:p-14">
    <div class="border border-primary-300 p-10 text-sm text-gray-800 rounded-lg bg-primary-50 text-center" role="alert">
      <div class="text-xl mb-6">{{ title }}</div>
      {{ content }}
    </div>
  </div>
{% endmacro %}
<!-- End alert -->

<!-- Results -->
{% macro results_legend(total, items_number, offset_value) %}{% if let Some(offset) = offset_value %}{{ offset + 1 }} - {{ items_number + offset }}{% else %}1 - {{ items_number }}{% endif %} of {{ total }} results{% endmacro %}
<!-- End results -->

<!-- Logo -->
  {% macro logo(logo_url, name, title, classes) %}
    {% if let Some(url) = logo_url %}
      <div
        class="h-24 min-w-24 md:my-auto bg-white rounded-lg outline outline-1 outline-gray-300 border border-[5px] border-white overflow-hidden bg-no-repeat bg-center bg-cover {{ classes }}"
        style='
          background-image: url({{ url }});
        '>
      </div>
    {% else %}
      <div
        class="relative h-24 w-24 md:my-auto bg-white rounded-lg outline outline-1 outline-gray-300 border border-[5px] border-white overflow-hidden bg-no-repeat bg-center bg-cover {{ classes }}"
      >
        <div class="relative h-full w-full flex place-items-center p-2 text-[0.78rem] text-gray-600 font-bold leading-5 capitalize z-10">
          <p class="w-full text-ellipsis overflow-hidden text-center">
            {{ name }}
          </p>
        </div>
        <div data-placeholder-logo="true" data-placeholder-name="{{ title }}" class="absolute w-full h-full top-0" style="mask-image: url(/static/images/placeholder_cncf.png);mask-mode: alpha;mask-size: cover;"></div>
      </div>
    {% endif %}
  {% endmacro %}
<!-- End logo -->
