{% import "macros/dashboard.html" as dashboard -%}

{# Community Groups Table Placeholder -#}
{% call dashboard::empty_state("It looks like you haven't created any groups yet.", title_margin = "mb-10") -%}
<p class="text-sm lg:text-md text-stone-700">
  Groups created by this community will be listed here.
  {% if can_manage_groups -%}
    You can create a new group by clicking on the <span class="font-semibold">Add Group</span> button in the top right corner.
  {% else -%}
    Your role has view-only access for group management.
  {% endif -%}
</p>
{% endcall -%}
{# End community groups table placeholder -#}
