{% import "macros/dashboard.html" as dashboard -%}

{# Group Events Table Placeholder -#}
{% call dashboard::empty_state("It looks like you don't have any upcoming events.", title_margin = "mb-10") -%}
<p class="text-sm lg:text-md text-stone-700">
  {% if can_manage_events -%}
    You can create a new event by clicking on the <span class="font-semibold">Add Event</span> button in the top right corner.
  {% else -%}
    Your role has view-only access for event management.
  {% endif -%}
</p>
{% endcall -%}
{# End group events table placeholder -#}
