{% import "macros/dashboard.html" as dashboard -%}

{# Group Sponsors Table Placeholder -#}
{% call dashboard::empty_state("This group does not have any sponsors yet.") -%}
<p class="text-sm lg:text-md text-stone-700">
  {% if can_manage_sponsors -%}
    You can add sponsors by clicking on the <span class="font-semibold">Add Sponsor</span> button in the top right corner.
  {% else -%}
    Your role has view-only access for sponsor management.
  {% endif -%}
</p>
{% endcall -%}
{# End group sponsors table placeholder -#}
