{% import "macros/dashboard.html" as dashboard -%}

{# Groups list header with title -#}
{{ dashboard::form_title(title = "Groups") -}}

<div class="flex justify-between my-10">
  <div class="flex items-center gap-x-6">
    {# Search groups input -#}
    <div class="relative">
      <div class="absolute inset-y-0 rtl:inset-r-0 start-0 flex items-center ps-3 pointer-events-none">
        <div class="svg-icon size-4 icon-search bg-stone-300"></div>
      </div>
      <form id="groups-search-form"
            hx-get="/dashboard/community/groups"
            hx-trigger="change, submit"
            hx-target="#dashboard-content"
            hx-indicator="#dashboard-spinner">
        <input id="search_groups"
               name="ts_query"
               type="text"
               value="{{ ts_query|assigned_or("") }}"
               class="input-primary peer ps-9 w-96"
               placeholder="Search groups"
               autocomplete="off"
               autocorrect="off"
               autocapitalize="off"
               spellcheck="false">
      </form>
      <div class="absolute end-1.5 top-1.5 peer-placeholder-shown:hidden">
        <button hx-get="/dashboard/community/groups"
                hx-trigger="click"
                hx-target="#dashboard-content"
                hx-indicator="#dashboard-spinner"
                class="cursor-pointer mt-[2px]">
          <div class="svg-icon size-5 bg-stone-400 hover:bg-stone-700 icon-close"></div>
        </button>
      </div>
    </div>
    {# End search groups input -#}
  </div>

  {# Add group button -#}
  <div>
    <button id="add-group-button"
            hx-get="/dashboard/community/groups/add"
            hx-target="#dashboard-content"
            hx-indicator="#dashboard-spinner"
            class="btn-primary">Add Group</button>
  </div>
  {# End add group button -#}

  <script type="module">
    import {
      cleanInputField,
      searchOnEnter,
      triggerChangeOnForm
    } from '/static/js/community/explore/filters.js';

    const searchInput = document.getElementById('search_groups');
    if (searchInput) {
      searchInput.addEventListener('keydown', (event) => {
        searchOnEnter(event, 'groups-search-form');
      });
    }

    const addGroupButton = document.getElementById('add-group-button');
    if (addGroupButton) {
      addGroupButton.addEventListener('htmx:afterRequest', () => {
        history.pushState({}, "Groups list", '/dashboard/community?tab=groups');
      });
    }
  </script>
</div>

{# Groups Table -#}
<div class="relative overflow-visible">
  <table class="table-auto w-full text-xs lg:text-sm text-left rtl:text-right text-stone-500">
    <thead class="text-xs text-stone-700 uppercase bg-stone-100 border-b border-stone-200">
      {# Header -#}
      <tr>
        <th scope="col" class="px-3 xl:px-5 py-3">Name</th>
        <th scope="col" class="hidden xl:table-cell px-3 xl:px-5 py-3">Location</th>
        <th scope="col" class="hidden 2xl:table-cell px-3 xl:px-5 py-3">Created</th>
        <th scope="col" class="hidden xl:table-cell px-3 xl:px-5 py-3">Category</th>
        <th scope="col" class="px-3 xl:px-5 py-3 w-27"></th>
      </tr>
    </thead>
    <tbody id="groups-list">
      {% if groups.is_empty() -%}
        <tr class="bg-white border-b border-stone-200">
          {# Mobile: 2 columns (Name, Actions) -#}
          <td class="xl:hidden px-8 py-20 text-center" colspan="2">
            {% include "dashboard/placeholders/community_groups_table.html" -%}
          </td>
          {# xl: 4 columns (adds Location, Category) -#}
          <td class="hidden xl:table-cell 2xl:hidden px-8 py-20 text-center"
              colspan="4">{% include "dashboard/placeholders/community_groups_table.html" -%}</td>
          {# 2xl: 5 columns (adds Created) -#}
          <td class="hidden 2xl:table-cell px-8 py-20 text-center" colspan="5">
            {% include "dashboard/placeholders/community_groups_table.html" -%}
          </td>
        </tr>
      {% else -%}
        {% for group in groups -%}
          <tr class="odd:bg-white even:bg-stone-50/50 border-b border-stone-200">
            <th scope="row"
                class="px-3 xl:px-5 py-4 font-medium text-stone-900 min-w-[100px] max-w-[200px] xl:max-w-auto">
              <div class="flex items-center">
                <div class="min-w-0">
                  {# Group name with inactive badge if needed -#}
                  <div class="max-w-full truncate flex items-center gap-x-2">
                    <div hx-put="/dashboard/group/{{ group.group_id }}/select"
                         hx-trigger="click"
                         hx-target="#dashboard-content"
                         hx-indicator="#dashboard-spinner"
                         role="button"
                         class="truncate cursor-pointer">{{ group.name }}</div>
                    {% if !group.active -%}
                      <span class="inline-block px-2 py-0.5 bg-amber-600 text-white text-[10px] leading-4 rounded-full uppercase whitespace-nowrap">Inactive</span>
                    {% endif -%}
                  </div>
                  {# End group name -#}

                  {# Mobile category and location -#}
                  <div class="block xl:hidden text-xs text-stone-500">
                    <div class="max-w-full truncate">{{ group.category.name }}</div>
                    {% if let Some(location) = &group.location(40) -%}
                      <div class="max-w-full truncate">{{ location }}</div>
                    {% endif -%}
                  </div>
                  {# End mobile category and location -#}
                </div>
              </div>
            </th>

            {# Location -#}
            <td class="hidden xl:table-cell px-3 xl:px-5 py-4 whitespace-nowrap min-w-[100px] max-w-[200px]">
              {% if let Some(location) = &group.location(50) -%}
                <div class="max-w-full truncate">{{ location }}</div>
              {% else -%}
                <span class="text-stone-400">-</span>
              {% endif -%}
            </td>
            {# End location -#}

            {# Created date -#}
            <td class="hidden 2xl:table-cell px-3 xl:px-5 py-4 whitespace-nowrap w-32">
              {{ group.created_at.format("%B %e, %Y") }}
            </td>
            {# End created date -#}

            {# Category -#}
            <td class="hidden xl:table-cell px-3 xl:px-5 py-4 whitespace-nowrap min-w-[100px] max-w-[150px]">
              <div class="max-w-full truncate">{{ group.category.name }}</div>
            </td>
            {# End category -#}

            {# Actions -#}
            <td class="px-3 xl:px-5 py-4 w-32 xl:w-40 w-27">
              <div class="flex items-center gap-x-1 xl:gap-x-3">
                {# Update group button -#}
                <div>
                  <button hx-get="/dashboard/community/groups/{{ group.group_id }}/update"
                          hx-target="#dashboard-content"
                          hx-indicator="#dashboard-spinner"
                          hx-swap="innerHTML show:body:top"
                          hx-disabled-elt="this"
                          class="btn-tertiary p-2">
                    <div class="svg-icon size-4 icon-pencil"></div>
                  </button>
                </div>
                {# End update group button -#}

                {# Actions dropdown (Deactivate/Delete) -#}
                <div class="group relative">
                  <button data-group-id="{{ group.group_id }}"
                          class="btn-group-actions btn-tertiary p-2 group-has-[.dropdown:not(.hidden)]:bg-stone-50"
                          aria-label="Open actions menu for group {{ group.name }}">
                    <div class="svg-icon size-4 icon-vertical-dots"></div>
                  </button>

                  <div id="dropdown-group-actions-{{ group.group_id }}"
                       class="dropdown absolute hidden z-10 end-0 top-8 w-[200px] bg-white divide-y divide-stone-100 rounded-lg shadow border border-stone-200">
                    <ul class="py-2 text-sm text-stone-700">
                      {# Activate/Deactivate button depending on status -#}
                      {% if group.active -%}
                        <li>
                          <button id="deactivate-group-{{ group.group_id }}"
                                  hx-put="/dashboard/community/groups/{{ group.group_id }}/deactivate"
                                  hx-target="#dashboard-content"
                                  hx-indicator="#dashboard-spinner"
                                  hx-trigger="confirmed"
                                  class="cursor-pointer w-full text-start px-4 py-2 hover:bg-stone-100">
                            <div class="flex items-center">
                              <div class="svg-icon size-4 icon-cancel bg-stone-600"></div>
                              <div class="ms-2">Deactivate</div>
                            </div>
                          </button>
                          <script type="module">
                            import {
                              showConfirmAlert,
                              handleHtmxResponse,
                            } from '/static/js/common/alerts.js';

                            const deactivateGroupBtn = document.getElementById('deactivate-group-{{ group.group_id }}');
                            if (deactivateGroupBtn) {
                              deactivateGroupBtn.addEventListener('click', () => {
                                showConfirmAlert(
                                  "Are you sure you wish to deactivate this group?",
                                  "deactivate-group-{{ group.group_id }}",
                                  "Yes",
                                );
                              });

                              deactivateGroupBtn.addEventListener('htmx:afterRequest', (e) => {
                                const xhr = e.detail?.xhr;
                                handleHtmxResponse({
                                  xhr,
                                  successMessage: "You have successfully deactivated the group.",
                                  errorMessage: "Something went wrong deactivating this group. Please try again later."
                                });
                              });
                            }
                          </script>
                        </li>
                      {% else -%}
                        <li>
                          <button id="activate-group-{{ group.group_id }}"
                                  hx-put="/dashboard/community/groups/{{ group.group_id }}/activate"
                                  hx-target="#dashboard-content"
                                  hx-indicator="#dashboard-spinner"
                                  hx-trigger="confirmed"
                                  class="cursor-pointer w-full text-start px-4 py-2 hover:bg-stone-100">
                            <div class="flex items-center">
                              <div class="svg-icon size-4 icon-power bg-stone-600"></div>
                              <div class="ms-2">Activate</div>
                            </div>
                          </button>
                          <script type="module">
                            import {
                              showConfirmAlert,
                              handleHtmxResponse,
                            } from '/static/js/common/alerts.js';

                            const activateGroupBtn = document.getElementById('activate-group-{{ group.group_id }}');
                            if (activateGroupBtn) {
                              activateGroupBtn.addEventListener('click', () => {
                                showConfirmAlert(
                                  "Are you sure you wish to activate this group?",
                                  "activate-group-{{ group.group_id }}",
                                  "Yes",
                                );
                              });

                              activateGroupBtn.addEventListener('htmx:afterRequest', (e) => {
                                const xhr = e.detail?.xhr;
                                handleHtmxResponse({
                                  xhr,
                                  successMessage: "You have successfully activated the group.",
                                  errorMessage: "Something went wrong activating this group. Please try again later."
                                });
                              });
                            }
                          </script>
                        </li>
                      {% endif -%}

                      {# Delete button -#}
                      <li>
                        <button id="delete-group-{{ group.group_id }}"
                                hx-delete="/dashboard/community/groups/{{ group.group_id }}/delete"
                                hx-target="#dashboard-content"
                                hx-indicator="#dashboard-spinner"
                                hx-trigger="confirmed"
                                class="cursor-pointer w-full text-start px-4 py-2 hover:bg-stone-100">
                          <div class="flex items-center">
                            <div class="svg-icon size-4 icon-trash bg-stone-600"></div>
                            <div class="ms-2">Delete</div>
                          </div>
                        </button>
                        <script type="module">
                          import {
                            showConfirmAlert,
                            handleHtmxResponse,
                          } from '/static/js/common/alerts.js';

                          const deleteGroupBtn = document.getElementById('delete-group-{{ group.group_id }}');
                          if (deleteGroupBtn) {
                            deleteGroupBtn.addEventListener('click', () => {
                              showConfirmAlert(
                                "Are you sure you wish to delete this group?",
                                "delete-group-{{ group.group_id }}",
                                "Yes",
                              );
                            });

                            deleteGroupBtn.addEventListener('htmx:afterRequest', (e) => {
                              const xhr = e.detail?.xhr;
                              handleHtmxResponse({
                                xhr,
                                successMessage: "You have successfully deleted the group.",
                                errorMessage: "Something went wrong deleting this group. Please try again later."
                              });
                            });
                          }
                        </script>
                      </li>
                      {# End delete button -#}
                    </ul>
                  </div>
                </div>
                {# End actions dropdown -#}
              </div>
            </td>
            {# End actions -#}
          </tr>
        {% endfor -%}
      {% endif -%}
    </tbody>
  </table>
  <script type="module">
    const btnGroupActions = document.querySelectorAll('.btn-group-actions');
    btnGroupActions.forEach((btnAction) => {
      btnAction.addEventListener('click', () => {
        const groupId = btnAction.dataset.groupId;
        const dropdown = document.getElementById(`dropdown-group-actions-${groupId}`);
        if (!dropdown) return;

        const isHidden = dropdown.classList.contains('hidden');
        dropdown.classList.toggle('hidden');

        if (isHidden) {
          const outsideClick = (ev) => {
            if (!dropdown.contains(ev.target) && !btnAction.contains(ev.target)) {
              dropdown.classList.add('hidden');
              document.removeEventListener('click', outsideClick);
            }
          };
          setTimeout(() => document.addEventListener('click', outsideClick), 0);
        }
      });
    });
  </script>
</div>
{# End Groups Table -#}
