{% import "macros/dashboard.html" as dashboard -%}
{% import "macros/form_fields.html" as form_fields -%}

{# Add Group Category form -#}
<form id="group-category-form"
      hx-post="/dashboard/community/group-categories/add"
      hx-ext="no-empty-vals"
      hx-target="#dashboard-content"
      hx-history="false"
      hx-indicator="#dashboard-spinner, #community-group-category-create-spinner"
      hx-disabled-elt="button[type=submit], #cancel-button"
      data-htmx-response
      data-success-message="You have successfully added the group category."
      data-error-message="Something went wrong adding the group category. Please try again later.">
  <div class="space-y-12">
    <div class="border-b border-stone-900/10 pb-12">
      {{ dashboard::page_title(title = "Group Category Details", docs_href = "/docs#/guides/community-dashboard?id=group-categories-group-taxonomy", description = "Add a new group category for this community.") -}}

      <div class="mt-10 grid grid-cols-1 gap-x-6 gap-y-8 md:grid-cols-6 max-w-4xl">
        {{ form_fields::entity_name_field(legend_prefix = "Category display name.") -}}
      </div>
    </div>
  </div>

  {{ dashboard::form_actions(cancel_href = "/dashboard/community?tab=group-categories",
    spinner_id = "community-group-category-create-spinner",
    submit_label = "Add Group Category") -}}
</form>

{# End Add Group Category form -#}
