{% extends "dashboard/dashboard_base.html" -%}
{% import "common.html" as common -%}
{% import "dashboard/dashboard_macros.html" as dashboard_macros -%}

{% block scripts -%}
  <script type="module" src="/static/js/common/markdown-editor.js"></script>
  <script type="module" src="/static/js/common/multiple-inputs.js"></script>
  <script type="module" src="/static/js/common/key-value-inputs.js"></script>
{% endblock scripts -%}

{% block menu -%}
  <div class="flex justify-between items-center mt-3 mb-6 px-3 lg:px-5">
    <div class="font-semibold text-stone-900 text-lg lg:text-2xl">Dashboard</div>
    <div id="dashboard-spinner" class="hx-spinner -mt-1.5 relative">{% call common::small_spinner() -%}</div>
  </div>

  <div class="max-h-full w-full flex flex-col flex-1 space-y-5 mb-5 overflow-y-auto px-3 lg:px-5">
    {# Settings -#}
    <div class="leading-10 grid gap-y-0.5">
      {% call dashboard_macros::menu_title(text = "Community", extra_styles = "py-1.5") -%}
      {% call dashboard_macros::menu_item(name = "Settings", icon = "gears", is_active = content.is_settings(), href = "/dashboard/community?tab=settings") -%}
      {% call dashboard_macros::menu_item(name = "Team", icon = "team", is_active = false, href = "/dashboard/community?tab=team", disabled = true) -%}
    </div>
    {# End team -#}

    {# Groups -#}
    <div class="leading-10 pt-6 border-t border-stone-200 grid gap-y-0.5">
      {% call dashboard_macros::menu_title(text = "Groups", extra_styles = "py-1.5") -%}
      {% call dashboard_macros::menu_item(name = "Groups", icon = "groups", is_active = content.is_groups(), href = "/dashboard/community?tab=groups") -%}
    </div>
    {# End groups -#}

    {# Account -#}
    <div class="leading-10 pt-6 border-t border-stone-200 grid gap-y-0.5">
      {% call dashboard_macros::menu_title(text = "Account", extra_styles = "py-1.5") -%}
      {% call dashboard_macros::menu_item(name = "Account", icon = "user", is_active = content.is_account(), href = "/dashboard/community?tab=account") -%}
    </div>
    {# End account -#}
  </div>
{% endblock menu -%}

{% block dashboard_main -%}
  <div id="dashboard-content"
       hx-get="/dashboard/community/groups"
       hx-trigger="refresh-groups-table"
       class="p-4 sm:p-6 lg:p-12">
    {# Content -#}
    {{ content|safe }}
    {# End Content -#}
  </div>
{% endblock dashboard_main -%}
