{% extends "dashboard/dashboard_base.html" -%}
{% import "macros/ui.html" as ui -%}
{% import "macros/feedback.html" as feedback -%}
{% import "macros/dashboard.html" as dashboard -%}

{% block scripts -%}
  <script type="module" src="/static/js/common/markdown-editor.js"></script>
  <script type="module" src="/static/js/common/multiple-inputs.js"></script>
  <script type="module" src="/static/js/common/key-value-inputs.js"></script>
  <script type="module" src="/static/js/dashboard/community/team-add-member.js"></script>
  <script type="module"
          src="/static/js/dashboard/community/community-selector.js"></script>
  <script type="module" src="/static/js/common/image-field.js"></script>
  <script type="module" src="/static/js/common/gallery-field.js"></script>
{% endblock scripts -%}

{% block menu -%}
  <div class="flex justify-between items-center mt-3 mb-6 px-3 lg:px-5">
    <div class="font-semibold text-stone-900 text-sm lg:text-lg">Community Dashboard</div>
    <div id="dashboard-spinner" class="group hx-spinner -mt-0.5 relative">
      {{ ui::spinner(size = "size-5") -}}
    </div>
  </div>

  <div class="max-h-full w-full flex flex-col flex-1 space-y-5 mb-5 overflow-y-auto px-3 lg:px-5">
    {# Community selector -#}
    <div>
      {{ dashboard::menu_title(text = "Community", extra_styles = "py-1.5") -}}
      <div class="mt-2 mb-6">
        <community-selector communities="{{ communities|json }}" selected-community-id="{{ selected_community_id }}" select-endpoint="/dashboard/community"></community-selector>
      </div>
      <div class="mt-3 grid gap-y-0.5">
        {{ dashboard::menu_item(name = "Settings", icon = "gears", is_active = content.is_settings() , href = "/dashboard/community?tab=settings") -}}
        {{ dashboard::menu_item(name = "Team", icon = "team", is_active = content.is_team() , href = "/dashboard/community?tab=team") -}}
      </div>
    </div>
    {# End community selector -#}

    {# Analytics -#}
    <div class="leading-10 pt-6 border-t border-stone-200 grid gap-y-0.5">
      {{ dashboard::menu_title(text = "Analytics", extra_styles = "py-1.5") -}}
      {{ dashboard::menu_item(name = "Analytics",
            icon = "charts",
            is_active = content.is_analytics() ,
      href = "/dashboard/community?tab=analytics"
      ) -}}
    </div>
    {# End analytics -#}

    {# Groups -#}
    <div class="leading-10 pt-6 border-t border-stone-200 grid gap-y-0.5">
      {{ dashboard::menu_title(text = "Groups", extra_styles = "py-1.5") -}}
      {{ dashboard::menu_item(name = "Groups", icon = "groups", is_active = content.is_groups() , href = "/dashboard/community?tab=groups") -}}
    </div>
    {# End groups -#}
  </div>
{% endblock menu -%}

{% block dashboard_main -%}
  <div id="dashboard-content"
       hx-get="/dashboard/community/{%- if content.is_team() -%}team{%- elif content.is_settings() -%}settings/update{%- elif content.is_analytics() -%}analytics{%- else -%}groups{%- endif -%}"
       hx-trigger="refresh-community-dashboard-table"
       hx-swap="innerHTML show:window:top"
       class="p-4 sm:p-6 lg:p-12">
    {# Content -#}
    {{ content|safe }}
    {# End Content -#}
  </div>
  {# Messages -#}
  {% if !messages.is_empty() -%}
    {{ feedback::alerts(messages) -}}
  {% endif -%}
  {# End messages -#}
{% endblock dashboard_main -%}
