{% import "macros/ui.html" as ui -%}

{# Group card -#}
<a class="p-5 md:p-7 group select-none cursor-pointer h-full"
   href="/{{ group.community_name }}/group/{{ group.slug }}"
   hx-boost="true"
   hx-target="body">
  <article class="flex flex-col md:flex-row h-full">
    <div class="flex md:contents">
      {# Group icon - Desktop -#}
      <div class="hidden md:block shrink-0 group-hover:opacity-75 transition-opacity relative">
        {{ ui::logo(logo_url = group.logo_url, classes = "h-[180px] w-[180px] min-w-[180px]", size = 180, color = group.color, name = Some(group.name) ) -}}
      </div>
      {# End group icon - Desktop -#}

      {# Group icon - Mobile -#}
      <div class="md:hidden shrink-0 group-hover:opacity-75 transition-opacity relative">
        {{ ui::logo(logo_url = group.logo_url, classes = "h-[60px] w-[60px]", size = 60, color = group.color, name = Some(group.name) ) -}}
      </div>
      {# End group icon - Mobile -#}

      <div class="card-content md:pl-5">
        <div class="card-body">
          <div>
            {# Group region -#}
            <div class="card-header">
              <span>
                <span class="text-primary-500 pe-2">{{ group.community_name }}</span>
                {% if let Some(region) = &group.region -%}
                  {{ region.name }}
                {% else -%}
                  {{ group.category.name }}
                {% endif -%}
              </span>
            </div>
            {# End group region -#}

            {# Group name -#}
            <div class="card-title group-hover:underline line-clamp-2 text-[0.85rem] md:text-base md:line-clamp-1 h-10 md:h-auto md:mt-2">
              {{ group.name|demoji }}
            </div>
            {# End group name -#}
          </div>

          {% if let Some(description_short) = &group.description_short -%}
            {# Group description -#}
            <div class="hidden relative text-[0.8rem] text-stone-500 leading-[1.2rem] line-clamp-2 h-9 md:my-2 md:block">
              {{ description_short|demoji }}
            </div>
            {# End group description -#}
          {% endif -%}

          <div class="hidden md:block mt-auto pt-3 border-t border-stone-200 border-dashed">
            {# Group location -#}
            {% if let Some(location) = &self.group.location(48) -%}
              <div class="card-meta !pt-0">{{ ui::icon_text(icon_name = "location", text = location) -}}</div>
            {% endif -%}
            {# End group location -#}

            {# Group creation date -#}
            <div class="card-meta">
              {{ ui::icon_text(icon_name = "date", text = group.created_at.format("%B %e · %Y") ) -}}
            </div>
            {# End group creation date -#}
          </div>
        </div>
      </div>
    </div>

    {# Mobile content -#}
    <div class="md:hidden mt-2 pt-2 border-t border-stone-200 border-dashed">
      {# Group location -#}
      <div class="card-meta !pt-0">
        {% if let Some(location) = &self.group.location(40) -%}
          {{ ui::icon_text(icon_name = "location", text = location) -}}
        {% else -%}
          {{ ui::icon_text(icon_name = "location", text = "No location provided") -}}
        {% endif -%}
      </div>
      {# End group location -#}

      {# Group creation date -#}
      <div class="card-meta">
        {{ ui::icon_text(icon_name = "date", text = group.created_at.format("%B %e · %Y") ) -}}
      </div>
      {# End group creation date -#}
    </div>
    {# End mobile content -#}

    {% if let Some(description_short) = &group.description_short -%}
      {# Mobile group description -#}
      <div class="block md:hidden">
        <p class="text-xs text-stone-500 leading-[1.2rem] line-clamp-2 mt-3">{{ description_short|demoji }}</p>
      </div>
      {# End mobile group description -#}
    {% endif -%}
  </article>
</a>
{# End group card -#}
