{% extends "common/card_small_base.html" -%}
{% import "macros/ui.html" as ui -%}

{% block href -%}
  /{{ group.community_name }}/group/{{ group.slug }}
{% endblock href %}

{% block anchor_attributes -%}
  hx-boost="true"
  hx-target="body"
{% endblock anchor_attributes %}

{% block logo -%}
  {{ ui::logo(logo_url = group.logo_url, classes = "h-[60px] w-[60px] min-w-[60px]", size = 60) -}}
{% endblock logo %}

{% block preheader -%}
  <span>
    <span class="text-primary-500">{{ group.community_display_name }}</span>
    <span class="px-1 hidden sm:inline">·</span>
    {% if let Some(region) = &group.region -%}
      {{ region.name }}
    {% else -%}
      {{ group.category.name }}
    {% endif -%}
  </span>
{% endblock preheader %}

{% block title -%}
  {{ group.name|demoji }}
{% endblock title %}

{% block details -%}
  {% if let Some(description_short) = &group.description_short -%}
    <div class="px-3.5 pt-3 md:px-4 md:pt-3.5">
      <p class="text-[0.8rem]/[1.2rem] text-stone-500 line-clamp-2">{{ description_short|demoji }}</p>
    </div>
  {% endif -%}
{% endblock details %}

{% block details_spacing -%}
  <div class="pb-3 md:pb-4"></div>
{% endblock details_spacing %}

{% block footer -%}
  <div class="card-meta !pt-0">
    {% if let Some(location) = &self.group.location(40) -%}
      {{ ui::icon_text(icon_name = "location", text = location) -}}
    {% else -%}
      {{ ui::icon_text(icon_name = "location", text = "No location provided") -}}
    {% endif -%}
  </div>

  <div class="card-meta">
    {{ ui::icon_text(icon_name = "date", text = group.created_at.format("%B %e · %Y") ) -}}
  </div>
{% endblock footer %}
