{% import "community/explore/filters.html" as macros -%}

{% let view_mode = filters.view_mode.clone().unwrap_or_default() -%}

{# Type -#}
<div class="px-6 py-7 pt-5 border-b border-gray-100">
  <div class="font-semibold text-[0.8rem] text-black leading-6">Type</div>
  <ul class="grid w-full gap-2.5 grid-cols-3 mt-3">
    {# In-person -#}
    <li>
      <label class="group items-center justify-between w-full py-3 px-2 bg-white border border-gray-200 rounded-lg cursor-pointer select-none flex flex-col {%+ if filters.kind.contains(&EventKind::InPerson) %}border-primary-500{%- endif %} hover:bg-gray-50">
        <input type="checkbox"
               name="kind"
               value="in-person"
               class="hidden peer"
               {% if filters.kind.contains(&EventKind::InPerson) %}checked{% endif %}>
        <div class="svg-icon h-4 w-4 bg-gray-500 peer-checked:bg-primary-500 icon-in-person"></div>
        <div class="text-[0.8rem] mt-1.5 text-gray-500 text-nowrap peer-checked:text-primary-500">In-person</div>
      </label>
    </li>
    {# End in-person -#}

    {# Virtual -#}
    <li>
      <label class="group flex flex-col items-center justify-between w-full p-3 bg-white border border-gray-200 rounded-lg peer-enabled:cursor-pointer select-none {%+ if view_mode == ViewMode::Map %} bg-gray-200 opacity-40 {%- else %} {%+ if filters.kind.contains(&EventKind::Virtual) %}border-primary-500{%- endif %} cursor-pointer hover:bg-gray-50{%- endif %}">
        {% if view_mode == ViewMode::Map -%}
          <input type="checkbox"
                 name="kind"
                 value="virtual"
                 class="virtual-kind hidden peer"
                 disabled>
        {% else -%}
          <input type="checkbox"
                 name="kind"
                 value="virtual"
                 class="virtual-kind hidden peer"
                 {% if filters.kind.contains(&EventKind::Virtual) %}checked{% endif %}>
        {% endif -%}
        <div class="svg-icon h-4 w-4 bg-gray-500 peer-checked:bg-primary-500 icon-virtual"></div>
        <div class="text-[0.8rem] mt-1.5 text-gray-500 peer-checked:text-primary-500 peer-checked:text-primary-500">
          Virtual
        </div>
      </label>
    </li>
    {# End virtual -#}

    {# Hybrid -#}
    <li>
      <label class="group items-center justify-between w-full py-3 px-2 bg-white border border-gray-200 rounded-lg cursor-pointer select-none flex flex-col {%+ if filters.kind.contains(&EventKind::Hybrid) %}border-primary-500 checked{%- endif %} hover:bg-gray-50">
        <input type="checkbox"
               name="kind"
               value="hybrid"
               class="hidden peer"
               {% if filters.kind.contains(&EventKind::Hybrid) %}checked{% endif %}>
        <div class="flex flex-row">
          <div class="svg-icon h-4 w-4 mr-0.5 bg-gray-500 group-[.checked]:bg-primary-500 icon-in-person"></div>
          <div class="svg-icon h-4 w-4 ml-0.5 bg-gray-500 group-[.checked]:bg-primary-500 icon-virtual"></div>
        </div>
        <div class="text-[0.8rem] mt-1.5 text-gray-500 peer-checked:text-primary-500">Hybrid</div>
      </label>
    </li>
    {# End hybrid -#}
  </ul>
</div>
{# End type -#}

{# Group category -#}
<collapsible-filter title="Group category" name="group_category" form="{{ entity }}-form" options="{{ filters_options.group_category|json }}" selected="{{ filters.group_category|json }}" viewType="rows" maxVisibleItems="4"></collapsible-filter>
{# End Group category -#}

{# Regions -#}
<collapsible-filter title="Region" name="region" form="{{ entity }}-form" options="{{ filters_options.region|json }}" selected="{{ filters.region|json }}" viewType="cols" maxVisibleItems="5"></collapsible-filter>
{# End Regions -#}

{# Event category -#}
<collapsible-filter title="Event category" name="event_category" form="{{ entity }}-form" options="{{ filters_options.event_category|json }}" selected="{{ filters.event_category|json }}" viewType="rows" maxVisibleItems="4"></collapsible-filter>
{# End event category -#}

{% if filters.longitude.is_some() && filters.latitude.is_some() -%}
  {# Distance -#}
  <collapsible-filter title="Distance" name="distance" form="{{ entity }}-form" options="{{ filters_options.distance|json }}" selected="{{ filters.distance|json }}" viewType="cols" maxVisibleItems="5" singleSelection></collapsible-filter>
  {# End distance -#}
{% endif -%}

{% if view_mode != ViewMode::Calendar -%}
  {# Date -#}
  <div class="px-6 py-7 pt-5">
    <div class="flex justify-between items-center">
      <div class="font-semibold text-[0.8rem] text-black leading-6">Date</div>
    </div>
    <div class="flex flex-wrap gap-3 items-center mt-3">
      {% call macros::date_input(name = "date_from", label = "from", value = filters.date_from) -%}
      {% call macros::date_input(name = "date_to", label = "to", value = filters.date_to) -%}
    </div>
  </div>
  {# End date -#}
{% else -%}
  {# Date on calendar view -#}
  <input type="hidden"
         name="date_from"
         value="{%- if let Some(date_from) = filters.date_from -%} {{ date_from }} {%- endif -%}">
  <input type="hidden"
         name="date_to"
         value="{%- if let Some(date_to) = filters.date_to -%} {{ date_to }} {%- endif -%}">
  {# End date on calendar view -#}
{% endif -%}
{# Apply filters -#}
