{# Menu title -#}
{% macro menu_title(text, extra_styles = "") -%}
  <div class="text-xs/6 text-stone-500 uppercase px-3 {{ extra_styles }}">{{ text }}</div>
{% endmacro menu_title -%}
{# End menu title -#}

{# Menu item -#}
{% macro menu_item(name, icon, is_active, href, disabled = false, extra_styles = "", icon_size = "size-4", items_count = 0 ) -%}
  {% if is_active -%}
    <div class="relative bg-white border border-stone-200 px-3 rounded-lg {{ extra_styles }}">
      <a hx-get="{{ href }}"
         hx-target="body"
         hx-indicator="#dashboard-spinner"
         hx-push-url="true"
         class="flex items-center justify-between cursor-pointer"
         aria-current="page">
        <div class="flex items-center">
          <div class="svg-icon {{ icon_size }} icon-{{ icon }} bg-primary-500"></div>
          <div class="text-sm/8 ms-3">{{ name }}</div>
        </div>
        {% if items_count + 0 > 0 -%}
          <div class="text-[0.65rem]/4 font-bold text-primary-500 border border-primary-500 bg-white rounded-full px-2 pt-0.25 ms-3">
            {{ items_count }}
          </div>
        {% endif -%}
      </a>
      <div class="absolute top-0.5 -left-3 lg:-left-5 bottom-0.5 w-1 bg-primary-500 rounded-lg"></div>
    </div>
  {% else -%}
    {% if disabled -%}
      <button class="rounded-md px-3 border border-transparent cursor-not-allowed {{ extra_styles }} py-2"
              disabled
              aria-disabled="true"
              title="Coming soon!"
              aria-label="{{ name }} - Coming soon">
        <div class="flex items-center opacity-50">
          <div class="svg-icon {{ icon_size }} icon-{{ icon }} bg-stone-500"></div>
          <div class="text-sm/8 ms-3 text-stone-500">{{ name }}</div>
        </div>
      </button>
    {% else -%}
      <div class="rounded-md px-3 border border-transparent hover:bg-white hover:border-stone-200 transition-colors {{ extra_styles }}">
        <a hx-get="{{ href }}"
           hx-target="body"
           hx-indicator="#dashboard-spinner"
           hx-push-url="true"
           class="flex items-center justify-between cursor-pointer">
          <div class="flex items-center">
            <div class="svg-icon {{ icon_size }} icon-{{ icon }} bg-primary-500"></div>
            <div class="text-sm/8 ms-3">{{ name }}</div>
          </div>
          {% if items_count + 0 > 0 -%}
            <div class="text-[0.65rem]/4 font-bold text-primary-500 border border-primary-500 bg-white rounded-full px-2 pt-0.25 ms-3">
              {{ items_count }}
            </div>
          {% endif -%}
        </a>
      </div>
    {% endif -%}
  {% endif -%}
{% endmacro menu_item -%}
{# End menu item -#}

{# Form title #}
{% macro form_title(title, description = "", button = "") -%}
  <div>
    <div class="text-xl lg:text-2xl font-medium text-stone-900">{{ title }}</div>
    {% if !description.is_empty() -%}
      <div class="mt-1 flex flex-wrap items-center gap-3">
        <p class="text-sm/6 text-stone-500 m-0">{{ description }}</p>
        {% if !button.is_empty() -%}
          {{ button | safe }}
        {% endif -%}
      </div>
    {% elif !button.is_empty() -%}
      <div class="mt-1">{{ button | safe }}</div>
    {% endif -%}
  </div>
{% endmacro form_title -%}
{# End form title #}

{# Group analytics chart container #}
{% macro group_analytics_chart(chart_id, data, min_points = 0) -%}
  {% if data.len() > min_points + 0 -%}
    <div id="{{ chart_id }}" class="h-[320px]">
      <svg-spinner size="size-10" class="flex items-center justify-center h-full text-gray-500">
      </svg-spinner>
    </div>
  {%- else -%}
    <div class="chart-empty-state">No data available yet</div>
  {%- endif %}
{% endmacro group_analytics_chart -%}
{# End group analytics chart container #}

{# Community analytics chart container #}
{% macro community_analytics_chart(chart_id, class = "h-[320px]") -%}
  <div id="{{ chart_id }}" class="{{ class }}">
    <svg-spinner size="size-10" class="flex items-center justify-center h-full text-gray-500">
    </svg-spinner>
  </div>
{% endmacro community_analytics_chart -%}
{# End community analytics chart container #}
