{% import "common.html" as common -%}
{% extends "common/base.html" -%}

{% block scripts -%}
  <script type="module" src="/static/js/common/images-gallery.js"></script>
{% endblock scripts -%}

{% block jumbotron -%}
  {# Jumbotron -#}
  <div class="relative container mx-auto max-w-7xl px-4 pt-2 xl:pt-5 pb-10 sm:px-6 lg:px-8">
    <section>
      <div class="relative z-10 max-w-screen-xl pb-10 lg:pb-20">
        {# Community title -#}
        <h1 class="text-center mb-8 text-[1.4rem] font-semibold tracking-tight leading-8 sm:leading-none md:text-2xl lg:text-4xl xl:text-5xl">
          {{ community.title }}
        </h1>
        {# End community title -#}

        {# Community description -#}
        <div class="mb-8 font-normal text-stone-600 jumbotron-description">
          {{ community.description|md_to_html|safe }}
        </div>
        {# End community description -#}

        {# Search bar -#}
        <div>
          {% call common::search_bar(placeholder = "Search groups and events", input_styles = "w-[100%] lg:w-[50%]", container_styles = "mb-6", with_help = false) -%}
          <script type="module">
            import {
              loadExplorePage
            } from '/static/js/community/home/home.js';
            import {
              cleanInputField,
              searchOnEnter
            } from '/static/js/community/explore/filters.js';

            const searchHomeBtn = document.getElementById('search-btn');
            if (searchHomeBtn) {
              searchHomeBtn.addEventListener('click', loadExplorePage);
            }

            const searchInput = document.getElementById('ts_query');
            if (searchInput) {
              searchInput.addEventListener('keydown', () => searchOnEnter(event));
            }

            const cleanSearch = document.getElementById('clean-search');
            if (cleanSearch) {
              cleanSearch.addEventListener('click', () => cleanInputField('ts_query'));
            }
          </script>
        </div>
        {# End search bar -#}

        <a href="/explore"
           hx-boost="true"
           hx-target="body"
           class="btn-primary-anchor">Explore all</a>
      </div>

      {# Jumbotron background image -#}
      {% if let Some(jumbotron_image_url) = community.jumbotron_image_url -%}
        <div class="absolute bottom-[-82px] right-0 h-full max-w-[90%] w-[380px] bg-right-bottom bg-no-repeat bg-contain sm:w-[520px] md:w-[600px] lg:w-[710px] xl:w-[760px] sm:bottom-[-105px] md:bottom-[-120px] lg:bottom-[-145px] xl:bottom-[-155px]" style="background-image: url('{{ jumbotron_image_url }}')">
        </div>
      {% endif -%}
      {# End jumbotron background image -#}
    </section>
  </div>
  {# End jumbotron -#}
{% endblock jumbotron -%}

{% block content -%}
  {# Main content -#}
  <div class="container mx-auto max-w-7xl px-4 pt-12 pb-6 lg:pb-12 sm:px-6 lg:px-8">
    {# Stats -#}
    {{ stats|safe }}
    {# End stats -#}

    <div class="pt-3 xl:pt-8">
      {# Events in-person -#}
      {% call events_list(title = "Upcoming in-person events", link = "/explore?entity=events&kind=in-person", events = upcoming_in_person_events) -%}
      {# End events in-person -#}

      {# Events online -#}
      {% call events_list(title = "Upcoming virtual events", link = "/explore?entity=events&kind=virtual", events = upcoming_virtual_events) -%}
      {# End events online -#}

      {# Banner -#}
      {% if let Some(ad_banner_url) = community.ad_banner_url -%}
        <div class="hidden pb-2 lg:pb-8 xl:pb-16 md:flex">
          {% if let Some(ad_banner_link_url) = community.ad_banner_link_url -%}
            <a rel="noopener noreferrer"
               href="{{ ad_banner_link_url }}"
               target="_blank"
               aria-label="Open external link">
            {% endif -%}
            <div class="mx-auto my-4 lg:my-8 border-4 border-stone-100 w-[85%] lg:[w-80%] xl:w-[70%]">
              <img class="h-auto max-w-[100%]"
                   height="auto"
                   width="auto"
                   alt="Decorator"
                   src="{{ ad_banner_url }}"
                   title="Banner">
            </div>
            {% if let Some(ad_banner_link_url) = community.ad_banner_link_url -%}
            </a>
          {% endif -%}
        </div>
      {% endif -%}
      {# End banner -#}

      {# Recently added groups -#}
      <div class="flex items-center justify-between mb-2 md:mb-6">
        <div class="uppercase text-lg lg:text-2xl tracking-wide font-bold leading-10">Recently added groups</div>
        {# See all groups on desktop -#}
        <div class="hidden justify-self-end md:flex">
          <a href="/explore?entity=groups" class="btn-secondary-anchor ms-4">See all groups</a>
        </div>
        {# End see all groups on desktop -#}
      </div>
      <div class="mt-5 mb-3 lg:mt-10 lg:mb-10">
        {# Groups cards -#}
        <div class="grid-1 grid gap-8 lg:gap-12 md:grid-cols-2 xl:grid-cols-3 [&>a:nth-child(n+6)]:hidden md:[&>a:nth-child(n+6)]:flex md:[&>a:nth-child(n+9)]:hidden xl:[&>a:nth-child(n+9)]:flex">
          {% for group in recently_added_groups -%}
            {{ group|safe }}
          {% endfor -%}
        </div>
        {# End groups cards -#}
        {# See all groups mobile button -#}
        <div class="flex mt-9 justify-self-center md:hidden md:mt-0">
          <a href="/explore?entity=groups" class="btn-secondary-anchor">See all groups</a>
        </div>
        {# End see all groups mobile button -#}
      </div>
      {# End recently added groups -#}
    </div>
  </div>
  {# End main content -#}

  {# Gallery -#}
  {% if let Some(photos_urls) = community.photos_urls -%}
    {% if !photos_urls.is_empty() -%}
      <div class="bg-stone-100 pt-2 lg:pt-10 pb-6 lg:pb-12">
        <div class="container mx-auto max-w-7xl px-4 py-3 lg:py-10 lg:px-6 lg:px-8">
          <!-- Title -->
          <div class="uppercase text-lg lg:text-2xl tracking-wide font-bold leading-10 pb-6 lg:pb-10">Gallery</div>
          <!-- End title -->
          <images-gallery title="Gallery" altImage="Community {{ community.display_name }}" images="{{ photos_urls|json }}"></images-gallery>
        </div>
      </div>
    {% endif -%}
  {% endif -%}
  {# End gallery -#}
{% endblock content -%}

{# Events list -#}
{% macro events_list(title, link, events) -%}
  <div class="my-5 pb-0 lg:pb-1 xl:pb-5 lg:my-6 xl:my-8">
    <div class="flex items-center justify-between mb-3 lg:mb-6">
      {# Title -#}
      <div class="uppercase text-lg lg:text-2xl tracking-wide font-bold leading-10">{{ title }}</div>
      {# End title -#}

      {# See all events on desktop -#}
      <div class="hidden justify-self-end md:flex">
        <a href="{{ link }}"
           hx-boost="true"
           hx-target="body"
           class="btn-secondary-anchor ms-4">See all events</a>
      </div>
      {# End see all events on desktop -#}
    </div>
    <div class="my-5 xl:my-10">
      {# Cards list -#}
      <div class="grid-1 grid gap-8 lg:gap-12 md:grid-cols-2 xl:grid-cols-3 [&>a:nth-child(n+6)]:hidden md:[&>a:nth-child(n+6)]:flex md:[&>a:nth-child(n+9)]:hidden xl:[&>a:nth-child(n+9)]:flex">
        {% for event in events -%}
          {{ event|safe }}
        {% endfor -%}
      </div>
      {# End cards list -#}

      {# See all events on mobile -#}
      <div class="flex mt-9 justify-self-center md:hidden md:mt-0">
        <a href="{{ link }}"
           hx-boost="true"
           hx-target="body"
           class="btn-secondary-anchor">See all events</a>
      </div>
      {# See all events on mobile -#}
    </div>
  </div>
{% endmacro events_list -%}
{# End events list -#}
