{# Stats -#}
<div class="w-3/4 flex flex-col justify-around items-center border rounded-lg p-6 mt-8 mx-auto sm:mt-16 sm:mb-6 lg:p-10 md:flex-row md:w-full">
  {# Group stats -#}
  {% call stat_block(kind = "groups", title = "Groups", value = groups) %}
  {# End group stats -#}

  <div class="block w-[50px] min-w-[1em] h-0.5 align-center bg-neutral-200 my-5 md:hidden"></div>
  <div class="hidden h-[50px] min-h-[1em] w-0.5 self-stretch bg-neutral-200 md:inline-block"></div>

  {# Members stats -#}
  {% call stat_block(kind = "members", title = "Members", value = groups_members) %}
  {# End members stats -#}

  <div class="block w-[50px] min-w-[1em] h-0.5 align-center bg-neutral-200 my-5 md:hidden"></div>
  <div class="hidden h-[50px] min-h-[1em] w-0.5 self-stretch bg-neutral-200 md:inline-block"></div>

  {# Events stats -#}
  {% call stat_block(kind = "events", title = "Events", value = events) %}
  {# End events stats -#}

  <div class="block w-[50px] min-w-[1em] h-0.5 align-center bg-neutral-200 my-5 md:hidden"></div>
  <div class="hidden h-[50px] min-h-[1em] w-0.5 self-stretch bg-neutral-200 md:inline-block"></div>

  {# Attendees stats -#}
  {% call stat_block(kind = "attendees", title = "Attendees", value = events_attendees) %}
  {# End attendees stats -#}
</div>
{# End stats -#}

{# Stat block -#}
{% macro stat_block(kind, title, value) %}
  <div>
    <div class="flex items-center justify-center">
      {# Icon -#}
      <div>
        <div class="svg-icon h-12 w-12 bg-gray-400 icon-{{ kind }}"></div>
      </div>
      {# End icon -#}

      <div class="ms-5">
        {# Title -#}
        <div class="text-xs text-gray-500 font-medium uppercase">{{ title }}</div>
        {# End title -#}

        {# Value -#}
        <div class="text-2xl font-semibold text-gray-900 lg:text-4xl">{{ *value|num_fmt }}</div>
        {# End value -#}
      </div>
    </div>
  </div>
{% endmacro %}
{# End stat block -#}
