<!DOCTYPE html>
<html lang="en" class="h-full min-h-screen">
  <head>
    <!-- <base target="_blank"> -->
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>{{ community.display_name }} community groups</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <!-- Leaflet css -->
    <link rel="stylesheet" href="https://unpkg.com/leaflet@1.9.4/dist/leaflet.css" integrity="sha256-p4NxAoJBhIIN+hmNHrzRCf9tD/miZyoHS5obTRR9BMY=" crossorigin="" />
    <link rel="stylesheet" href="/static/styles/index.css" />
    <script src="/static/js/index.js" crossorigin="anonymous"></script>
    <!-- tailwind -->
    <script type="text/javascript" src="https://cdn.tailwindcss.com?plugins=forms"></script>
    <!-- htmx -->
    <script
      type="text/javascript"
      src="https://unpkg.com/htmx.org@2.0.3"
      integrity="sha384-0895/pl2MU10Hqc6jd4RvrthNlDiE9U1tWmX7WRESftEDRosgxNsQG/Ze9YMRzHq"
      crossorigin="anonymous"
    ></script>
    <script>
      let default_colors = {
        primary: {
          50: "#fdf4fa",
          100: "#fbe9f4",
          300: "#eb91c9",
          500: "#d62293",
          700: "#ab1b76",
          900: "#6b114a"
        },
      };

      // When theme is available, overwrite primary color
      {% if let Some(theme) = community.theme %}
        overWritePrimaryColor('{{ theme.primary_color }}');

        default_colors = {
          primary: calculatePalette("{{ theme.primary_color }}"),
        }
      {% endif %}

      tailwind.config = {
        theme: {
          extend: {
            colors: {...default_colors},
            fontSize: {
              filterTitle: '0.8rem',
            },
          },
          fontFamily: {
            sans: [
              '"Clarity City", -apple-system, BlinkMacSystemFont, "Segoe UI", Helvetica, Arial, sans-serif, Roboto, Ubuntu, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol"',
            ],
          },
        },
      };
    </script>
  </head>
  <body class="h-full {% block bg_color %}bg-white{% endblock %}">
    <div class="min-h-full flex flex-col">
      <div class="{% block headerColor %}{{ headerColor }}{% endblock %}">
        {% include "community/header.html" %}
        {% block jumbotron %}
          <div></div>
        {% endblock %}
      </div>

      <main class="grow z-[1]">
        {% block content %}
          <p>Placeholder content</p>
        {% endblock %}
      </main>

      {% include "community/footer.html" %}
    </div>

    <script>
      {% if path == "/explore" %}
        // Check visible filters on explore page
        checkVisibleFilters();
      {% endif %}

      fillEmptyImages();
    </script>
  </body>
</html>
