<!DOCTYPE html>
<html lang="en" class="h-full min-h-screen">
  <head>
    <!-- <base target="_blank"> -->
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>{{ community.display_name }} community groups</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <!-- tailwind -->
    <script type="text/javascript" src="https://cdn.tailwindcss.com?plugins=forms"></script>
    <!-- htmx -->
    <script
      type="text/javascript"
      src="https://unpkg.com/htmx.org@2.0.2"
      integrity="sha384-Y7hw+L/jvKeWIRRkqWYfPcvVxHzVzn5REgzbawhxAuQGwX1XWe70vji+VSeHOThJ"
      crossorigin="anonymous"
    ></script>
    <script>
      let default_colors = {
        primary: {
          50: "#fdf4fa",
          100: "#fbe9f4",
          300: "#eb91c9",
          500: "#d62293",
          700: "#ab1b76",
          900: "#6b114a"
        },
      };

      {% if let Some(theme) = community.theme %}
        const calculatePalette = (hexColor) => {
          let color = hexColor.replace("#", "");
          if (color.length === 3) {
            color = color
              .split("")
              .map((char) => char + char)
              .join("");
          }

          const r = parseInt(color.slice(0, 2), 16);
          const g = parseInt(color.slice(2, 4), 16);
          const b = parseInt(color.slice(4, 6), 16);

          const getTint = (percentage) => {
            const tintR = Math.round(Math.min(255, r + (255 - r) * percentage));
            const tintG = Math.round(Math.min(255, g + (255 - g) * percentage));
            const tintB = Math.round(Math.min(255, b + (255 - b) * percentage));

            return rgbToHex(tintR, tintG, tintB);
          }

          const getShade = (percentage) => {
            const shadeR = Math.round(Math.max(0, r - r * percentage));
            const shadeG = Math.round(Math.max(0, g - g * percentage));
            const shadeB = Math.round(Math.max(0, b - b * percentage));

            return rgbToHex(shadeR, shadeG, shadeB);
          };

          const rgbToHex = (r, g, b) => {
            return `#${[r, g, b]
              .map(x => x.toString(16).padStart(2, '0'))
              .join('')}`;
          };

          return {
            50: getTint(0.95),
            100: getTint(0.9),
            300: getTint(0.5),
            500: hexColor,
            700: getShade(0.2),
            900: getShade(0.5),
          };
        };

        default_colors = {
          primary: calculatePalette("{{ theme.primary_color }}"),
        }
      {% endif %}

      tailwind.config = {
        theme: {
          extend: {
            colors: {...default_colors},
            fontSize: {
              filterTitle: '0.8rem',
            },
          },
          fontFamily: {
            sans: [
              '"Clarity City", -apple-system, BlinkMacSystemFont, "Segoe UI", Helvetica, Arial, sans-serif, Roboto, Ubuntu, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol"',
            ],
          },
        },
      };
    </script>
  </head>
  <body class="h-full {% block bg_color %}bg-white{% endblock %}">
    <div class="min-h-full flex flex-col">
      <div class="{% block headerColor %}{{ headerColor }}{% endblock %}">
        {% include "community/header.html" %}
        {% block jumbotron %}
          <div></div>
        {% endblock %}
      </div>

      <main class="grow z-[1]">
        {% block content %}
          <p>Placeholder content</p>
        {% endblock %}
      </main>

      {% include "community/footer.html" %}
    </div>

    <script>
      const COLLAPSIBLE_FILTERS = ['region', 'distance'];

      const toggleNavbarMobile = () => {
        const navbarMobile = document.getElementById("navbar-mobile");
        navbarMobile.classList.toggle("hidden");
        const navbarBackdrop = document.getElementById("navbar-backdrop");
        navbarBackdrop.classList.toggle("hidden");
      };

      const updateModalStatus = (modalId) => {
        const modal = document.getElementById(modalId);
        if (modal.classList.contains("hidden")) {
          modal.classList.remove("hidden");
        } else {
          modal.classList.add("hidden");
        }
      };

      // Filters
      const openFilters = () => {
        const drawer = document.getElementById("drawer-filters");
        drawer.classList.remove("-translate-x-full");
        const backdrop = document.getElementById("drawer-backdrop");
        backdrop.classList.remove("hidden");
      };

      const closeFilters = () => {
        const drawer = document.getElementById("drawer-filters");
        drawer.classList.add("-translate-x-full");
        const backdrop = document.getElementById("drawer-backdrop");
        backdrop.classList.add("hidden");
      };

      const resetFilters = (formName) => {
        const form = document.getElementById(formName);
        document.querySelectorAll(`#${formName} input[type=checkbox]`).forEach(el => el.checked = false);
        document.querySelectorAll(`#${formName} input[type=radio]`).forEach(el => el.checked = false);
        document.querySelectorAll(`#${formName} input[value='']`).forEach(el => el.checked = true);
        document.querySelectorAll(`#${formName} input[type=date]`).forEach(el => el.value = '');
        document.querySelector('input[name="ts_query"]').value = '';

        triggerChangeOnForm(form.id);
      };

      const updateAnyValue = (name, triggerChange) => {
        const anyInput = document.getElementById(`any-${name}`);
        if (!anyInput.isChecked) {
          const inputs = document.querySelectorAll(`input[name='${name}']:checked`);
          inputs.forEach((input) => {
            input.checked = false;
          });
          anyInput.checked = true;
          if (triggerChange) {
            const form = anyInput.closest('form');
            triggerChangeOnForm(form.id);
          }
        }
      };

      const cleanInputField = (id, formId) => {
        const input = document.getElementById(id);
        input.value = '';

        if (formId) {
          triggerChangeOnForm(formId);
        } else {
          let form = input.closest('form');
          triggerChangeOnForm(form.id);
        }
      };

      const triggerChangeOnForm = (formId) => {
        const form = document.getElementById(formId);
        htmx.trigger(form, "change");
      };

      const loadExplorePageWithTsQuery = () => {
        const input = document.getElementById('ts_query');
        if (input.value !== '') {
          document.location.href = `/explore?ts_query=${input.value}`;
        }
      };

      const onSearchKeyDown = (e, formId) => {
        if (e.key === 'Enter') {
          if (formId === '') {
            const value = e.currentTarget.value;
            if (value !== '') {
              document.location.href = `/explore?ts_query=${value}`;
            }
          } else {
            triggerChangeOnForm(formId);
          }
          e.currentTarget.blur();
        }
      };

      const checkVisibleFilters = () => {
        const collapsibleItems = document.querySelectorAll('[data-collapsible-item]');
        collapsibleItems.forEach(item => {
          const filter = item.id.replace('collapsible-', '');
          const hiddenCheckedOptions = item.querySelectorAll('li.hidden input:checked');
          if (hiddenCheckedOptions.length > 0) {
            updateCollapsibleFilterStatus(`collapsible-${filter}`);
          }
        });
      };

      // Spinner
      const showSpinner = () => {
        const content = document.getElementById('explore-content');
        content.classList.add('is-loading');
      };

      const hideSpinner = () => {
        const content = document.getElementById('explore-content');
        content.classList.remove('is-loading');
      };

      // Collapsible filter
      const updateCollapsibleFilterStatus = (id) => {
        const filter = document.getElementById(id);
        const maxItems = filter.dataset.maxItems;
        const isCollapsed = filter.classList.contains('collapsed');
        if (isCollapsed) {
          filter.classList.remove('collapsed');
          filter.querySelectorAll('li').forEach(el => el.classList.remove('hidden'));
        } else {
          filter.classList.add('collapsed');
          filter.querySelectorAll('li[data-input-item]').forEach((el, index) => {
            // Hide all items after the max_visible_items_number (add 1 to include the "Any" option)
            if (index >= maxItems) {
              el.classList.add('hidden');
            }
          });
        }
      }

      // Explore - results
      const updateResults = (content) => {
        const results = document.getElementById('results');
        results.innerHTML = content;
        const resultsMobile = document.getElementById('results-mobile');
        resultsMobile.innerHTML = content;
      };

      // Gallery
      const openFullModal = (modalId, activeIndex) => {
        const modal = document.getElementById(modalId);
        activateImageInCarousel(activeIndex - 1);

        modal.classList.remove('opacity-0');
        modal.classList.remove('pointer-events-none');
        modal.dataset.modal = 'active';

        document.addEventListener('mousedown', onFullModalClick);
      };

      const closeFullModal = (modalId) => {
        const modal = document.getElementById(modalId);
        modal.classList.add('opacity-0');
        modal.classList.add('pointer-events-none');
        modal.dataset.modal = '';

        document.removeEventListener('mousedown', onFullModalClick);
      };

      const onFullModalClick = (e) => {
        const activeModal = document.querySelector(".modal[data-modal='active']");

        if (e.target.parentElement.tagName !== 'BUTTON' && !['IMG', 'BUTTON'].includes(e.target.tagName)) {
          closeFullModal(activeModal.id);
        }
      };

      const activateImageInCarousel = (index) => {
        const carouselItems = document.querySelectorAll('#gallery [data-carousel-item]');
        carouselItems.forEach((item, i) => {
          if (i === index) {
            item.classList.remove('hidden');
            item.classList.remove('translate-x-full');
            item.classList.remove('z-10');
            item.classList.add('translate-x-0');
            item.classList.add('z-30');
            item.dataset.carouselItem = 'active';
          } else {
            item.classList.add('hidden');
            item.classList.add('translate-x-full');
            item.classList.add('z-10');
            item.classList.remove('translate-x-0');
            item.classList.remove('z-30');
            item.dataset.carouselItem = '';
          }
        });
      };

      const updateActiveCarouselItem = (direction) => {
        const carouselItems = document.querySelectorAll('#gallery [data-carousel-item]');
        let activeItem = 0;
        carouselItems.forEach((item, index) => {
          if (item.dataset.carouselItem === 'active') {
            activeItem = index;
          }
        });
        let activeItemIndex = activeItem;
        if (direction === 'next') {
          activeItemIndex = activeItem + 1;
          if (activeItemIndex >= carouselItems.length) {
            activeItemIndex = 0;
          }
        } else if (direction === 'prev') {
          activeItemIndex = activeItem - 1;
          if (activeItemIndex < 0) {
            activeItemIndex = carouselItems.length - 1;
          }
        }

        activateImageInCarousel(activeItemIndex);
      };

      // Check visible filters on explore page
      {% if path == "/explore" %}
        checkVisibleFilters();
      {% endif %}
    </script>
  </body>
</html>
