<!DOCTYPE html>
<html lang="en" class="h-full min-h-screen">
  <head>
    <!-- <base target="_blank"> -->
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>{{ community.display_name }} community groups</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <script src="https://cdn.tailwindcss.com?plugins=forms"></script>
    <script
      src="https://unpkg.com/htmx.org@2.0.2"
      integrity="sha384-Y7hw+L/jvKeWIRRkqWYfPcvVxHzVzn5REgzbawhxAuQGwX1XWe70vji+VSeHOThJ"
      crossorigin="anonymous"
    ></script>
    <script>
      tailwind.config = {
        theme: {
          extend: {
            colors: {
              primary: {
                50: "#fef9fc",
                100: "#fbe8f4",
                300: "#ee93cc",
                500: "#D62293",
                700: "#b41d7c",
                900: "#70124d",
              },
            },
            fontSize: {
              filterTitle: '0.8rem',
            },
          },
          fontFamily: {
            sans: [
              '"Clarity City", -apple-system, BlinkMacSystemFont, "Segoe UI", Helvetica, Arial, sans-serif, Roboto, Ubuntu, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol"',
            ],
          },
        },
      };
    </script>
  </head>
  <body class="h-full {% block bg_color %}bg-white{% endblock %}">
    <div class="min-h-full flex flex-col">
      <div class="{% block headerColor %}{{ headerColor }}{% endblock %}">
        {% include "community/header.html" %}
        {% block jumbotron %}
          <div></div>
        {% endblock %}
      </div>

      <main class="grow z-[1]">
        {% block content %}
          <p>Placeholder content</p>
        {% endblock %}
      </main>

      {% include "community/footer.html" %}
    </div>

    <script>
      const toggleNavbarMobile = () => {
        const navbarMobile = document.getElementById("navbar-mobile");
        navbarMobile.classList.toggle("hidden");
        const navbarBackdrop = document.getElementById("navbar-backdrop");
        navbarBackdrop.classList.toggle("hidden");
      };

      const updateModalStatus = (modalId) => {
        const modal = document.getElementById(modalId);
        if (modal.classList.contains("hidden")) {
          modal.classList.remove("hidden");
        } else {
          modal.classList.add("hidden");
        }
      };

      // Filters
      const openFilters = () => {
        const drawer = document.getElementById("drawer-filters");
        drawer.classList.remove("-translate-x-full");
        const backdrop = document.getElementById("drawer-backdrop");
        backdrop.classList.remove("hidden");
      };

      const closeFilters = () => {
        const drawer = document.getElementById("drawer-filters");
        drawer.classList.add("-translate-x-full");
        const backdrop = document.getElementById("drawer-backdrop");
        backdrop.classList.add("hidden");
      };

      const resetFilters = (formName) => {
        const form = document.getElementById(formName);
        document.querySelectorAll(`#${formName} input[type=checkbox]`).forEach(el => el.checked = false);
        document.querySelectorAll(`#${formName} input[value='']`).forEach(el => el.checked = true);
        document.querySelectorAll(`#${formName} input[type=date]`).forEach(el => el.value = '');

        if (formName === 'events-form') {
          document.querySelectorAll(`#${formName} input[name=kind]`).forEach(el => el.checked = true);
        }

        htmx.trigger(form, "change");
      };

      const updateAnyValue = (name) => {
        const anyInput = document.getElementById(`any-${name}`);
        if (!anyInput.isChecked) {
          anyInput.checked = true;
          const inputs = document.querySelectorAll(`input[name='${name}']:checked`);
          inputs.forEach((input) => {
            input.checked = false;
          });
        }
      };

      const cleanInputField = (id) => {
        const input = document.getElementById(id);
        input.value = '';
        htmx.trigger(input.closest('form'), "change");
      };

      // Gallery
      const openFullModal = (modalId, activeIndex) => {
        const modal = document.getElementById(modalId);
        activateImageInCarousel(activeIndex - 1);

        modal.classList.remove('opacity-0');
        modal.classList.remove('pointer-events-none');
        modal.dataset.modal = 'active';

        document.addEventListener('mousedown', onFullModalClick);
      };

      const closeFullModal = (modalId) => {
        const modal = document.getElementById(modalId);
        modal.classList.add('opacity-0');
        modal.classList.add('pointer-events-none');
        modal.dataset.modal = '';

        document.removeEventListener('mousedown', onFullModalClick);
      };

      const onFullModalClick = (e) => {
        const activeModal = document.querySelector(".modal[data-modal='active']");

        if (e.target.parentElement.tagName !== 'BUTTON' && !['IMG', 'BUTTON'].includes(e.target.tagName)) {
          closeFullModal(activeModal.id);
        }
      };

      const activateImageInCarousel = (index) => {
        const carouselItems = document.querySelectorAll('#gallery [data-carousel-item]');
        carouselItems.forEach((item, i) => {
          if (i === index) {
            item.classList.remove('hidden');
            item.classList.remove('translate-x-full');
            item.classList.remove('z-10');
            item.classList.add('translate-x-0');
            item.classList.add('z-30');
            item.dataset.carouselItem = 'active';
          } else {
            item.classList.add('hidden');
            item.classList.add('translate-x-full');
            item.classList.add('z-10');
            item.classList.remove('translate-x-0');
            item.classList.remove('z-30');
            item.dataset.carouselItem = '';
          }
        });
      };

      const updateActiveCarouselItem = (direction) => {
        const carouselItems = document.querySelectorAll('#gallery [data-carousel-item]');
        let activeItem = 0;
        carouselItems.forEach((item, index) => {
          if (item.dataset.carouselItem === 'active') {
            activeItem = index;
          }
        });
        let activeItemIndex = activeItem;
        if (direction === 'next') {
          activeItemIndex = activeItem + 1;
          if (activeItemIndex >= carouselItems.length) {
            activeItemIndex = 0;
          }
        } else if (direction === 'prev') {
          activeItemIndex = activeItem - 1;
          if (activeItemIndex < 0) {
            activeItemIndex = carouselItems.length - 1;
          }
        }

        activateImageInCarousel(activeItemIndex);
      };
    </script>
  </body>
</html>
