{% import "macros.html" as macros %}
{% extends "explore_base.html" %}

{% block filters %}
  {% include "explore_filters.html" %}
{% endblock %}

{% block content %}
  <div class="bg-gray-50 bg-opacity-50 border rounded-lg mb-10 p-5">
    <div class="flex items-center mb-6">
      <!-- Mobile filters button -->
      <div class="flex lg:hidden">
        <button
          class="h-10 w-10 mr-5 inline-flex justify-center items-center bg-primary-500 text-white text-lg rounded-full p-2 hover:bg-primary-700"
          onclick="openFilters()"
        >
          <svg
            class="w-4 h-4"
            stroke="currentColor"
            fill="none"
            stroke-width="2"
            viewBox="0 0 24 24"
            stroke-linecap="round"
            stroke-linejoin="round"
            height="1em"
            width="1em"
            xmlns="http://www.w3.org/2000/svg"
          >
            <polygon points="22 3 2 3 10 12.46 10 19 14 21 14 12.46 22 3"></polygon>
          </svg>
        </button>
      </div>

      <div class="grow">
        {% call macros::search_bar("", "w-[100%] lg:w-[65%]") %}
      </div>
    </div>

    <div class="flex justify-between items-center w-full">
      <div>
        <span class="font-medium">1 - 20</span> <span class="italic text-sm text-gray-500">of 178 results</span>
      </div>
      <div class="flex items-center">
        <label
          for="sort"
          class="uppercase font-medium text-xs text-gray-500 leading-8 me-3"
          >Sort by</label
        >
        <select
          id="sort"
          class="block w-40 py-2 px-3 text-sm text-gray-900 bg-white border border-gray-300 rounded-full focus:ring-primary-500 focus:border-primary-500"
        >
          <option value="al" selected>Alphabetically</option>
          <option value="date">Date</option>
          <option value="prox">Proximity</option>
        </select>
      </div>
    </div>
  </div>

  <!-- Cards -->
  <div class="flex flex-col divide-y">
    <!-- Card -->
    <div class="flex flex-1 flex-row py-5">
      <div
        class="size-20 bg-no-repeat bg-center bg-cover"
        style="
          background-image: url(https://res.cloudinary.com/startup-grind/image/upload/c_fit,dpr_2,f_auto,g_center,h_200,q_auto:good,w_200/v1/gcs/platform-data-cncf/chapter_banners/Social_3_DIeV2FS.png);
        "
      ></div>
      <div class="min-w-0 pl-8 content-center">
        <a class="w-full cursor-pointer hover:no-underline" href="#">
          <div class="pb-1">
            <span class="text-gray-700 text-xs uppercase"
              >Washington DC, United States</span
            >
          </div>
          <h2 class="font-semibold truncate pb-1">KCD Washington DC</h2>
          <div class="text-sm">
            <p class="truncate text-gray-500 italic">North America</p>
          </div>
        </a>
      </div>
    </div>
    <!-- End card -->

    <!-- Card -->
    <div class="flex flex-1 flex-row py-5">
      <div
        class="size-20 bg-no-repeat bg-center bg-cover"
        style="
          background-image: url(https://res.cloudinary.com/startup-grind/image/upload/c_fit,dpr_2,f_auto,g_center,h_200,q_auto:good,w_200/v1/gcs/platform-data-cncf/chapter_banners/KCDID%25202024%2520Black_WNFLnRc.png);
        "
      ></div>
      <div class="min-w-0 pl-8 content-center">
        <a class="w-full cursor-pointer hover:no-underline" href="#">
          <div class="pb-1">
            <span class="text-gray-700 text-xs uppercase"
              >Jakarta, Indonesia</span
            >
          </div>
          <h2 class="font-semibold truncate pb-1">KCD Indonesia</h2>
          <div class="text-sm">
            <p class="truncate text-gray-500 italic">Asia</p>
          </div>
        </a>
      </div>
    </div>
    <!-- End card -->

    <!-- Card -->
    <div class="flex flex-1 flex-row py-5">
      <div
        class="size-20 bg-no-repeat bg-center bg-cover"
        style="
          background-image: url(https://res.cloudinary.com/startup-grind/image/upload/c_fit,dpr_2,f_auto,g_center,h_200,q_auto:good,w_200/v1/gcs/platform-data-cncf/chapter_banners/cncfMalagaPaz.jpeg);
        "
      ></div>
      <div class="min-w-0 pl-8 content-center">
        <a class="w-full cursor-pointer hover:no-underline" href="#">
          <div class="pb-1">
            <span class="text-gray-700 text-xs uppercase">Málaga, Spain</span>
          </div>
          <h2 class="font-semibold truncate pb-1">Málaga</h2>
          <div class="text-sm">
            <p class="truncate text-gray-500 italic">Europe</p>
          </div>
        </a>
      </div>
    </div>
    <!-- End card -->

    <!-- Card -->
    <div class="flex flex-1 flex-row py-5">
      <div
        class="size-20 bg-no-repeat bg-center bg-cover"
        style="
          background-image: url(https://res.cloudinary.com/startup-grind/image/upload/c_fit,dpr_2,f_auto,g_center,h_200,q_auto:good,w_200/v1/gcs/platform-data-cncf/chapter_banners/Morado%2520Azul%252C%2520Blanco%2520Tecnologi%25CC%2581a%2520hackato%25CC%2581n%2520Publicacio%25CC%2581n%2520de%2520Facebook%2520%25288%2529.png);
        "
      ></div>
      <div class="min-w-0 pl-8 content-center">
        <a class="w-full cursor-pointer hover:no-underline" href="#">
          <div class="pb-1">
            <span class="text-gray-700 text-xs uppercase"
              >San Salvador, El Salvador</span
            >
          </div>
          <h2 class="font-semibold truncate pb-1">San Salvador</h2>
          <div class="text-sm">
            <p class="truncate text-gray-500 italic">Central and South America</p>
          </div>
        </a>
      </div>
    </div>
    <!-- End card -->

    <!-- Card -->
    <div class="flex flex-1 flex-row py-5">
      <div
        class="size-20 bg-no-repeat bg-center bg-cover"
        style="
          background-image: url(https://res.cloudinary.com/startup-grind/image/upload/c_fit,dpr_2,f_auto,g_center,h_200,q_auto:good,w_200/v1/gcs/platform-data-cncf/chapter_banners/sev2.jpg);
        "
      ></div>
      <div class="min-w-0 pl-8 content-center">
        <a class="w-full cursor-pointer hover:no-underline" href="#">
          <div class="pb-1">
            <span class="text-gray-700 text-xs uppercase">Sevilla, Spain</span>
          </div>
          <h2 class="font-semibold truncate pb-1">Cloud Native Sevilla</h2>
          <div class="text-sm">
            <p class="truncate text-gray-500 italic">Europe</p>
          </div>
        </a>
      </div>
    </div>
    <!-- End card -->

    <!-- Card -->
    <div class="flex flex-1 flex-row py-5">
      <div
        class="size-20 bg-no-repeat bg-center bg-cover"
        style="
          background-image: url(https://res.cloudinary.com/startup-grind/image/upload/c_fit,dpr_2,f_auto,g_center,h_200,q_auto:good,w_200/v1/gcs/platform-data-cncf/chapter_banners/kubernetes-korea-group-logo-blue.png);
        "
      ></div>
      <div class="min-w-0 pl-8 content-center">
        <a class="w-full cursor-pointer hover:no-underline" href="#">
          <div class="pb-1">
            <span class="text-gray-700 text-xs uppercase"
              >Seoul, South Korea</span
            >
          </div>
          <h2 class="font-semibold truncate pb-1">Cloud Native Seoul</h2>
          <div class="text-sm">
            <p class="truncate text-gray-500 italic">Asia</p>
          </div>
        </a>
      </div>
    </div>
    <!-- End card -->

    <!-- Card -->
    <div class="flex flex-1 flex-row py-5">
      <div
        class="size-20 bg-no-repeat bg-center bg-cover"
        style="
          background-image: url(https://res.cloudinary.com/startup-grind/image/upload/c_fit,dpr_2,f_auto,g_center,h_200,q_auto:good,w_200/v1/gcs/platform-data-cncf/chapter_banners/cncg-logo-v1_as9ZM59.png);
        "
      ></div>
      <div class="min-w-0 pl-8 content-center">
        <a class="w-full cursor-pointer hover:no-underline" href="#">
          <div class="pb-1">
            <span class="text-gray-700 text-xs uppercase">Dakar, Senegal</span>
          </div>
          <h2 class="font-semibold truncate pb-1">Dakar</h2>
          <div class="text-sm">
            <p class="truncate text-gray-500 italic">Africa</p>
          </div>
        </a>
      </div>
    </div>
    <!-- End card -->

    <!-- Card -->
    <div class="flex flex-1 flex-row py-5">
      <div
        class="size-20 bg-no-repeat bg-center bg-cover"
        style="
          background-image: url(https://res.cloudinary.com/startup-grind/image/upload/c_fit,dpr_2,f_auto,g_center,h_400,q_auto:good,w_400/v1/gcs/platform-data-cncf/chapter_banners/kcd-logo-color_tiny_VnQAPvJ.png);
        "
      ></div>
      <div class="min-w-0 pl-8 content-center">
        <a class="w-full cursor-pointer hover:no-underline" href="#">
          <div class="pb-1">
            <span class="text-gray-700 text-xs uppercase">Sydney, Australia</span>
          </div>
          <h2 class="font-semibold truncate pb-1">KCD Australia</h2>
          <div class="text-sm">
            <p class="truncate text-gray-500 italic">Oceania</p>
          </div>
        </a>
      </div>
    </div>
    <!-- End card -->

    <!-- Card -->
    <div class="flex flex-1 flex-row py-5">
      <div
        class="size-20 bg-no-repeat bg-center bg-cover"
        style="
          background-image: url(https://res.cloudinary.com/startup-grind/image/upload/c_fit,dpr_2,f_auto,g_center,h_400,q_auto:good,w_400/v1/gcs/platform-data-cncf/chapter_banners/tag-app-delivery-stacked-color_ukt2Q0B.png);
        "
      ></div>
      <div class="min-w-0 pl-8 content-center">
        <a class="w-full cursor-pointer hover:no-underline" href="#">
          <div class="pb-1">
            <span class="text-gray-700 text-xs uppercase"
              >Central City, United States</span
            >
          </div>
          <h2 class="font-semibold truncate pb-1">TAG App Delivery</h2>
          <div class="text-sm">
            <p class="truncate text-gray-500 italic">Technical Advisory Groups</p>
          </div>
        </a>
      </div>
    </div>
    <!-- End card -->
  </div>
{% endblock %}
