{% import "macros.html" as macros %}
{% extends "explore_base.html" %}

{% block filters %}
  {% include "explore_filters.html" %}
{% endblock %}

{% block content %}
  <div class="bg-white border rounded-lg mb-10 py-7">
    <div class="flex items-center mb-6 px-7">
      <!-- Mobile filters button -->
      <div class="flex lg:hidden">
        <button
          class="h-10 w-10 mr-5 inline-flex justify-center items-center bg-primary-500 text-white text-lg rounded-full p-2 hover:bg-primary-700"
          onclick="openFilters()"
        >
          <svg
            class="w-4 h-4"
            stroke="currentColor"
            fill="none"
            stroke-width="2"
            viewBox="0 0 24 24"
            stroke-linecap="round"
            stroke-linejoin="round"
            height="1em"
            width="1em"
            xmlns="http://www.w3.org/2000/svg"
          >
            <polygon points="22 3 2 3 10 12.46 10 19 14 21 14 12.46 22 3"></polygon>
          </svg>
        </button>
      </div>
      <!-- End mobile filters button -->

      <div class="grow flex items-center justify-between">
        <div class="w-2/3">
          {% call macros::search_bar("", "w-[100%] lg:w-[90%]") %}
        </div>
        <div class="flex items-center">
          <label
            for="sort"
            class="font-semibold text-xs text-gray-700 leading-6 me-3"
            >Sort by</label
          >
          <select
            id="sort"
            class="block w-40 py-2 px-3 text-sm text-gray-900 bg-white border border-gray-300 rounded-full focus:ring-primary-500 focus:border-primary-500"
          >
            <option value="date" selected>Date</option>
          </select>
        </div>
      </div>
    </div>

    <div class="min-h-[750px]"></div>
  </div>
{% endblock %}
