<div class="flex justify-between items-center border-solid border-0 border-b p-5">
  <div
    class="font-semibold text-sm text-gray-700"
  >
    Filters
  </div>
  <button
    class="py-1 px-3 text-sm font-medium text-center text-white rounded-full bg-primary-500 hover:bg-primary-700 focus:ring-4"
  >
    Clear all
  </button>
</div>
<!-- TODO - get data - fix query -->
<form
  hx-history-elt
  hx-post="/explore"
  hx-trigger="change"
  hx-replace-url="true"
  hx-vals='{"option": "events"}'
  hx-trigger="change input"

>
  <div class="p-5 border-b">
    <!-- Events/Groups -->
    <ul class="items-center w-full text-sm font-medium text-gray-900 bg-white border border-gray-200 rounded-lg sm:flex">
      <li class="w-full border-b border-gray-200 sm:border-b-0 sm:border-r">
        <div class="flex items-center ps-3">
          <input id="events" type="radio" value="events" name="type" checked class="w-4 h-4 text-blue-600 bg-gray-100 border-gray-300 focus:ring-blue-500 dark:focus:ring-blue-600 dark:ring-offset-gray-700 dark:focus:ring-offset-gray-700 focus:ring-2 dark:bg-gray-600 dark:border-gray-500">
          <label for="events" class="w-full py-3 ms-2 text-sm font-medium text-gray-900 dark:text-gray-300">Events</label>
        </div>
      </li>
      <li class="w-full">
        <div class="flex items-center ps-3">
          <input id="groups" type="radio" value="groups" name="type" class="w-4 h-4 text-blue-600 bg-gray-100 border-gray-300 focus:ring-blue-500 dark:focus:ring-blue-600 dark:ring-offset-gray-700 dark:focus:ring-offset-gray-700 focus:ring-2 dark:bg-gray-600 dark:border-gray-500">
          <label for="groups" class="w-full py-3 ms-2 text-sm font-medium text-gray-900 dark:text-gray-300">Groups</label>
        </div>
      </li>
    </ul>
  </div>

  <!-- Kind -->
  <div class="p-5 border-b">
    <div
      class="font-semibold text-sm text-gray-700"
    >
      Kind
    </div>
    <div class="relative flex gap-x-3 mb-2">
      <div class="flex h-6 items-center">
        <input
          id="in-person"
          name="in-person"
          type="checkbox"
          class="h-4 w-4 rounded border-gray-300 text-primary-700 focus:ring-primary-700"
        />
      </div>
      <div class="text-sm leading-6">
        <label for="in-person" class="font-medium text-gray-900"
          >In person</label
        >
        <p class="text-gray-500 text-xs">
          Lorem ipsum dolor sit amet, consectetur adipiscing...
        </p>
      </div>
    </div>
    <div class="relative flex gap-x-3 mb-2">
      <div class="flex h-6 items-center">
        <input
          id="virtual"
          name="virtual"
          type="checkbox"
          class="h-4 w-4 rounded border-gray-300 text-primary-700 focus:ring-primary-700"
        />
      </div>
      <div class="text-sm leading-6">
        <label for="virtual" class="font-medium text-gray-900">Virtual</label>
        <p class="text-gray-500 text-xs">
          Lorem ipsum dolor sit amet, consectetur adipiscing...
        </p>
      </div>
    </div>
    <div class="relative flex gap-x-3 mb-2">
      <div class="flex h-6 items-center">
        <input
          id="hybrid"
          name="hybrid"
          type="checkbox"
          class="h-4 w-4 rounded border-gray-300 text-primary-700 focus:ring-primary-700"
        />
      </div>
      <div class="text-sm leading-6">
        <label for="in-person" class="font-medium text-gray-900">Hybrid</label>
        <p class="text-gray-500 text-xs">
          Lorem ipsum dolor sit amet, consectetur adipiscing...
        </p>
      </div>
    </div>
  </div>
  <!-- End kind -->

  <!-- Areas -->
  <div class="mt-5">
    <label
      for="small"
      class="uppercase font-medium text-xs text-gray-700 leading-8"
      >Area</label
    >
    <select
      id="region"
      class="block w-full p-2 mb-6 text-sm text-gray-900 border border-gray-300 rounded-lg focus:ring-primary-500 focus:border-primary-500 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-primary-500 dark:focus:border-primary-500"
    >
      <option selected>Choose a region</option>
      <option value="NA">North America</option>
      <option value="CA">Central and South America</option>
      <option value="EU">Europe</option>
      <option value="AF">Africa</option>
      <option value="AS">Asia</option>
      <option value="OC">Oceania</option>
      <option value="VI">Virtual</option>
      <option value="CNCF">CNCF Hosted projects</option>
      <option value="CO">Community Days</option>
      <option value="TAG">Technical Advisory Groups</option>
    </select>
  </div>
  <!-- End areas -->

  <!-- Distance -->
  <div class="mt-5">
    <label
      for="small"
      class="uppercase font-medium text-xs text-gray-700 leading-8"
      >Proximity</label
    >
    <select
      id="proximity"
      class="block w-full p-2 mb-6 text-sm text-gray-900 border border-gray-300 rounded-lg focus:ring-primary-500 focus:border-primary-500 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-primary-500 dark:focus:border-primary-500"
    >
      <option selected>Choose proximity</option>
      <option value="any">Any distance</option>
      <option value="2">2 miles</option>
      <option value="5">5 miles</option>
      <option value="10">10 miles</option>
      <option value="30">30 miles</option>
      <option value="50">50 miles</option>
      <option value="100">100 miles</option>
    </select>
  </div>
  <!-- End Distance -->
</form>
