{% import "macros.html" as macros %}
{% extends "explore_base.html" %}

{% block filters %}
  {% include "explore_filters.html" %}
{% endblock %}

{% block content %}
  <div class="bg-white border rounded-lg mb-10 pt-7">
    <div class="flex items-center mb-10 px-7">
      <!-- Mobile filters button -->
      <div class="flex lg:hidden">
        <button
          class="h-10 w-10 mr-5 inline-flex justify-center items-center bg-primary-500 text-white text-lg rounded-full p-2 hover:bg-primary-700"
          onclick="openFilters()"
        >
          <svg
            class="w-4 h-4"
            stroke="currentColor"
            fill="none"
            stroke-width="2"
            viewBox="0 0 24 24"
            stroke-linecap="round"
            stroke-linejoin="round"
            height="1em"
            width="1em"
            xmlns="http://www.w3.org/2000/svg"
          >
            <polygon points="22 3 2 3 10 12.46 10 19 14 21 14 12.46 22 3"></polygon>
          </svg>
        </button>
      </div>
      <!-- End mobile filters button -->

      <div class="grow flex items-center justify-center">
        <div class="w-full">
          {% call macros::search_bar("", "w-3/4 mx-auto") %}
        </div>
      </div>
    </div>
    <div class="flex items-center justify-between px-7">
      <div class="font-semibold text-sm text-black">1 - 5 of 5 results</div>
      <div class="flex items-center">
        <label
          for="sort"
          class="font-semibold text-filterTitle text-black leading-6 me-3"
          >Sort by</label
        >
        <select
          id="sort"
          class="block w-40 py-2 px-3 text-sm text-gray-900 bg-white border border-gray-300 rounded-full focus:ring-primary-500 focus:border-primary-500"
        >
          <option value="date" selected>Date</option>
        </select>
      </div>
      <div>
        {% call macros::secondary_button("Browse in map", "map", "() => console.log('hola')", "") %}
      </div>
    </div>

    <!-- Cards -->
    <div class="flex flex-col divide-y mt-7 border-t border-gray-100">
      <!-- Card -->
      <div class="flex flex-1 flex-row items-stretch p-7">
        <div
          class="h-28 min-w-28 lg:h-[140px] lg:min-w-[140px] my-auto bg-no-repeat bg-center bg-cover rounded-lg border"
          style="background-image: url(https://res.cloudinary.com/startup-grind/image/upload/c_fit,dpr_2,f_auto,g_center,h_200,q_auto:good,w_200/v1/gcs/platform-data-cncf/chapter_banners/Social_3_DIeV2FS.png);"
        ></div>
        <div class="min-w-0 pl-4 content-center">
          <div class="flex flex-col justify-between h-full">
            <div>
              <div class="truncate leading-3">
                <span class="text-xs font-semibold tracking-wide text-gray-400 uppercase">North America</span>
              </div>
              <h2 class="font-semibold truncate">KCD Washington DC</h2>
            </div>

            <div class="text-[0.825rem] text-gray-500 line-clamp-2 h-[36px] my-2">
              KCD Washington DC is the premiere annual gathering of the local cloud native community in the DMV region. We bring together practitioners, software publishers, end-users and other community members for a full day immersive experience in cloud native technologies and open source projects.  Supported by the Cloud Native Computing Foundation, we serve local members as a non-profit community service.
            </div>

            <div class="flex flex-row leading-4 pt-1 lg:pt-2">
              <svg class="mt-0.5 w-3 h-3 me-2" stroke="currentColor" fill="currentColor" stroke-width="0" viewBox="0 0 384 512" height="1em" width="1em" xmlns="http://www.w3.org/2000/svg"><path d="M215.7 499.2C267 435 384 279.4 384 192C384 86 298 0 192 0S0 86 0 192c0 87.4 117 243 168.3 307.2c12.3 15.3 35.1 15.3 47.4 0zM192 128a64 64 0 1 1 0 128 64 64 0 1 1 0-128z"></path></svg>
              <div class="truncate text-gray-700 text-xs uppercase">
                Washington, DC, USA
              </div>
            </div>
          </div>
        </div>
      </div>
      <!-- End card -->

      <!-- Card -->
      <div class="flex flex-1 flex-row items-stretch p-7">
        <div
          class="h-28 min-w-28 lg:h-[140px] lg:min-w-[140px] my-auto bg-no-repeat bg-center bg-cover rounded-lg border"
          style="background-image: url(https://res.cloudinary.com/startup-grind/image/upload/c_fit,dpr_2,f_auto,g_center,h_200,q_auto:good,w_200/v1/gcs/platform-data-cncf/chapter_banners/KCDID%25202024%2520Black_WNFLnRc.png);"
        ></div>
        <div class="min-w-0 pl-4 content-center">
          <div class="flex flex-col justify-between h-full">
            <div>
              <div class="truncate leading-3">
                <span class="text-xs font-semibold tracking-wide text-gray-400 uppercase">Asia</span>
              </div>
              <h2 class="font-semibold truncate">KCD Indonesia</h2>
            </div>

            <div class="text-[0.825rem] text-gray-500 line-clamp-2 h-[36px] my-2">
              Kubernetes Community Days Indonesia 2024 is a community-organized tech conference under Cloud Native Computing Foundation that gathers adopters and technologists from open source and cloud native communities to learn, collaborate, and network to further advancement in Kubernetes and the cloud-native ecosystem in Indonesia. This is a continuation of Kubernetes Community Days 2022 & 2021 where we had the largest community-run online conference in the world at that time, with around 1,300 participants, 40 speakers, and 5 sponsors.
            </div>

            <div class="flex flex-row leading-4 pt-1 lg:pt-2">
              <svg class="mt-0.5 w-3 h-3 me-2" stroke="currentColor" fill="currentColor" stroke-width="0" viewBox="0 0 384 512" height="1em" width="1em" xmlns="http://www.w3.org/2000/svg"><path d="M215.7 499.2C267 435 384 279.4 384 192C384 86 298 0 192 0S0 86 0 192c0 87.4 117 243 168.3 307.2c12.3 15.3 35.1 15.3 47.4 0zM192 128a64 64 0 1 1 0 128 64 64 0 1 1 0-128z"></path></svg>
              <div class="truncate text-gray-700 text-xs uppercase">
                Jakarta, Indonesia
              </div>
            </div>
          </div>
        </div>
      </div>
      <!-- End card -->

      <!-- Card -->
      <div class="flex flex-1 flex-row items-stretch p-7">
        <div
          class="h-28 min-w-28 lg:h-[140px] lg:min-w-[140px] my-auto bg-no-repeat bg-center bg-cover rounded-lg border"
          style="background-image: url(https://res.cloudinary.com/startup-grind/image/upload/c_fit,dpr_2,f_auto,g_center,h_200,q_auto:good,w_200/v1/gcs/platform-data-cncf/chapter_banners/cncfMalagaPaz.jpeg);"
        ></div>
        <div class="min-w-0 pl-4 content-center">
          <div class="flex flex-col justify-between h-full">
            <div>
              <div class="truncate leading-3">
                <span class="text-xs font-semibold tracking-wide text-gray-400 uppercase">Europe</span>
              </div>
              <h2 class="font-semibold truncate">Málaga</h2>
            </div>

            <div class="text-[0.825rem] text-gray-500 line-clamp-2 h-[36px] my-2">
              Our Statement is the Cloud Native Computing Foundation statement itself:

              Cloud-native technologies empower organizations to build and run scalable applications in modern, dynamic environments such as public, private, and hybrid clouds. Containers, service meshes, microservices, immutable infrastructure, and declarative APIs exemplify this approach.

              These techniques enable loosely coupled systems that are resilient, manageable, and observable. Combined with robust automation, they allow engineers to make high-impact changes frequently and predictably with minimal toil.

              The Cloud Native Computing Foundation seeks to drive the adoption of this paradigm by fostering and sustaining an ecosystem of open-source, vendor-neutral projects. We democratize state-of-the-art patterns to make these innovations accessible to everyone.

              For more on this go to https://www.cncf.io/
            </div>

            <div class="flex flex-row leading-4 pt-1 lg:pt-2">
              <svg class="mt-0.5 w-3 h-3 me-2" stroke="currentColor" fill="currentColor" stroke-width="0" viewBox="0 0 384 512" height="1em" width="1em" xmlns="http://www.w3.org/2000/svg"><path d="M215.7 499.2C267 435 384 279.4 384 192C384 86 298 0 192 0S0 86 0 192c0 87.4 117 243 168.3 307.2c12.3 15.3 35.1 15.3 47.4 0zM192 128a64 64 0 1 1 0 128 64 64 0 1 1 0-128z"></path></svg>
              <div class="truncate text-gray-700 text-xs uppercase">
                Málaga, Spain
              </div>
            </div>
          </div>
        </div>
      </div>
      <!-- End card -->

      <!-- Card -->
      <div class="flex flex-1 flex-row items-stretch p-7">
        <div
          class="h-28 min-w-28 lg:h-[140px] lg:min-w-[140px] my-auto bg-no-repeat bg-center bg-cover rounded-lg border"
          style="background-image: url(https://res.cloudinary.com/startup-grind/image/upload/c_fit,dpr_2,f_auto,g_center,h_200,q_auto:good,w_200/v1/gcs/platform-data-cncf/chapter_banners/Morado%2520Azul%252C%2520Blanco%2520Tecnologi%25CC%2581a%2520hackato%25CC%2581n%2520Publicacio%25CC%2581n%2520de%2520Facebook%2520%25288%2529.png);"
        ></div>
        <div class="min-w-0 pl-4 content-center">
          <div class="flex flex-col justify-between h-full">
            <div>
              <div class="truncate leading-3">
                <span class="text-xs font-semibold tracking-wide text-gray-400 uppercase">Central and South America</span>
              </div>
              <h2 class="font-semibold truncate">San Salvador</h2>
            </div>

            <div class="text-[0.825rem] text-gray-500 line-clamp-2 h-[36px] my-2">
              Cloud-Native El Salvador ofrece un espacio virtual para la colaboración de entusiastas y profesionales interesados en las tecnologías orientadas al cómputo en la nube a través de herramientas de código abierto.
            </div>

            <div class="flex flex-row leading-4 pt-1 lg:pt-2">
              <svg class="mt-0.5 w-3 h-3 me-2" stroke="currentColor" fill="currentColor" stroke-width="0" viewBox="0 0 384 512" height="1em" width="1em" xmlns="http://www.w3.org/2000/svg"><path d="M215.7 499.2C267 435 384 279.4 384 192C384 86 298 0 192 0S0 86 0 192c0 87.4 117 243 168.3 307.2c12.3 15.3 35.1 15.3 47.4 0zM192 128a64 64 0 1 1 0 128 64 64 0 1 1 0-128z"></path></svg>
              <div class="truncate text-gray-700 text-xs uppercase">
                San Salvador, El Salvador
              </div>
            </div>
          </div>
        </div>
      </div>
      <!-- End card -->

      <!-- Card -->
      <div class="flex flex-1 flex-row items-stretch p-7">
        <div
          class="h-28 min-w-28 lg:h-[140px] lg:min-w-[140px] my-auto bg-no-repeat bg-center bg-cover rounded-lg border"
          style="background-image: url(https://res.cloudinary.com/startup-grind/image/upload/c_fit,dpr_2,f_auto,g_center,h_200,q_auto:good,w_200/v1/gcs/platform-data-cncf/chapter_banners/sev2.jpg);"
        ></div>
        <div class="min-w-0 pl-4 content-center">
          <div class="flex flex-col justify-between h-full">
            <div>
              <div class="truncate leading-3">
                <span class="text-xs font-semibold tracking-wide text-gray-400 uppercase">Europe</span>
              </div>
              <h2 class="font-semibold truncate">Cloud Native Sevilla</h2>
            </div>

            <div class="text-[0.825rem] text-gray-500 line-clamp-2 h-[36px] my-2">
              We area a group to discuss Cloud Native technologies and open source. Join us!

              Este grupo pretende ser un foro de debate sobre tecnologías Cloud Native como Kubernetes, y en general, todo el ecosistema open source que le rodea, desde Linux en el sistema operativo, pasando por containers y cyberseguridad. También nos interesamos por los diferentes proveedores cloud y sus peculiaridades, y toda la actividad DevOps y sus herramientas de automatización.
            </div>

            <div class="flex flex-row leading-4 pt-1 lg:pt-2">
              <svg class="mt-0.5 w-3 h-3 me-2" stroke="currentColor" fill="currentColor" stroke-width="0" viewBox="0 0 384 512" height="1em" width="1em" xmlns="http://www.w3.org/2000/svg"><path d="M215.7 499.2C267 435 384 279.4 384 192C384 86 298 0 192 0S0 86 0 192c0 87.4 117 243 168.3 307.2c12.3 15.3 35.1 15.3 47.4 0zM192 128a64 64 0 1 1 0 128 64 64 0 1 1 0-128z"></path></svg>
              <div class="truncate text-gray-700 text-xs uppercase">
                Sevilla, Spain
              </div>
            </div>
          </div>
        </div>
      </div>
      <!-- End card -->

      <!-- Card -->
      <div class="flex flex-1 flex-row items-stretch p-7">
        <div
          class="h-28 min-w-28 lg:h-[140px] lg:min-w-[140px] my-auto bg-no-repeat bg-center bg-cover rounded-lg border"
          style="background-image: url(https://res.cloudinary.com/startup-grind/image/upload/c_fit,dpr_2,f_auto,g_center,h_200,q_auto:good,w_200/v1/gcs/platform-data-cncf/chapter_banners/kubernetes-korea-group-logo-blue.png);"
        ></div>
        <div class="min-w-0 pl-4 content-center">
          <div class="flex flex-col justify-between h-full">
            <div>
              <div class="truncate leading-3">
                <span class="text-xs font-semibold tracking-wide text-gray-400 uppercase">Asia</span>
              </div>
              <h2 class="font-semibold truncate">Cloud Native Seoul</h2>
            </div>

            <div class="text-[0.825rem] text-gray-500 line-clamp-2 h-[36px] my-2">
              This is group for anyone interested in cloud native computing, including Kubernetes, Containers, Microservices Architecture, even some AI related topic. All skills levels are welcome. I started this group because to meet other developers and users looking into anything related to cloud native computing. Although I am just beginner in this container world, I expect to have a real fun with open source software technologies and people. :)
            </div>

            <div class="flex flex-row leading-4 pt-1 lg:pt-2">
              <svg class="mt-0.5 w-3 h-3 me-2" stroke="currentColor" fill="currentColor" stroke-width="0" viewBox="0 0 384 512" height="1em" width="1em" xmlns="http://www.w3.org/2000/svg"><path d="M215.7 499.2C267 435 384 279.4 384 192C384 86 298 0 192 0S0 86 0 192c0 87.4 117 243 168.3 307.2c12.3 15.3 35.1 15.3 47.4 0zM192 128a64 64 0 1 1 0 128 64 64 0 1 1 0-128z"></path></svg>
              <div class="truncate text-gray-700 text-xs uppercase">
                Seoul, South Korea
              </div>
            </div>
          </div>
        </div>
      </div>
      <!-- End card -->

      <!-- Card -->
      <div class="flex flex-1 flex-row items-stretch p-7">
        <div
          class="h-28 min-w-28 lg:h-[140px] lg:min-w-[140px] my-auto bg-no-repeat bg-center bg-cover rounded-lg border"
          style="background-image: url(https://res.cloudinary.com/startup-grind/image/upload/c_fit,dpr_2,f_auto,g_center,h_200,q_auto:good,w_200/v1/gcs/platform-data-cncf/chapter_banners/cncg-logo-v1_as9ZM59.png);"
        ></div>
        <div class="min-w-0 pl-4 content-center">
          <div class="flex flex-col justify-between h-full">
            <div>
              <div class="truncate leading-3">
                <span class="text-xs font-semibold tracking-wide text-gray-400 uppercase">Africa</span>
              </div>
              <h2 class="font-semibold truncate">Dakar</h2>
            </div>

            <div class="text-[0.825rem] text-gray-500 line-clamp-2 h-[36px] my-2">
              The CNCG Dakar (or CNCF Dakar) is the Cloud Native Community Group in Dakar, Senegal. It is a group of tech enthusiasts with a common interest in Cloud-Native Technologies and the CNCF ecosystem who are willing to share and learn together.

              Join other Cloud Natives in sharing of experiences of balancing speed of development and resiliency of operating continuously delivered software and on modern infrastructure.

              Cloud native technologies empower organizations to build and run scalable applications in modern, dynamic environments such as public, private, and hybrid clouds. Containers, service meshes, microservices, immutable infrastructure, and declarative APIs exemplify this approach.
            </div>

            <div class="flex flex-row leading-4 pt-1 lg:pt-2">
              <svg class="mt-0.5 w-3 h-3 me-2" stroke="currentColor" fill="currentColor" stroke-width="0" viewBox="0 0 384 512" height="1em" width="1em" xmlns="http://www.w3.org/2000/svg"><path d="M215.7 499.2C267 435 384 279.4 384 192C384 86 298 0 192 0S0 86 0 192c0 87.4 117 243 168.3 307.2c12.3 15.3 35.1 15.3 47.4 0zM192 128a64 64 0 1 1 0 128 64 64 0 1 1 0-128z"></path></svg>
              <div class="truncate text-gray-700 text-xs uppercase">
                Dakar, Senegal
              </div>
            </div>
          </div>
        </div>
      </div>
      <!-- End card -->

      <!-- Card -->
      <div class="flex flex-1 flex-row items-stretch p-7">
        <div
          class="h-28 min-w-28 lg:h-[140px] lg:min-w-[140px] my-auto bg-no-repeat bg-center bg-cover rounded-lg border"
          style="background-image: url(https://res.cloudinary.com/startup-grind/image/upload/c_fit,dpr_2,f_auto,g_center,h_400,q_auto:good,w_400/v1/gcs/platform-data-cncf/chapter_banners/kcd-logo-color_tiny_VnQAPvJ.png);"
        ></div>
        <div class="min-w-0 pl-4 content-center">
          <div class="flex flex-col justify-between h-full">
            <div>
              <div class="truncate leading-3">
                <span class="text-xs font-semibold tracking-wide text-gray-400 uppercase">Oceania</span>
              </div>
              <h2 class="font-semibold truncate">KCD Australia</h2>
            </div>

            <div class="text-[0.825rem] text-gray-500 line-clamp-2 h-[36px] my-2">

            </div>

            <div class="flex flex-row leading-4 pt-1 lg:pt-2">
              <svg class="mt-0.5 w-3 h-3 me-2" stroke="currentColor" fill="currentColor" stroke-width="0" viewBox="0 0 384 512" height="1em" width="1em" xmlns="http://www.w3.org/2000/svg"><path d="M215.7 499.2C267 435 384 279.4 384 192C384 86 298 0 192 0S0 86 0 192c0 87.4 117 243 168.3 307.2c12.3 15.3 35.1 15.3 47.4 0zM192 128a64 64 0 1 1 0 128 64 64 0 1 1 0-128z"></path></svg>
              <div class="truncate text-gray-700 text-xs uppercase">
                Sydney, Australia
              </div>
            </div>
          </div>
        </div>
      </div>
      <!-- End card -->

      <!-- Card -->
      <div class="flex flex-1 flex-row items-stretch p-7">
        <div
          class="h-28 min-w-28 lg:h-[140px] lg:min-w-[140px] my-auto bg-no-repeat bg-center bg-cover rounded-lg border"
          style="background-image: url(https://res.cloudinary.com/startup-grind/image/upload/c_fit,dpr_2,f_auto,g_center,h_400,q_auto:good,w_400/v1/gcs/platform-data-cncf/chapter_banners/tag-app-delivery-stacked-color_ukt2Q0B.png);"
        ></div>
        <div class="min-w-0 pl-4 content-center">
          <div class="flex flex-col justify-between h-full">
            <div>
              <div class="truncate leading-3">
                <span class="text-xs font-semibold tracking-wide text-gray-400 uppercase">Technical Advisory Groups</span>
              </div>
              <h2 class="font-semibold truncate">TAG App Delivery</h2>
            </div>

            <div class="text-[0.825rem] text-gray-500 line-clamp-2 h-[36px] my-2">
              TAG App Delivery focuses on enabling projects and initiatives related to delivering cloud-native applications, including building, deploying, managing, and operating them. The TAG produces guidance for and gathers feedback from cloud app users and developers and provides guidance and coordination to CNCF projects in the TAG's technical domains.
            </div>

            <div class="flex flex-row leading-4 pt-1 lg:pt-2">
              <svg class="mt-0.5 w-3 h-3 me-2" stroke="currentColor" fill="currentColor" stroke-width="0" viewBox="0 0 384 512" height="1em" width="1em" xmlns="http://www.w3.org/2000/svg"><path d="M215.7 499.2C267 435 384 279.4 384 192C384 86 298 0 192 0S0 86 0 192c0 87.4 117 243 168.3 307.2c12.3 15.3 35.1 15.3 47.4 0zM192 128a64 64 0 1 1 0 128 64 64 0 1 1 0-128z"></path></svg>
              <div class="truncate text-gray-700 text-xs uppercase">
                Central City, United States
              </div>
            </div>
          </div>
        </div>
      </div>
      <!-- End card -->

    </div>
    <!-- End cards -->
  </div>
{% endblock %}
