{% extends "base_explore.html" %}
{% block filters %}
  {% include "filters.html" %}
{% endblock %}

{% block content %}
  <!-- Cards -->
  <div class="flex flex-col divide-y">
    <!-- Card -->
    <div class="flex flex-1 flex-row py-5">
      <div
        class="size-20 bg-no-repeat bg-center bg-cover"
        style="
          background-image: url(https://res.cloudinary.com/startup-grind/image/upload/c_fit,dpr_2,f_auto,g_center,h_200,q_auto:good,w_200/v1/gcs/platform-data-cncf/chapter_banners/Social_3_DIeV2FS.png);
        "
      ></div>
      <div class="min-w-0 pl-8 content-center">
        <a class="w-full cursor-pointer hover:no-underline" href="#">
          <div class="pb-1">
            <span class="text-gray-700 text-xs uppercase"
              >Washington DC, United States</span
            >
          </div>
          <h2 class="font-semibold truncate pb-1">KCD Washington DC</h2>
          <div class="text-sm">
            <p class="truncate text-gray-500 italic">North America</p>
          </div>
        </a>
      </div>
    </div>
    <!-- End card -->

    <!-- Card -->
    <div class="flex flex-1 flex-row py-5">
      <div
        class="size-20 bg-no-repeat bg-center bg-cover"
        style="
          background-image: url(https://res.cloudinary.com/startup-grind/image/upload/c_fit,dpr_2,f_auto,g_center,h_200,q_auto:good,w_200/v1/gcs/platform-data-cncf/chapter_banners/KCDID%25202024%2520Black_WNFLnRc.png);
        "
      ></div>
      <div class="min-w-0 pl-8 content-center">
        <a class="w-full cursor-pointer hover:no-underline" href="#">
          <div class="pb-1">
            <span class="text-gray-700 text-xs uppercase"
              >Jakarta, Indonesia</span
            >
          </div>
          <h2 class="font-semibold truncate pb-1">KCD Indonesia</h2>
          <div class="text-sm">
            <p class="truncate text-gray-500 italic">Asia</p>
          </div>
        </a>
      </div>
    </div>
    <!-- End card -->

    <!-- Card -->
    <div class="flex flex-1 flex-row py-5">
      <div
        class="size-20 bg-no-repeat bg-center bg-cover"
        style="
          background-image: url(https://res.cloudinary.com/startup-grind/image/upload/c_fit,dpr_2,f_auto,g_center,h_200,q_auto:good,w_200/v1/gcs/platform-data-cncf/chapter_banners/cncfMalagaPaz.jpeg);
        "
      ></div>
      <div class="min-w-0 pl-8 content-center">
        <a class="w-full cursor-pointer hover:no-underline" href="#">
          <div class="pb-1">
            <span class="text-gray-700 text-xs uppercase">Málaga, Spain</span>
          </div>
          <h2 class="font-semibold truncate pb-1">Málaga</h2>
          <div class="text-sm">
            <p class="truncate text-gray-500 italic">Europe</p>
          </div>
        </a>
      </div>
    </div>
    <!-- End card -->

    <!-- Card -->
    <div class="flex flex-1 flex-row py-5">
      <div
        class="size-20 bg-no-repeat bg-center bg-cover"
        style="
          background-image: url(https://res.cloudinary.com/startup-grind/image/upload/c_fit,dpr_2,f_auto,g_center,h_200,q_auto:good,w_200/v1/gcs/platform-data-cncf/chapter_banners/Morado%2520Azul%252C%2520Blanco%2520Tecnologi%25CC%2581a%2520hackato%25CC%2581n%2520Publicacio%25CC%2581n%2520de%2520Facebook%2520%25288%2529.png);
        "
      ></div>
      <div class="min-w-0 pl-8 content-center">
        <a class="w-full cursor-pointer hover:no-underline" href="#">
          <div class="pb-1">
            <span class="text-gray-700 text-xs uppercase"
              >San Salvador, El Salvador</span
            >
          </div>
          <h2 class="font-semibold truncate pb-1">San Salvador</h2>
          <div class="text-sm">
            <p class="truncate text-gray-500 italic">Central and South America</p>
          </div>
        </a>
      </div>
    </div>
    <!-- End card -->

    <!-- Card -->
    <div class="flex flex-1 flex-row py-5">
      <div
        class="size-20 bg-no-repeat bg-center bg-cover"
        style="
          background-image: url(https://res.cloudinary.com/startup-grind/image/upload/c_fit,dpr_2,f_auto,g_center,h_200,q_auto:good,w_200/v1/gcs/platform-data-cncf/chapter_banners/sev2.jpg);
        "
      ></div>
      <div class="min-w-0 pl-8 content-center">
        <a class="w-full cursor-pointer hover:no-underline" href="#">
          <div class="pb-1">
            <span class="text-gray-700 text-xs uppercase">Sevilla, Spain</span>
          </div>
          <h2 class="font-semibold truncate pb-1">Cloud Native Sevilla</h2>
          <div class="text-sm">
            <p class="truncate text-gray-500 italic">Europe</p>
          </div>
        </a>
      </div>
    </div>
    <!-- End card -->

    <!-- Card -->
    <div class="flex flex-1 flex-row py-5">
      <div
        class="size-20 bg-no-repeat bg-center bg-cover"
        style="
          background-image: url(https://res.cloudinary.com/startup-grind/image/upload/c_fit,dpr_2,f_auto,g_center,h_200,q_auto:good,w_200/v1/gcs/platform-data-cncf/chapter_banners/kubernetes-korea-group-logo-blue.png);
        "
      ></div>
      <div class="min-w-0 pl-8 content-center">
        <a class="w-full cursor-pointer hover:no-underline" href="#">
          <div class="pb-1">
            <span class="text-gray-700 text-xs uppercase"
              >Seoul, South Korea</span
            >
          </div>
          <h2 class="font-semibold truncate pb-1">Cloud Native Seoul</h2>
          <div class="text-sm">
            <p class="truncate text-gray-500 italic">Asia</p>
          </div>
        </a>
      </div>
    </div>
    <!-- End card -->

    <!-- Card -->
    <div class="flex flex-1 flex-row py-5">
      <div
        class="size-20 bg-no-repeat bg-center bg-cover"
        style="
          background-image: url(https://res.cloudinary.com/startup-grind/image/upload/c_fit,dpr_2,f_auto,g_center,h_200,q_auto:good,w_200/v1/gcs/platform-data-cncf/chapter_banners/cncg-logo-v1_as9ZM59.png);
        "
      ></div>
      <div class="min-w-0 pl-8 content-center">
        <a class="w-full cursor-pointer hover:no-underline" href="#">
          <div class="pb-1">
            <span class="text-gray-700 text-xs uppercase">Dakar, Senegal</span>
          </div>
          <h2 class="font-semibold truncate pb-1">Dakar</h2>
          <div class="text-sm">
            <p class="truncate text-gray-500 italic">Africa</p>
          </div>
        </a>
      </div>
    </div>
    <!-- End card -->

    <!-- Card -->
    <div class="flex flex-1 flex-row py-5">
      <div
        class="size-20 bg-no-repeat bg-center bg-cover"
        style="
          background-image: url(https://res.cloudinary.com/startup-grind/image/upload/c_fit,dpr_2,f_auto,g_center,h_400,q_auto:good,w_400/v1/gcs/platform-data-cncf/chapter_banners/kcd-logo-color_tiny_VnQAPvJ.png);
        "
      ></div>
      <div class="min-w-0 pl-8 content-center">
        <a class="w-full cursor-pointer hover:no-underline" href="#">
          <div class="pb-1">
            <span class="text-gray-700 text-xs uppercase">Sydney, Australia</span>
          </div>
          <h2 class="font-semibold truncate pb-1">KCD Australia</h2>
          <div class="text-sm">
            <p class="truncate text-gray-500 italic">Oceania</p>
          </div>
        </a>
      </div>
    </div>
    <!-- End card -->

    <!-- Card -->
    <div class="flex flex-1 flex-row py-5">
      <div
        class="size-20 bg-no-repeat bg-center bg-cover"
        style="
          background-image: url(https://res.cloudinary.com/startup-grind/image/upload/c_fit,dpr_2,f_auto,g_center,h_400,q_auto:good,w_400/v1/gcs/platform-data-cncf/chapter_banners/tag-app-delivery-stacked-color_ukt2Q0B.png);
        "
      ></div>
      <div class="min-w-0 pl-8 content-center">
        <a class="w-full cursor-pointer hover:no-underline" href="#">
          <div class="pb-1">
            <span class="text-gray-700 text-xs uppercase"
              >Central City, United States</span
            >
          </div>
          <h2 class="font-semibold truncate pb-1">TAG App Delivery</h2>
          <div class="text-sm">
            <p class="truncate text-gray-500 italic">Technical Advisory Groups</p>
          </div>
        </a>
      </div>
    </div>
    <!-- End card -->
  </div>
{% endblock %}
