<!DOCTYPE html>
<html lang="en" class="h-full min-h-screen">
  <head>
    <title>{{ community.display_name }} community groups</title>
    <meta name="description"
          content="{{ community.display_name }} community groups">
    <meta name="keywords" content="community, groups, events">

    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <style>
      :root {
        --ocg-primary: {{ community.theme.primary_color }};
      }
    </style>

    {# Styles -#}
    <link rel="stylesheet" href="/static/vendor/css/leaflet.v1.9.4.min.css" />
    <link rel="stylesheet"
          href="/static/vendor/css/leaflet.markercluster.v1.5.3.min.css" />
    <link rel="stylesheet" href="/static/css/styles.css" />
    {# End styles -#}

    {# Scripts -#}
    <script type="text/javascript" src="/static/vendor/js/htmx.v2.0.4.min.js"></script>
    <script type="text/javascript"
            src="/static/vendor/js/sweetalert2.v11.17.2.min.js"></script>
    {# End scripts -#}

    <script type="text/javascript">
      // htmx extension to remove empty values from the parameters
      htmx.defineExtension("no-empty-vals", {
        encodeParameters: (xhr, parameters, elt) => {
          const currentParameters = new URLSearchParams(parameters);

          for (const key of [...currentParameters.keys()]) {
            const value = currentParameters.get(key).trim();
            // Remove empty values or "0"
            if (value === "" || value === "0") {
              parameters.delete(key);
            }
          }

          // Let HTMX encode the parameters
          return null;
        }
      });
    </script>
  </head>
  {# djlint:off #}
  <body class="h-full">
    {# Skip navigation link -#}
    <a href="#main-content" 
       class="sr-only focus:not-sr-only focus:absolute focus:top-2 focus:left-2 focus:z-50 focus:px-4 focus:py-2 focus:bg-primary-600 focus:text-white focus:rounded-md focus:shadow-lg">
      Skip to main content
    </a>
    {# End skip navigation link -#}
    
    <div class='min-h-full flex flex-col {% if path == "/" %}bg-white{% else %}bg-stone-100{% endif %}'>
      <div class='{%- if path == "/" -%}bg-stone-100{%- else if path == "/explore" -%}bg-transparent{%- endif -%}'>
        {% if !path.starts_with("/dashboard") -%}
          {# Header -#}
          <div class="px-4 lg:px-5">{% include "common/header.html" -%}</div>
          {# End header -#}
        {% endif -%}

        {# Jumbotron -#}
        {% block jumbotron -%}
        {% endblock jumbotron -%}
        {# End jumbotron -#}
      </div>

      {# Content -#}
      <main id="main-content" class="grow z-[1]" role="main">
        {% block content -%}
        {% endblock content -%}
      </main>
      {# End content -#}

      {% if !path.starts_with("/dashboard") -%}
        {# Footer -#}
        {% include "common/footer.html" -%}
        {# End footer -#}
      {% endif -%}
    </div>

    {% block scripts -%}
    {% endblock scripts -%}
  </body>
  {# djlint:on #}
</html>
