{# Variables for explore URLs #}
{# TODO: Hardcoded community until we add more #}
{% let explore_events = "/explore?community[0]=cncf&entity=events" %}
{% let explore_groups = "/explore?community[0]=cncf&entity=groups" %}
<!DOCTYPE html>
<html lang="en" class="h-full min-h-screen">
  <head>
    {# Page title -#}
    <title>Open Community Groups</title>
    <meta name="description" content="{{ site_settings.title }}">
    <meta name="keywords" content="community, groups, events">

    {#- OG tags #}
    <meta property="og:type" content="website">
    <meta property="og:title" content="Open Community Groups">
    <meta property="og:url" content="cncf.ocgroups.dev/">
    <meta property="og:description" content="{{ site_settings.title }}">
    {% if let Some(og_image_url) = &site_settings.og_image_url -%}
      <meta property="og:image" content="{{ og_image_url }}">
    {% endif -%}
    {#- End OG tags  #}

    {#- Twitter tags #}
    <meta name="twitter:card" content="summary_large_image">
    <meta property="twitter:domain" content="demo-cncf.ocgroups.dev">
    <meta property="twitter:url" content="cncf.ocgroups.dev">
    <meta name="twitter:title" content="Open Community Groups">
    <meta name="twitter:description" content="{{ site_settings.title }}">
    {% if let Some(og_image_url) = &site_settings.og_image_url -%}
      <meta name="twitter:image" content="{{ og_image_url }}">
    {% endif -%}
    {#- End Twitter tags #}

    {% if let Some(favicon_url) = &site_settings.favicon_url -%}
      <link rel="icon" href="{{ favicon_url }}" sizes="any">

    {% endif -%}
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    {# Styles -#}
    <link rel="stylesheet" href="/static/vendor/css/leaflet.v1.9.4.min.css" />
    <link rel="stylesheet"
          href="/static/vendor/css/leaflet.markercluster.v1.5.3.min.css" />
    <link rel="stylesheet" href="/static/vendor/css/easymde.v2.20.0.min.css" />
    <link rel="stylesheet" href="/static/css/styles.css" />
    <style>
      :root {
        --ocg-primary: {{ site_settings.theme.primary_color }};
        {% if !site_settings.theme.palette.is_empty() -%}
          {% for (color_name, color_value) in site_settings.theme.palette -%}
            --color-primary-{{ color_name }}: {{ color_value }};
          {% endfor -%}
        {% endif -%}
      }
    </style>

    {# End styles -#}

    {# Scripts -#}
    <script type="text/javascript" src="/static/vendor/js/htmx.v2.0.7.min.js"></script>
    <script type="text/javascript"
            src="/static/vendor/js/sweetalert2.v11.23.0.min.js"></script>
    <script src="/static/vendor/js/easymde.v2.20.0.min.js"></script>
    <script type="module" src="/static/js/common/form-validation.js"></script>
    <script type="module" src="/static/js/event/attendance.js"></script>
    <script type="module" src="/static/js/group/membership.js"></script>
    {# End scripts -#}

    <script type="text/javascript">
      // htmx extension to remove empty values from the parameters
      htmx.defineExtension("no-empty-vals", {
        encodeParameters: (xhr, parameters, elt) => {
          const currentParameters = new URLSearchParams(parameters);

          for (const key of [...currentParameters.keys()]) {
            const value = currentParameters.get(key).trim();
            // Remove empty values or "0"
            if (value === "" || value === "0") {
              parameters.delete(key);
            }
          }

          // Let HTMX encode the parameters
          return null;
        }
      });
    </script>
  </head>
  {# djlint:off #}
  <body class="h-full" hx-get
        hx-trigger="refresh-body">
    {# Skip navigation link -#}
    <a href="#main-content"
       class="sr-only focus:not-sr-only focus:absolute focus:top-2 focus:left-2 focus:z-50 focus:px-4 focus:py-2 focus:bg-primary-600 focus:text-white focus:rounded-md focus:shadow-lg">
      Skip to main content
    </a>
    {# End skip navigation link -#}

    {# Alert -#}
    {% if !path.starts_with("/dashboard") -%}
      {% include "common/demo_alert.html" -%}
    {% endif -%}
    {# End alert -#}

    <div class='min-h-full flex flex-col {% if path == "/" %}bg-white{% else %}bg-stone-100{% endif %}'>
      <div class='{%- if path == "/" -%}bg-linear-to-b from-white from-20% via-white from-80% md:from-60% lg:from-40% to-stone-900/12 to-98% lg:to-90% border-b border-stone-200{%- else if path == "/explore" -%}bg-transparent{%- endif -%}'>
        {# Header -#}
        {% if !path.starts_with("/dashboard") -%}
          <div class="px-4 lg:px-5">{% include "common/header.html" -%}</div>
        {% endif -%}
        {# End header -#}

        {# Jumbotron -#}
        {% block jumbotron -%}
        {% endblock jumbotron -%}
        {# End jumbotron -#}
      </div>

      {# Content -#}
      <main id="main-content" class='grow z-[1] {% if path == "/log-in" || path == "/sign-up" || path.contains("/check-in/") %}flex{% endif %}' role="main">
        {% block content -%}
        {% endblock content -%}
      </main>
      {# End content -#}

      {# Footer -#}
      {% if !path.starts_with("/dashboard") && path != "/log-in" && path != "/sign-up" && !path.contains("/check-in/") -%}
        {% include "common/footer.html" -%}
      {% endif -%}
      {# End footer -#}
    </div>

    {% block scripts -%}
    {% endblock scripts -%}
  </body>
  {# djlint:on #}
</html>
