{% extends "common/card_small_base.html" -%}
{% import "macros/ui.html" as ui -%}
{% import "macros/badges.html" as badges -%}
{% import "macros/cards.html" as cards -%}

{% block href -%}
  /{{ event.community_name }}/group/{{ event.group_slug }}/event/{{ event.slug }}
{% endblock href %}

{% block anchor_attributes -%}
  hx-boost="true"
  hx-target="body"
{% endblock anchor_attributes %}

{% block logo -%}
  {{ ui::logo(logo_url = event.logo_url, classes = "h-[60px] w-[60px] min-w-[60px]", size = 60) -}}
{% endblock logo %}

{% block corner_badge -%}
  {{ badges::sold_out_corner_badge(remaining_capacity = event.remaining_capacity, capacity = event.capacity) -}}
{% endblock corner_badge %}

{% block top_row_classes -%}
  pr-16 md:pr-18
{% endblock top_row_classes %}

{% block preheader -%}
  <span>{{ event.group_name }}</span>
{% endblock preheader %}

{% block title -%}
  {{ event.name|demoji }}
{% endblock title %}

{% block footer -%}
  {{ cards::event_footer(event = event, left_width_classes = "w-[60px] min-w-[60px]") -}}
{% endblock footer %}
