{% import "macros/ui.html" as ui -%}
{% import "macros/badges.html" as badges -%}

{# Event card -#}
<a href="/group/{{ event.group_slug }}/event/{{ event.slug }}"
   hx-boost="true"
   hx-target="body"
   class="group select-none">
  <div class="flex flex-1 flex-row items-stretch">
    {# Event icon -#}
    <div class="card-logo group-hover:opacity-75 transition-opacity relative">
      {{ ui::logo(logo_url = event.logo_url, classes = "hidden md:block h-[140px] w-[140px] min-w-[140px]", size = 140, color = event.group_color, name = Some(event.group_name) ) -}}
      {{ ui::logo(logo_url = event.logo_url, classes = "block h-14 w-14 min-w-14 md:hidden", size = 60, color = event.group_color) -}}
      {# Sold out badge -#}
      {{ badges::sold_out_overlay(remaining_capacity = event.remaining_capacity, inner_classes = Some("top-[42px] md:top-[55px] right-[-10px] md:right-[56px]") ) -}}
      {# End sold out badge -#}
    </div>
    {# End event icon -#}

    <div class="min-w-0 pl-4 content-center">
      <div class="flex flex-col justify-between h-full">
        <div>
          {# Event group name -#}
          <div class="card-header">
            {% block preheader %}
              <span>{{ event.group_name }}</span>
              <span class="px-1 hidden sm:inline">·</span>
              <span class="hidden sm:inline">{{ event.group_category_name }}</span>
            {% endblock preheader %}
          </div>
          {# End event group name -#}

          {# Event name -#}
          <div class="line-clamp-2 text-[0.9rem]/4 md:text-base font-semibold mt-2 md:mt-1 md:line-clamp-1 group-hover:underline">
            {{ event.name|demoji }}
          </div>
          {# End event name -#}
        </div>

        {# Event description on desktop -#}
        {% if let Some(description_short) = &event.description_short -%}
          <div class="hidden h-9 md:my-2 md:block">
            <p class="text-[0.8rem] text-stone-500 leading-[1.2rem] line-clamp-2">{{ description_short|demoji }}</p>
          </div>
        {% endif -%}
        {# End event description on desktop -#}

        <div class="hidden md:block">
          {# Event location -#}
          <div class="card-meta h-7">
            {% if event.kind != EventKind::Virtual -%}
              {% if let Some(location) = &self.event.location(36) -%}
                <div class="hidden truncate me-2 xl:block">
                  {{ ui::icon_text(icon_name = "location", text = self.event.location(57).expect("location to exist")) -}}
                </div>
                <div class="block truncate me-2 xl:hidden">
                  {{ ui::icon_text(icon_name = "location", text = location) -}}
                </div>
              {%- else -%}
                {{ ui::icon_text(icon_name = "location", text = "No location provided") -}}
              {% endif -%}
              {{ badges::event_badge(kind = event.kind, extra_styles = Some("ms-2") ) -}}
            {% else -%}
              {{ ui::icon_text(icon_name = "location", text = "Virtual") -}}
            {% endif -%}
          </div>
          {# End event location -#}

          {# Event date -#}
          <div class="flex items-center pt-0.75">
            {% if let Some(starts_at) = &event.starts_at -%}
              {{ ui::icon_text(icon_name = "date", text = starts_at.with_timezone(event.timezone).format("%A, %B %e, %G · %I:%M %p %Z")) -}}
            {% endif -%}
            {% if event.canceled -%}
              {{ badges::event_badge(kind = event.kind, canceled = true, extra_styles = Some("ms-3") ) -}}
            {% endif -%}
          </div>
          {# End event date -#}
        </div>
      </div>
    </div>
  </div>

  {# Mobile content -#}
  <div class="block md:hidden">
    {# Event location -#}
    <div class="card-meta mt-3 h-[21px]">
      {% if event.kind != EventKind::Virtual -%}
        {% if let Some(location) = &self.event.location(25) -%}
          {{ ui::icon_text(icon_name = "location", text = location, extra_styles = Some("me-2") ) -}}
          {{ badges::event_badge(kind = event.kind) -}}
        {%- else -%}
          {{ ui::icon_text(icon_name = "location", text = "No location provided", extra_styles = Some("me-2") ) -}}
        {% endif -%}
      {% else -%}
        {{ ui::icon_text(icon_name = "location", text = "Virtual", extra_styles = Some("me-2") ) -}}
      {% endif -%}
    </div>
    {# End event location -#}

    {# Event date -#}
    <div class="flex items-center pt-1">
      {% if let Some(starts_at) = &event.starts_at -%}
        {{ ui::icon_text(icon_name = "date", text = starts_at.with_timezone(event.timezone).format("%A, %B %e, %G · %I:%M %p %Z")) -}}
      {% endif -%}
      {% if event.canceled -%}
        {{ badges::event_badge(kind = event.kind, canceled = true, extra_styles = Some("ms-3") ) -}}
      {% endif -%}
    </div>
    {# End event date -#}
  </div>
  {# End mobile content -#}

  {# Description -#}
  {% if let Some(description_short) = &event.description_short -%}
    <div class="block md:hidden">
      <p class="text-[0.8rem] text-stone-500 leading-[1.2rem] line-clamp-2 mt-3">{{ description_short|demoji }}</p>
    </div>
  {% endif -%}
  {# End description -#}
</a>
{# End event card -#}
