{% import "common.html" as common %}
{% extends "community/explore/base.html" %}

{% block filters %}
  {% include "community/explore/events/filters.html" %}
{% endblock %}

{% block section %}events{% endblock %}

{% block results %}
  {% if results_section.events.len() > 0 %}
    {% call common::results_legend(results_section.total, results_section.events.len(), filters.offset) %}
  {% endif %}
{% endblock %}

{% block searchbar %}
  {% if let Some(ts_query) = filters.ts_query %}
    {% call common::search_bar("Search events by name, location or tags", ts_query, "events-form", "w-full md:w-3/4", "justify-center", false) %}
  {% else %}
    {% call common::search_bar("Search events by name, location or tags", "", "events-form", "w-full md:w-3/4", "justify-center", false) %}
  {% endif %}
{% endblock %}

{% block content %}
  {{ results_section|safe }}
{% endblock %}

