{% extends "notifications/base.html" -%}

{% block subject -%}
  {% if event_count == 1 -%}
    Event canceled by {{ group_name }}
  {% else -%}
    Events canceled by {{ group_name }}
  {% endif -%}
{% endblock subject -%}

{% block preheader -%}
  {% if event_count == 1 -%}
    {{ event_count }} event from {{ group_name }} has been canceled.
  {% else -%}
    {{ event_count }} events from {{ group_name }} have been canceled.
  {% endif -%}
{% endblock preheader -%}

{% block content -%}
  <p class="default mb-30">
    {% if event_count == 1 -%}
      We are sorry to inform you that {{ event_count }} event from
      <strong>{{ group_name }}</strong> has been <strong>canceled</strong>.
    {% else -%}
      We are sorry to inform you that {{ event_count }} events from
      <strong>{{ group_name }}</strong> have been <strong>canceled</strong>.
    {% endif -%}
  </p>

  {% for item in events -%}
    <p class="default mb-15">
      <strong>
        <a href="{{ item.link }}" target="_blank" rel="noopener noreferrer">{{ item.event.name }}</a>
      </strong>
      <br />
      {% if let Some(starts_at) = &item.event.starts_at -%}
        {{ starts_at.with_timezone(item.event.timezone).format("%A, %B %e, %G · %I:%M %p %Z") }}
        <br />
      {% endif -%}
      {% if let Some(location) = &item.event.location(90) -%}
        {{ location }}
        <br />
      {% endif -%}
    </p>
  {% endfor -%}

  <p class="default mt-30 mb-15">Thanks for your understanding.</p>
{% endblock content -%}

{% block footer -%}
  You received this email notification because you're attending, waitlisted, or
  speaking at canceled events from {{ group_name }}.
{% endblock footer -%}
