{% extends "notifications/base.html" -%}
{% import "notifications/email_macros.html" as macros %}

{% block subject -%}
  {{ title }}
{% endblock subject -%}

{% block preheader -%}
  Notification from {{ event.name }} in {{ event.group_name }}.
{% endblock preheader -%}

{% block content -%}
  <p class="default group">
    <strong>{{ event.group_name }}</strong>
  </p>
  <p class="default event mb-15">
    <strong>{{ event.name }}</strong>
  </p>
  <p class="default big mb-15 mt-5">{{ title }}</p>
  <p class="default mb-30">{{ body }}</p>
  {% call macros::email_button(link = link, text = "View event") %}
{% endblock content -%}

{% block footer -%}
  You are receiving this message from Open Community Groups.
{% endblock footer -%}
