{% extends "notifications/base.html" -%}
{% import "macros/email.html" as email -%}

{# Event Refund Completed Notification -#}
{% block subject -%}
  Refund completed: {{ event.name }}
{% endblock subject -%}

{% block preheader -%}
  Your payment for {{ event.name }} has been refunded.
{% endblock preheader -%}

{% block content -%}
  <p class="default mb-30" style="margin-bottom: 30px">
    Your payment for <strong>{{ event.name }}</strong> has been refunded.
    <br />
    <br />
    Your ticket has been released. The time it takes for the money to appear in
    your account depends on your payment provider and bank.
  </p>

  {{ email::button(link = link, text = "View event", color = theme.primary_color) }}
{% endblock content -%}

{% block footer -%}
  You received this email notification because a ticket payment was refunded for
  {{ event.name }}, an event from {{ event.group_name }} in the
  {{ event.community_display_name }} community.
{% endblock footer -%}
{# End event refund completed notification -#}
