{% extends "notifications/base.html" -%}
{% import "macros/email.html" as email -%}

{% block subject -%}
  You're in: {{ event.name }}
{% endblock subject -%}

{% block preheader -%}
  A seat opened up and you were moved from the waiting list into the event.
{% endblock preheader -%}

{% block content -%}
  <div class="default mb-30" style="margin-bottom: 30px">
    Good news - a seat opened up for <strong>{{ event.name }}</strong> from
    <strong>{{ event.group_name }}</strong>, and you are now registered.
    <br />
    <br />
    {% if let Some(starts_at) = &event.starts_at -%}
      Date &amp; time:
      {{ starts_at.with_timezone(event.timezone).format("%A, %B %e, %G · %I:%M %p %Z") }}
      <br />
    {% endif -%}
    {% if let Some(location) = &self.event.location(90) -%}
      Location: {{ location }}
      <br />
    {% endif -%}
    {% if let Some(meeting_join_url) = &event.meeting_join_url -%}
      Meeting link:
      <a href="{{ meeting_join_url }}"
         target="_blank"
         rel="noopener noreferrer">{{ meeting_join_url }}</a>
      <br />
      {% if let Some(meeting_password) = &event.meeting_password -%}
        Meeting password:
        <code class="ml-2 px-2 py-0.5 bg-stone-100 rounded text-stone-800">
          {{ meeting_password }}
        </code>
        <br />
      {% endif -%}
    {% endif -%}
    {% if let Some(meeting_join_instructions) = &event.meeting_join_instructions -%}
      Meeting instructions:
      <br />
      <br />
      <blockquote class="join-instructions">
        {{ meeting_join_instructions }}
      </blockquote>
      <br />
    {% endif -%}
  </div>

  {{ email::button(link = link, text = "View event", color = theme.primary_color) }}

  <p class="default mt-30 mb-15"
     style="margin-top: 30px;
            margin-bottom: 15px">Please find attached an .ics file containing the event details.</p>
{% endblock content -%}

{% block footer -%}
  You received this email notification because you were promoted from the
  waiting list for {{ event.name }}, an event from {{ event.group_name }} in the
  {{ event.community_display_name }} community.
{% endblock footer -%}
