{% extends "notifications/base.html" -%}
{% import "macros/email.html" as email -%}

{% block subject -%}
  New event: {{ event.name }}
{% endblock subject -%}

{% block preheader -%}
  A new event from {{ event.group_name }} is live.
{% endblock preheader -%}

{% block content -%}
  <p class="default mb-30">
    A new event, <strong>{{ event.name }}</strong>, has been published by
    <strong>{{ event.group_name }}</strong> on <strong>Open Community Groups</strong>.
    <br />
    <br />
    {% if let Some(starts_at) = &event.starts_at -%}
      Date: {{ starts_at.with_timezone(event.timezone).format("%A, %B %e, %G · %I:%M %p %Z") }}
      <br />
    {% endif -%}
    {% if let Some(location) = &self.event.location(90) -%}
      Location: {{ location }}
      <br />
    {% endif -%}
  </p>

  {{ email::button(link = link, text = "View event") }}

  <p class="default mt-30 mb-15">
    Please find attached an .ics file containing the event details
    <br />
    <br />
    You can view the event details and register if you're interested.
  </p>
{% endblock content -%}

{% block footer -%}
  You are receiving this because you follow {{ event.group_name }} or opted in to
  event updates. If this does not apply to you, you can ignore this message.
{% endblock footer -%}
