{% extends "notifications/base.html" -%}

{% block subject -%}
  {% if event_count == 1 -%}
    New event from {{ group_name }}
  {% else -%}
    New events from {{ group_name }}
  {% endif -%}
{% endblock subject -%}

{% block preheader -%}
  {% if event_count == 1 -%}
    {{ event_count }} new event from {{ group_name }} is live.
  {% else -%}
    {{ event_count }} new events from {{ group_name }} are live.
  {% endif -%}
{% endblock preheader -%}

{% block content -%}
  <p class="default mb-30">
    {% if event_count == 1 -%}
      <strong>{{ group_name }}</strong> published {{ event_count }} new event on
      <strong>Open Community Groups</strong>.
    {% else -%}
      <strong>{{ group_name }}</strong> published {{ event_count }} new events on
      <strong>Open Community Groups</strong>.
    {% endif -%}
  </p>

  {% for item in events -%}
    <p class="default mb-15">
      <strong>
        <a href="{{ item.link }}" target="_blank" rel="noopener noreferrer">{{ item.event.name }}</a>
      </strong>
      <br />
      {% if let Some(starts_at) = &item.event.starts_at -%}
        {{ starts_at.with_timezone(item.event.timezone).format("%A, %B %e, %G · %I:%M %p %Z") }}
        <br />
      {% endif -%}
      {% if let Some(location) = &item.event.location(90) -%}
        {{ location }}
        <br />
      {% endif -%}
    </p>
  {% endfor -%}

  <p class="default mt-30 mb-15">
    You can open any event above to view details and register if you're interested.
  </p>
{% endblock content -%}

{% block footer -%}
  You received this email notification because you're a member of {{ group_name }}
  in the {{ community_display_name }} community.
{% endblock footer -%}
