{% extends "notifications/base.html" -%}
{% import "macros/email.html" as email -%}

{% block subject -%}
  You have been invited to join the {{ group.name }} team
{% endblock subject -%}

{% block preheader -%}
  You received an invitation to the {{ group.name }} team.
{% endblock preheader -%}

{% block content -%}
  <p class="default mb-30" style="margin-bottom: 30px">
    You have been invited to join the <strong>{{ group.name }}</strong> team on
    <strong>Open Community Groups</strong>.
    <br />
    <br />
    Use the link below to review the details and accept or reject the
    invitation from your dashboard.
  </p>

  {{ email::button(link = link, text = "Review invitation", color = theme.primary_color) }}
{% endblock content -%}

{% block footer -%}
  You received this email notification because someone invited this email
  address to join the {{ group.name }} team in the
  {{ group.community_display_name }} community. If you did not expect this
  invitation, you can ignore this message.
{% endblock footer -%}
