{% extends "notifications/base.html" -%}
{% import "macros/email.html" as email -%}

{% block subject -%}
  {{ subject }}
{% endblock subject -%}

{% block preheader -%}
  Notification from {{ group.name }}.
{% endblock preheader -%}

{% block content -%}
  <p class="default group mb-15">
    <strong>{{ group.name }}</strong>
  </p>
  <p class="default big mb-15">{{ subject }}</p>
  <p class="default mb-30 preline" style="margin-bottom: 30px">{{ body }}</p>
  {{ email::button(link = link, text = "Visit group page", color = theme.primary_color) }}
{% endblock content -%}

{% block footer -%}
  You received this email notification because you're a member of {{ group.name }}
  in the {{ group.community_display_name }} community.
{% endblock footer -%}
