{% extends "notifications/base.html" -%}
{% import "macros/email.html" as email -%}

{# Speaker Welcome Notification -#}
{% block subject -%}
  You're speaking at {{ event.name }}
{% endblock subject -%}

{% block preheader -%}
  You are speaking at {{ event.name }} with {{ event.group_name }}.
{% endblock preheader -%}

{% block content -%}
  <div class="default mb-30" style="margin-bottom: 30px">
    Thanks for speaking at <strong>{{ event.name }}</strong> with
    <strong>{{ event.group_name }}</strong> on
    <strong>Open Community Groups</strong>.
    <br />
    <br />
    You're all set and we'll keep you posted if anything changes.
    <br />
    <br />
    {{ email::meeting_details(event = event) }}
  </div>

  {{ email::button(link = link, text = "View event", color = theme.primary_color) }}

  <p class="default mt-30 mb-15"
     style="margin-top: 30px;
            margin-bottom: 15px">
    Please find attached an .ics file containing the event details.
    <br />
    <br />
    Thanks for speaking!
  </p>
{% endblock content -%}

{% block footer -%}
  You received this email notification because you're speaking at
  {{ event.name }}, an event from {{ event.group_name }} in the
  {{ event.community_display_name }} community. If this wasn't you, you can
  ignore this message.
{% endblock footer -%}
{# End speaker welcome notification -#}
