{% extends "notifications/base.html" -%}
{% import "macros/email.html" as email -%}

{# Speaker Series Welcome Notification -#}
{% block subject -%}
  {% if event_count == 1 -%}
    You're speaking at an upcoming event
  {% else -%}
    You're speaking at upcoming events
  {% endif -%}
{% endblock subject -%}

{% block preheader -%}
  {% if event_count == 1 -%}
    You are speaking at {{ event_count }} event with {{ group_name }}.
  {% else -%}
    You are speaking at {{ event_count }} events with {{ group_name }}.
  {% endif -%}
{% endblock preheader -%}

{% block content -%}
  <p class="default mb-30">
    {% if event_count == 1 -%}
      Thanks for speaking at {{ event_count }} event with
      <strong>{{ group_name }}</strong> on <strong>Open Alliance Groups</strong>.
    {% else -%}
      Thanks for speaking at {{ event_count }} events with
      <strong>{{ group_name }}</strong> on <strong>Open Alliance Groups</strong>.
    {% endif -%}
    <br />
    <br />
    You're all set and we'll keep you posted if anything changes.
  </p>

  {% for item in events -%}
    <div class="default mb-15">
      <strong>
        <a href="{{ item.link }}" target="_blank" rel="noopener noreferrer">{{ item.event.name }}</a>
      </strong>
      <br />
      {{ email::meeting_details(event = item.event) }}
    </div>
  {% endfor -%}

  <p class="default mt-30 mb-15">Thanks for speaking!</p>
{% endblock content -%}

{% block footer -%}
  {% if event_count == 1 -%}
    You received this email notification because you're listed as a speaker for
    an event from {{ group_name }}.
  {% else -%}
    You received this email notification because you're listed as a speaker for
    events from {{ group_name }}.
  {% endif -%}
  If this wasn't you, you can ignore this message.
{% endblock footer -%}
{# End speaker series welcome notification -#}
