{% extends "common/event_card_small.html" -%}
{% import "macros/cards.html" as cards -%}

{# Site Explore Events Calendar Event Card -#}
{% block footer_top -%}
  {% if event.formatted_ticket_price_badge().is_some() -%}
    <div class="mb-2.5">{{ cards::ticket_price_badge(event, true) -}}</div>
  {% endif -%}
{% endblock footer_top %}

{% block footer -%}
  {{- cards::event_footer(event = event, left_width_classes = "w-[60px] min-w-[60px]", show_ticket_price = false) -}}
{%- endblock footer %}
{# End site explore events calendar event card -#}
