{% import "macros/dashboard.html" as dashboard -%}
{% import "macros/badges.html" as badges -%}

{{ dashboard::form_title(title = "Community Invitations",
description = "Manage invitations to join communities.") -}}

{# Community Invitations -#}
<div class="mt-10">
  <div class="relative overflow-visible">
    <table class="table-auto w-full text-xs lg:text-sm text-left text-stone-500 mb-10">
      <thead class="text-xs text-stone-700 uppercase bg-stone-100 border-b border-stone-200">
        <tr>
          <th scope="col" class="px-3 xl:px-5 py-3 w-auto lg:w-2/5 xl:w-1/3">Community</th>
          <th scope="col" class="px-3 xl:px-5 py-3">Created</th>
          <th scope="col" class="p-4 w-27"></th>
        </tr>
      </thead>
      <tbody>
        {% if community_invitations.is_empty() -%}
          <tr class="bg-white border-b border-stone-200">
            {# No invitations -#}
            <td class="px-8 py-16 text-center" colspan="3">
              <div class="flex flex-col items-center justify-center min-h-[125px]">
                <div class="text-lg lg:text-xl">You don't have any pending community invitation.</div>
              </div>
            </td>
          </tr>
        {% else -%}
          {% for invitation in community_invitations -%}
            <tr class="odd:bg-white even:bg-stone-50/50 border-b border-stone-200">
              {# Community -#}
              <td class="px-3 xl:px-5 py-4 font-medium text-stone-900">
                <div class="max-w-full text-black truncate uppercase">{{ invitation.community_name }}</div>
              </td>
              {# End community -#}

              {# Created at date -#}
              <td class="px-3 xl:px-5 py-4 whitespace-nowrap">{{ invitation.created_at.format(DATE_FORMAT_2) }}</td>
              {# End created at date -#}

              {# Actions -#}
              <td class="px-3 xl:px-5 py-4 w-27">
                <div class="flex items-center justify-center gap-x-2">
                  <div>
                    <button hx-put="/dashboard/user/invitations/community/{{ invitation.community_id }}/accept"
                            hx-indicator="#dashboard-spinner"
                            hx-disabled-elt="this"
                            class="btn-tertiary p-2"
                            title="Approve">
                      <div class="svg-icon size-3 md:size-4 icon-check"></div>
                    </button>
                  </div>
                  <div>
                    <button id="reject-community-{{ invitation.community_id }}"
                            hx-put="/dashboard/user/invitations/community/{{ invitation.community_id }}/reject"
                            hx-indicator="#dashboard-spinner"
                            hx-trigger="confirmed"
                            hx-disabled-elt="this"
                            class="btn-tertiary p-2 reject-modal"
                            title="Reject">
                      <div class="svg-icon size-2.5 md:size-3.5 icon-cancel"></div>
                    </button>
                    <script type="module">
                      import {
                        showConfirmAlert,
                        handleHtmxResponse,
                      } from '/static/js/common/alerts.js';
                      (() => {
                        const rejectBtn = document.getElementById('reject-community-{{ invitation.community_id }}');
                        if (rejectBtn) {
                          rejectBtn.addEventListener('click', () => {
                            showConfirmAlert(
                              "Are you sure you would like to reject this invitation?",
                              "reject-community-{{ invitation.community_id }}",
                              "Yes"
                            );
                          });

                          rejectBtn.addEventListener("htmx:afterRequest", (e) => {
                            const xhr = e.detail?.xhr;
                            handleHtmxResponse({
                              xhr,
                              successMessage: '',
                              errorMessage: "Something went wrong rejecting this invitation. Please try again later."
                            });
                          });
                        }
                      })();
                    </script>
                  </div>
                </div>
              </td>
              {# End actions -#}
            </tr>
          {% endfor -%}
        {% endif -%}
      </tbody>
    </table>
  </div>
</div>
{# End Community Invitations -#}

{# Groups Invitations -#}
{{ dashboard::form_title(title = "Group Invitations",
description = "Manage invitations to join groups.") -}}

<div class="mt-10">
  <div class="relative overflow-visible">
    <table class="table-auto w-full text-xs lg:text-sm text-left text-stone-500">
      <thead class="text-xs text-stone-700 uppercase bg-stone-100 border-b border-stone-200">
        <tr>
          <th scope="col" class="px-3 xl:px-5 py-3 w-auto lg:w-2/5 xl:w-1/3">Group</th>
          <th scope="col" class="px-3 xl:px-5 py-3">Role</th>
          <th scope="col" class="px-3 xl:px-5 py-3">Created</th>
          <th scope="col" class="p-4 w-27"></th>
        </tr>
      </thead>
      <tbody>
        {% if group_invitations.is_empty() -%}
          <tr class="bg-white border-b border-stone-200">
            {# No invitations -#}
            <td class="px-8 py-16 text-center" colspan="4">
              <div class="flex flex-col items-center justify-center min-h-[125px]">
                <div class="text-lg lg:text-xl">You don't have any pending group invitation.</div>
              </div>
            </td>
          </tr>
        {% else -%}
          {% for invitation in group_invitations -%}
            <tr class="odd:bg-white even:bg-stone-50/50 border-b border-stone-200">
              {# Group -#}
              <td class="px-3 xl:px-5 py-4 font-medium text-stone-900">
                <div class="max-w-full text-black truncate">{{ invitation.group_name }}</div>
              </td>
              {# End group -#}

              {# Role -#}
              <td class="px-3 xl:px-5 py-4 whitespace-nowrap">{{ badges::common_badge(content = invitation.role) -}}</td>
              {# End role -#}

              {# Created at date -#}
              <td class="px-3 xl:px-5 py-4 whitespace-nowrap">{{ invitation.created_at.format(DATE_FORMAT_2) }}</td>
              {# End created at date -#}

              {# Actions -#}
              <td class="px-3 xl:px-5 py-4 w-27">
                <div class="flex items-center justify-center gap-x-2">
                  <div>
                    <button hx-put="/dashboard/user/invitations/group/{{ invitation.group_id }}/accept"
                            hx-indicator="#dashboard-spinner"
                            hx-disabled-elt="this"
                            class="btn-tertiary p-2"
                            title="Approve">
                      <div class="svg-icon size-3 md:size-4 icon-check"></div>
                    </button>
                  </div>
                  <div>
                    <button id="reject-group-{{ invitation.group_id }}"
                            hx-put="/dashboard/user/invitations/group/{{ invitation.group_id }}/reject"
                            hx-indicator="#dashboard-spinner"
                            hx-trigger="confirmed"
                            hx-disabled-elt="this"
                            class="btn-tertiary p-2 reject-modal"
                            title="Reject">
                      <div class="svg-icon size-2.5 md:size-3.5 icon-cancel"></div>
                    </button>
                    <script type="module">
                      import {
                        showConfirmAlert,
                        handleHtmxResponse,
                      } from '/static/js/common/alerts.js';
                      (() => {
                        const rejectBtn = document.getElementById('reject-group-{{ invitation.group_id }}');
                        if (rejectBtn) {
                          rejectBtn.addEventListener('click', () => {
                            showConfirmAlert(
                              "Are you sure you would like to reject this invitation?",
                              "reject-group-{{ invitation.group_id }}",
                              "Yes"
                            );
                          });

                          rejectBtn.addEventListener("htmx:afterRequest", (e) => {
                            const xhr = e.detail?.xhr;
                            handleHtmxResponse({
                              xhr,
                              successMessage: '',
                              errorMessage: "Something went wrong rejecting this invitation. Please try again later."
                            });
                          });
                        }
                      })();
                    </script>
                  </div>
                </div>
              </td>
              {# End actions -#}
            </tr>
          {% endfor -%}
        {% endif -%}
      </tbody>
    </table>
  </div>
</div>
{# End Groups Invitations -#}
