{% import "common.html" as common -%}

{# MACROS -#}

{# Filters header -#}
{% macro header() -%}
  <div class="flex justify-between items-center border-solid border-0 border-b border-stone-100 p-5">
    <div class="font-semibold text-sm text-black">Filters</div>

    <div class="flex items-center">
      {# Filters view mode -#}
      {# Loading spinner -#}
      <div id="loading-filters" class="me-3 w-6 group">{% call common::small_spinner() -%}</div>
      {# End loading spinner -#}

      <button id="reset-filters" class="btn-mini hidden lg:flex reset-filters">Reset</button>
    </div>
  </div>
{% endmacro -%}
{# End filters header -#}

{# Entity selector -#}
{% macro entity_radio(selected) -%}
  <div class="px-6 py-7 border-b border-stone-100">
    <ul class="flex items-center w-full">
      {% match selected -%}
      {% when Entity::Groups -%}
      <li class="w-full">
        {# Events button -#}
        <button id="events-button"
                hx-get='/explore/events-section'
                hx-trigger="click"
                hx-target="#entity-section"
                hx-boost="true"
                class="inline-flex items-center justify-between w-full p-3 bg-white border border-stone-200 rounded-l-lg cursor-pointer text-stone-500 select-none hover:bg-stone-50 transition-colors">
          {% call entity_content(kind = "events", title = "Events", icon_styles = Some("bg-stone-500")) -%}
        </button>
        {# End events button -#}
      </li>
      <li class="w-full">
        {# Selected entity: groups -#}
        <div class="inline-flex items-center justify-between w-full p-3 bg-white border rounded-r-lg text-primary-500 border-primary-500">
          {% call entity_content(kind = "groups", title = "Groups", styles = Some("select-none"), icon_styles = Some("bg-primary-500")) -%}
        </div>
        {# End selected entity: groups -#}
      </li>
      <script type="module">
        import {
          showLoadingSpinner
        } from '/static/js/common/common.js';

        const eventsButton = document.getElementById('events-button');
        if (eventsButton) {
          eventsButton.addEventListener('htmx:trigger', () => {
            showLoadingSpinner("loading-filters");
            showLoadingSpinner("loading-filters-mobile");
          });
        }
      </script>

      {% when Entity::Events -%}
      <li class="w-full">
        {# Selected entity: events -#}
        <div class="inline-flex items-center justify-between w-full p-3 bg-white border rounded-l-lg text-primary-500 border-primary-500">
          {% call entity_content(kind = "events", title = "Events", styles = Some("select-none"), icon_styles = Some("bg-primary-500")) -%}
        </div>
        {# End selected entity: events -#}
      </li>
      <li class="w-full">
        {# Groups event -#}
        <button id="groups-button"
                hx-get='/explore/groups-section'
                hx-trigger="click"
                hx-target="#entity-section"
                hx-boost="true"
                class="inline-flex items-center justify-between w-full p-3 bg-white border border-stone-200 rounded-r-lg cursor-pointer text-stone-500 select-none hover:bg-stone-50 transition-colors">
          {% call entity_content(kind = "groups", title = "Groups", icon_styles = Some("bg-stone-500")) -%}
        </button>
        {# End groups button -#}
      </li>
      <script type="module">
        import {
          showLoadingSpinner
        } from '/static/js/common/common.js';

        const groupsButton = document.getElementById('groups-button');
        if (groupsButton) {
          groupsButton.addEventListener('htmx:trigger', () => {
            showLoadingSpinner("loading-filters");
            showLoadingSpinner("loading-filters-mobile");
          });
        }
      </script>
    {% endmatch -%}
  </ul>
</div>
{% endmacro entity_radio -%}
{# End entity selector -#}

{# Entity content -#}
{% macro entity_content(kind, title, styles = None, icon_styles = None) -%}
  {% let styles_ = styles.unwrap_or("") -%}
  {% let icon_styles_ = icon_styles.unwrap_or("") -%}

  <div class="flex w-full flex-col items-center {{ styles_ }}">
    {# Icon -#}
    <div class="svg-icon h-4 w-4 icon-{{ kind }} {{ icon_styles_ }}"></div>
    {# End icon -#}

    {# Title -#}
    <div class="text-[0.775rem] mt-1.5">{{ title }}</div>
    {# End title -#}
  </div>
{% endmacro entity_content -%}
{# End entity content -#}

{# Input date -#}
{% macro date_input(name, label, value) -%}
  <div class="w-full">
    <div class="text-xs/6 text-stone-500/75 capitalize mb-1">{{ label }}:</div>
    <div class="relative w-[75%]">
      <input name="{{ name }}"
             validate="false"
             value="{%- if let Some(date) = value -%} {{ date }} {%- endif -%}"
             type="date"
             class="inline-flex bg-white border border-stone-200 text-[0.775rem] leading-4 h-[29px] text-center rounded-lg focus:ring-0 focus:border-primary-500 w-full px-2 py-1.5 hover:bg-stone-50 transition-colors"
             placeholder="Date {{ label }}">
    </div>
  </div>
{% endmacro date_input -%}
{# End input date -#}
