{% import "common.html" as common -%}

{# MACROS -#}

{# Filters header -#}
{% macro header() -%}
  <div class="flex justify-between items-center border-solid border-0 border-b border-gray-100 p-5">
    <div class="font-semibold text-sm text-black">Filters</div>

    <div class="flex items-center">
      {# Filters view mode -#}
      {# Loading spinner -#}
      <div id="loading-filters" class="me-3 w-6 group">{% call common::small_spinner() -%}</div>
      {# End loading spinner -#}

      {% call common::secondary_mini_button(id = "reset-filters", content = "Reset", extra_styles = Some("hidden lg:flex reset-filters")) -%}
    </div>
  </div>
{% endmacro -%}
{# End filters header -#}

{# Entity selector -#}
{% macro entity_radio(selected) -%}
  <div class="px-6 py-7 border-b border-gray-100">
    <ul class="flex items-center w-full">
      {% match selected -%}
      {% when Entity::Groups -%}
      <li class="w-full">
        {# Events button -#}
        <button id="events-button"
                hx-get='/explore/events-section'
                hx-trigger="click"
                hx-target="#entity-section"
                hx-boost="true"
                class="inline-flex items-center justify-between w-full p-3 bg-white border border-gray-200 rounded-l-lg cursor-pointer text-gray-500 select-none hover:bg-gray-50">
          {% call entity_content(kind = "events", title = "Events", icon_styles = Some("bg-gray-500")) -%}
        </button>
        {# End events button -#}
      </li>
      <li class="w-full">
        {# Selected entity: groups -#}
        <div class="inline-flex items-center justify-between w-full p-3 bg-white border rounded-r-lg text-primary-500 border-primary-500">
          {% call entity_content(kind = "groups", title = "Groups", styles = Some("select-none"), icon_styles = Some("bg-primary-500")) -%}
        </div>
        {# End selected entity: groups -#}
      </li>
      <script type="module">
        import {
          showLoadingSpinner
        } from '/static/js/common/common.js';

        const eventsButton = document.getElementById('events-button');
        if (eventsButton) {
          eventsButton.addEventListener('htmx:trigger', () => {
            showLoadingSpinner("loading-filters");
            showLoadingSpinner("loading-filters-mobile");
          });
        }
      </script>

      {% when Entity::Events -%}
      <li class="w-full">
        {# Selected entity: events -#}
        <div class="inline-flex items-center justify-between w-full p-3 bg-white border rounded-l-lg text-primary-500 border-primary-500">
          {% call entity_content(kind = "events", title = "Events", styles = Some("select-none"), icon_styles = Some("bg-primary-500")) -%}
        </div>
        {# End selected entity: events -#}
      </li>
      <li class="w-full">
        {# Groups event -#}
        <button id="groups-button"
                hx-get='/explore/groups-section'
                hx-trigger="click"
                hx-target="#entity-section"
                hx-boost="true"
                class="inline-flex items-center justify-between w-full p-3 bg-white border border-gray-200 rounded-r-lg cursor-pointer text-gray-500 select-none hover:bg-gray-50">
          {% call entity_content(kind = "groups", title = "Groups", icon_styles = Some("bg-gray-500")) -%}
        </button>
        {# End groups button -#}
      </li>
      <script type="module">
        import {
          showLoadingSpinner
        } from '/static/js/common/common.js';

        const groupsButton = document.getElementById('groups-button');
        if (groupsButton) {
          groupsButton.addEventListener('htmx:trigger', () => {
            showLoadingSpinner("loading-filters");
            showLoadingSpinner("loading-filters-mobile");
          });
        }
      </script>
    {% endmatch -%}
  </ul>
</div>
{% endmacro entity_radio -%}
{# End entity selector -#}

{# Entity content -#}
{% macro entity_content(kind, title, styles = None, icon_styles = None) -%}
  {% let styles_ = styles.unwrap_or("") -%}
  {% let icon_styles_ = icon_styles.unwrap_or("") -%}

  <div class="flex w-full flex-col items-center {{ styles_ }}">
    {# Icon -#}
    <div class="svg-icon h-4 w-4 icon-{{ kind }} {{ icon_styles_ }}"></div>
    {# End icon -#}

    {# Title -#}
    <div class="text-[0.8rem] mt-1.5">{{ title }}</div>
    {# End title -#}
  </div>
{% endmacro entity_content -%}
{# End entity content -#}

{# Checkbox input -#}
{% macro checkbox_input(name, label, value, active_filters, styles = None) -%}
  {% let styles_ = styles.unwrap_or("") -%}

  <li data-input-item="true" class="{{ styles_ }}">
    <input type="checkbox"
           name="{{ name }}"
           id="{{ value }}"
           value="{{ value }}"
           class="hidden peer"
           {% if active_filters.contains(&value.to_string()) %}checked{% endif %}>
    <label for="{{ value }}"
           class="inline-flex items-center justify-between w-full px-2 py-1 text-gray-500 bg-white border border-gray-200 rounded-lg cursor-pointer select-none peer-checked:border-primary-500 hover:text-gray-600 peer-checked:text-primary-500 hover:bg-gray-50">
      <div class="text-[0.8rem] text-center text-nowrap">{{ label }}</div>
    </label>
  </li>
{% endmacro checkbox_input -%}
{# End checkbox input-#}

{# Radio input -#}
{% macro radio_input(name, label, value, active_filter, styles = None) -%}
  {% let styles_ = styles.unwrap_or("") -%}

  <li data-input-item="true" class="{{ styles_ }}">
    {% if let Some(active) = active_filter -%}
      <input type="radio"
             name="{{ name }}"
             id="{{ value }}"
             value="{{ value }}"
             class="hidden peer"
             {% if &active.to_string() == value %}checked{% endif %}>
    {% else -%}
      <input type="radio"
             name="{{ name }}"
             id="{{ value }}"
             value="{{ value }}"
             class="hidden peer">
    {% endif -%}
    <label for="{{ value }}"
           class="inline-flex items-center justify-between w-full px-2 py-1 text-gray-500 bg-white border border-gray-200 rounded-lg cursor-pointer select-none peer-checked:border-primary-500 hover:text-gray-600 peer-checked:text-primary-500 hover:bg-gray-50">
      <div class="text-[0.8rem] text-center text-nowrap">{{ label }}</div>
    </label>
  </li>
{% endmacro radio_input -%}
{# End radio input-#}

{# Input date -#}
{% macro date_input(name, label, value) -%}
  <div class="w-full">
    <div class="text-[10px] uppercase leading-4 text-gray-500 mb-1">{{ label }}:</div>
    <div class="relative w-[75%]">
      <input name="{{ name }}"
             validate="false"
             value="{%- if let Some(date) = value -%} {{ date }} {%- endif -%}"
             type="date"
             class="inline-flex bg-white border border-gray-200 text-[0.8rem] leading-4 h-[29px] text-center rounded-lg focus:ring-0 focus:border-primary-500 w-full px-2 py-1.5 hover:bg-gray-50"
             placeholder="Date {{ label }}">
    </div>
  </div>
{% endmacro date_input -%}
{# End input date -#}

{# Collapsible header -#}
{% macro collapsible_header(title, label, items_length, max_visible_items_number) -%}
  <div class="flex justify-between items-center">
    <div class="font-semibold text-[0.8rem] text-black leading-6">{{ title }}</div>
    <div>
      {% if items_length > max_visible_items_number -%}
        <button data-label="{{ label }}"
                type="button"
                class="group/btn collapse-btn border border-gray-200 hover:bg-gray-700 focus:ring-0 focus:outline-none focus:ring-gray-300 font-medium rounded-full text-sm p-1 text-center inline-flex items-center">
          <span class="hidden group-[.collapsed]:block">
            <div class="svg-icon h-3 w-3 bg-gray-500 group-hover/btn:bg-white icon-caret-down"></div>
          </span>
          <span class="block group-[.collapsed]:hidden">
            <div class="svg-icon h-3 w-3 bg-gray-500 group-hover/btn:bg-white icon-caret-up"></div>
          </span>
        </button>
      {% endif -%}
    </div>
  </div>
{% endmacro collapsible_header -%}
{# End collapsible header -#}

{# Collapsible footer -#}
{% macro collapsible_footer(label, items_length, max_visible_items_number) -%}
  {% if items_length > max_visible_items_number -%}
    <div class="mt-4 -mb-1.5">
      <button data-label="{{ label }}"
              type="button"
              class="collapse-btn text-gray-500 hover:text-gray-700 focus:ring-0 focus:outline-none focus:ring-gray-300 font-medium text-xs">
        <span class="hidden group-[.collapsed]:block">+ Show more</span>
        <span class="block group-[.collapsed]:hidden">- Show less</span>
      </button>
    </div>
  {% endif -%}
{% endmacro collapsible_footer -%}
{# End collapsible footer -#}

{# Collapsible filter with checkboxes -#}
{% macro collapsible_filter_checkboxes(title, options, name, active_filters, view, max_visible_items_number) -%}
  <div data-collapsible-label="{{ name }}"
       class="px-6 py-7 pt-5 border-b border-gray-100 group collapsed"
       data-collapsible-item="true"
       data-max-items="{{ max_visible_items_number }}">
    {% call collapsible_header(title = title, label = name, items_length = options.len(), max_visible_items_number = max_visible_items_number) -%}
    <ul class="flex w-full gap-2 mt-3
               {% if *view == "rows" -%}
                 flex-col {%- else -%} flex-wrap {%- endif -%}">
      <li>
        <input type="checkbox"
               name="any"
               value=""
               id="any-checkbox-{{ name }}"
               class="hidden peer"
               {% if active_filters.is_empty() %}checked{% endif %}>
        <label for="any-checkbox-{{ name }}"
               class="inline-flex items-center justify-between w-full px-2 py-1 text-gray-500 bg-white border border-gray-200 rounded-lg cursor-pointer select-none peer-checked:border-primary-500 hover:text-gray-600 peer-checked:text-primary-500 hover:bg-gray-50">
          <div class="text-[0.8rem] text-center text-nowrap">Any</div>
        </label>
      </li>
      {% for option in options -%}
        {% if loop.index <= *max_visible_items_number -%}
          {% call checkbox_input(name = name, label = option.name, value = option.value, active_filters = active_filters) -%}
        {% else -%}
          {% call checkbox_input(name = name, label = option.name, value = option.value, active_filters = active_filters, styles = Some("hidden")) -%}
        {% endif -%}
      {% endfor -%}
    </ul>
    {% call collapsible_footer(label = name, items_length = options.len(), max_visible_items_number = max_visible_items_number) -%}
  </div>
  <script type="module">
    import {
      selectAnyOption
    } from '/static/js/community/explore/filters.js';

    const anyCheckbox = document.getElementById('any-checkbox-{{ name }}');
    if (anyCheckbox) {
      anyCheckbox.addEventListener('click', () => selectAnyOption('{{ name }}', 'checkbox'));
    }
  </script>
{% endmacro collapsible_filter_checkboxes -%}
{# End collapsible filter with checkboxes -#}

{# Collapsible filter with radios -#}
{% macro collapsible_filter_radios(title, options, name, active_filter, view, max_visible_items_number) -%}
  <div id="collapsible-{{ name }}"
       class="px-6 py-7 pt-5 border-b border-gray-100 group collapsed"
       data-collapsible-item="true"
       data-max-items="{{ max_visible_items_number }}">
    {% call collapsible_header(title = title, label = name, items_length = options.len(), max_visible_items_number = max_visible_items_number) -%}
    <ul class="flex w-full gap-2 mt-3
               {% if *view == "rows" -%}
                 flex-col {%- else -%} flex-wrap {%- endif -%}">
      <li>
        {% if let Some(selected) = active_filter -%}
          <input type="radio"
                 name="any"
                 value=""
                 id="any-radio-{{ name }}"
                 class="hidden peer">
        {% else -%}
          <input type="radio"
                 name="any"
                 value=""
                 id="any-radio-{{ name }}"
                 class="hidden peer"
                 checked>
        {% endif -%}
        <label for="any-radio-{{ name }}"
               class="inline-flex items-center justify-between w-full px-2 py-1 text-gray-500 bg-white border border-gray-200 rounded-lg cursor-pointer select-none peer-checked:border-primary-500 hover:text-gray-600 peer-checked:text-primary-500 hover:bg-gray-50">
          <div class="text-[0.8rem] text-center text-nowrap">Any</div>
        </label>
      </li>
      {% for option in options -%}
        {% if loop.index <= *max_visible_items_number -%}
          {% call radio_input(name = name, label = option.name, value = option.value, active_filter = active_filter) -%}
        {% else -%}
          {% call radio_input(name = name, label = option.name, value = option.value, active_filter = active_filter, styles = Some("hidden")) -%}
        {% endif -%}
      {% endfor -%}
    </ul>
    {% call collapsible_footer(label = name, items_length = options.len(), max_visible_items_number = max_visible_items_number) -%}
  </div>
  <script type="module">
    import {
      selectAnyOption
    } from '/static/js/community/explore/filters.js';

    const anyRadio = document.getElementById('any-radio-{{ name }}');
    if (anyRadio) {
      anyRadio.addEventListener('click', () => selectAnyOption('{{ name }}', 'radio', true));
    }
  </script>
{% endmacro collapsible_filter_radios -%}
{# End collapsible filter with radios -#}
