{% extends "community/base.html" %}

{% block header_color %}
  bg-transparent
{% endblock header_color %}
{% block bg_color %}
  bg-gray-100
{% endblock bg_color %}

{% block content %}
  {# Community title -#}
  <div class="text-center pt-5">
    <h1 class="mb-4 mx-5 text-xl font-bold tracking-tight leading-none md:text-2xl lg:text-4xl xl:text-5xl">
      {{ community.title }}
    </h1>
  </div>
  {# End community title -#}

  {# Main content -#}
  <div id="explore-content"
       class="relative container mx-auto max-w-7xl px-4 pt-10 pb-[3.5rem] sm:px-6 lg:px-8">

    {# Entity section -#}
    <div id="entity-section" class="relative">
      {% match entity %}
      {% when Entity::Groups %}
      {# Groups section -#}
      {% if let Some(groups_section) = groups_section %}{{ groups_section|safe }}{% endif %}
      {# End groups section -#}
      {% when Entity::Events %}
      {# Events section -#}
      {% if let Some(events_section) = events_section %}{{ events_section|safe }}{% endif %}
      {# End events section -#}
    {% endmatch %}
  </div>
  {# End entity section -#}
</div>
{# End main content -#}

<script type="module">
  import {
    expandFiltersUsed
  } from '/static/js/community/explore/filters.js';
  import {
    hideLoadingSpinner
  } from '/static/js/common/common.js';

  expandFiltersUsed();

  const entitySection = document.querySelector('#entity-section');
  entitySection.addEventListener('htmx:afterSwap', () => {
    window.scrollTo({
      top: 0,
      behavior: 'instant'
    })
    hideLoadingSpinner("loading-filters");
    hideLoadingSpinner("loading-filters-mobile");
  });
  entitySection.addEventListener('htmx:afterSettle', () => {
    expandFiltersUsed();
  });
</script>
{% endblock content %}
