{% extends "common/base.html" -%}

{% block scripts -%}
  <script type="module"
          src="/static/js/community/explore/collapsible-filter.js"></script>
{% endblock scripts -%}

{% block content -%}
  {# Community title -#}
  <div class="text-center pt-2 xl:pt-5">
    <h1 class="mb-2 xl:mb-6 mx-3 md:mx-5 text-[1.4rem] font-semibold tracking-tight leading-8 sm:leading-none md:text-2xl lg:text-4xl xl:text-5xl">
      {{ community.title }}
    </h1>
  </div>
  {# End community title -#}

  {# Main content -#}
  <div id="explore-content"
       class="relative container mx-auto max-w-7xl p-4 pb-8 sm:p-6 lg:p-8 lg:pb-16 flex grow h-full">

    {# Entity section -#}
    <div id="entity-section" class="relative w-full">
      {% match entity -%}
      {% when Entity::Groups -%}
      {# Groups section -#}
      {% if let Some(groups_section) = groups_section %}{{ groups_section|safe }}{% endif %}
      {# End groups section -#}
      {% when Entity::Events -%}
      {# Events section -#}
      {% if let Some(events_section) = events_section %}{{ events_section|safe }}{% endif %}
      {# End events section -#}
    {% endmatch -%}
  </div>
  {# End entity section -#}
</div>
{# End main content -#}

<script type="module">
  import {
    hideLoadingSpinner
  } from '/static/js/common/common.js';

  const entitySection = document.getElementById('entity-section');
  if (entitySection) {
    entitySection.addEventListener('htmx:afterSwap', () => {
      window.scrollTo({
        top: 0,
        behavior: 'instant'
      })
      hideLoadingSpinner("loading-filters");
      hideLoadingSpinner("loading-filters-mobile");
    });
  }

  // Re-initialize dynamic widgets (e.g., calendar) on history restore
  document.body.addEventListener('htmx:historyRestore', async () => {
    const calendarBox = document.getElementById('calendar-box');
    if (calendarBox) {
      const module = await import('/static/js/community/explore/calendar.js');
      new module.Calendar();
    }
  });
</script>
{% endblock content -%}
